<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="search-params">
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::text-input('name', #{name})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('starbase', #{starbase})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('hasRoute', #{has_route})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('hasNativeSpecies', #{has_native_species})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('autoBuildsMines', #{auto_builds_mines})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('autoBuildsFactories', #{auto_builds_factories})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('autoSellsSupplies', #{auto_sells_supplies})}"></th:block>
			</div>
			<div class="col-sm-6 col-lg-3">
				<th:block th:replace="~{ingame/overview-modal-fragments::yes-no-select('autoBuildsDefense', #{auto_builds_defense})}"></th:block>
			</div>
		</th:block>

		<th:block th:fragment="table-header">
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'COLONY_OVERVIEW_NAME', #{name}, null, false)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-1', 'COLONY_OVERVIEW_COLONISTS', #{colonists}, 'fa fa-male', true)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-1', 'COLONY_OVERVIEW_MONEY', #{money}, 'fa fa-coins', true)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-1', 'COLONY_OVERVIEW_SUPPLIES', #{supplies}, 'fa fa-cube', true)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-1', 'COLONY_OVERVIEW_FUEL', #{fuel}, 'fa fa-circle', true)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-1', 'COLONY_OVERVIEW_MINERAL1', #{mineral2}, 'fas fa-certificate', true)}"></div>
			<div class="col-5">
				<div class="row">
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'COLONY_OVERVIEW_MINERAL2', #{mineral2}, 'fas fa-square-full', true)}"></div>
					<div
						th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'COLONY_OVERVIEW_MINERAL3', #{mineral3}, 'fas fa-fas fa-play fa-rotate-90', true)}"
					></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'COLONY_OVERVIEW_MINES', #{mines}, 'fa fa-monument', true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'COLONY_OVERVIEW_FACTORIES', #{factories}, 'fa fa-industry', true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'COLONY_OVERVIEW_DEFENSE', #{planetary_defense}, 'fab fa-fort-awesome', true)}"></div>
					<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'COLONY_ORBITAL_SYSTEMS', #{orbital_systems}, 'fas fa-building', true)}"></div>
				</div>
			</div>
		</th:block>

		<th:block th:fragment="table-row(resultItem)">
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{name}:|">:</div>
			<div class="col-6 col-sm-3 d-lg-none text-end" th:text="${resultItem.name}">Planet name</div>
			<div class="d-none d-lg-flex col-lg-2" th:text="${resultItem.name}">Planet name</div>
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{colonists}:|">:</div>
			<div class="col-6 col-sm-3 col-lg-1 text-end" th:text="${resultItem.colonists}">10000</div>
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{money}:|">:</div>
			<div class="col-6 col-sm-3 col-lg-1 text-end" th:text="${resultItem.money}">100</div>
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{supplies}:|">:</div>
			<div class="col-6 col-sm-3 col-lg-1 text-end" th:text="${resultItem.supplies}">100</div>
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{fuel}:|">:</div>
			<div class="col-6 col-sm-3 col-lg-1 text-end" th:text="${resultItem.fuel}">100</div>
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{mineral1}:|">:</div>
			<div class="col-6 col-sm-3 col-lg-1 text-end" th:text="${resultItem.mineral1}">100</div>
			<div class="col-lg-5">
				<div class="row" th:id="${resultItem.id}">
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{mineral2}:|">:</div>
					<div class="col-6 col-sm-3 col-lg-2 text-end" th:text="${resultItem.mineral2}">100</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{mineral3}:|">:</div>
					<div class="col-6 col-sm-3 col-lg-2 text-end" th:text="${resultItem.mineral3}">100</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{mines}:|">:</div>
					<div class="col-6 col-sm-3 col-lg-2 text-end" th:text="${resultItem.mines}">100</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{factories}:|">:</div>
					<div class="col-6 col-sm-3 col-lg-2 text-end" th:text="${resultItem.factories}">100</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{planetary_defense}:|">:</div>
					<div class="col-6 col-sm-3 col-lg-2 text-end" th:text="${resultItem.planetaryDefense}">100</div>
					<div class="col-6 col-sm-3 d-lg-none" th:text="|#{orbital_systems}:|">:</div>
					<div class="col-6 col-sm-3 col-lg-2 text-end" th:text="|${resultItem.getBuiltOrbitalSystemCount()}/${resultItem.getOrbitalSystemCount()}|">1/4</div>
				</div>
			</div>
		</th:block>

		<div
			th:fragment="content"
			th:replace="~{ingame/overview-modal-fragments::overview-modal(#{colonies}, 'colony-overview', 'ingame/colony-overview::search-params', 'ingame/colony-overview::table-header', 'ingame/colony-overview::table-row(${resultItem})', ${planets}, ${coloniesOverviewSortFields})}"
		></div>

		<div
			th:fragment="table-content"
			th:replace="~{ingame/overview-modal-fragments::table-content('colony-overview', 'ingame/colony-overview::table-row(${resultItem})', ${planets})}"
		></div>
	</body>
</html>
