<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="search-params">
			<div class="col-sm-6 col-lg-4">
				<skr-button
					type="button"
					class="btn btn-primary mb-3"
					id="skr-fleet-overview-create-fleet-button"
					onclick="fleetDetails.openCreateFleetModal()"
					th:if="${!turnDone}"
				>
					<i class="fa-fw fas fa-plus"></i>
					<span th:text="#{create_new_fleet}">Create new fleet</span>
				</skr-button>

				<th:block th:replace="~{ingame/overview-modal-fragments::text-input('name', #{name})}"></th:block>
			</div>
		</th:block>

		<th:block th:fragment="table-header">
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', 'FLEET_OVERVIEW_NAME', #{name}, null, false)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-3', null, #{task}, null, true)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'FLEET_OVERVIEW_SHIP_COUNT', #{ships}, null, true)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'FLEET_OVERVIEW_FUEL_PERCENTAGE', #{fuel}, null, true)}"></div>
			<div th:replace="~{ingame/overview-modal-fragments::column-header('col-2', 'FLEET_OVERVIEW_PROJECTILE_PERCENTAGE', #{projectiles}, null, true)}"></div>
		</th:block>

		<th:block th:fragment="table-row(resultItem)">
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{name}:|"></div>
			<div class="col-lg-3 d-none d-lg-flex" th:text="${resultItem.name}">Fleet name</div>
			<div class="col-6 col-sm-3 d-lg-none text-end" th:text="${resultItem.name}">Fleet name</div>
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{task}:|"></div>
			<div
				class="col-6 col-sm-3 col-lg-3 text-end"
				th:text="${resultItem.taskType != null} ? (${resultItem.taskType.equals('ACTIVE_ABILITY')} ? #{'ship_ability_' + ${resultItem.activeAbilityType.toUpperCase()}} : #{'task_' + ${resultItem.taskType.toLowerCase()}}) : #{no_common_task}"
			>
				Task
			</div>
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{ships}:|"></div>
			<div class="col-6 col-sm-3 col-lg-2 text-end ship-count" th:text="${resultItem.shipCount}">5</div>
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{fuel}:|"></div>
			<div class="col-6 col-sm-3 col-lg-2 text-end" th:text="|${#numbers.formatDecimal(resultItem.fuelPercentage * 100, 1, 'POINT', 0, 'COMMA')}%|">50%</div>
			<div class="col-6 col-sm-3 d-lg-none" th:text="|#{projectiles}:|"></div>
			<div class="col-6 col-sm-3 col-lg-2 text-end" th:text="|${#numbers.formatDecimal(resultItem.projectilePercentage * 100, 1, 'POINT', 0, 'COMMA')}%|">75%</div>
		</th:block>

		<div
			th:fragment="content"
			th:replace="~{ingame/overview-modal-fragments::overview-modal(#{fleets}, 'fleet-overview', 'ingame/fleet-overview::search-params', 'ingame/fleet-overview::table-header', 'ingame/fleet-overview::table-row(${resultItem})', ${fleets}, ${fleetsOverviewSortFields})}"
		></div>

		<div
			th:fragment="table-content"
			th:replace="~{ingame/overview-modal-fragments::table-content('fleet-overview', 'ingame/fleet-overview::table-row(${resultItem})', ${fleets})}"
		></div>
	</body>
</html>
