<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="w-100 d-inline-flex justify-content-between align-items-center">
				<label th:if="${label != null && label.length() > 0}" class="icon-label" th:text="${label}">Label</label>
				<label th:tooltip="${labelTitle}" th:flow="${flow != null} ? ${flow} : 'up'">
					<span class="skr-icon-label-value" th:text="${value}">Value</span>
					<i th:class="|icon-label-icon fa-fw ${icon}|"></i>
				</label>
			</div>
		</div>
	</body>
</html>
