<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-ingame-ship-selection" class="container">
			<input type="hidden" id="skr-ingame-current-x" th:value="${x}" />
			<input type="hidden" id="skr-ingame-current-y" th:value="${y}" />

			<div id="skr-ingame-selection-panel-top"></div>

			<div class="skr-ingame-selection-panel row">
				<div class="row skr-ingame-selection-panel-item ship pe-0" th:each="ship : ${ships}">
					<div
						class="col-12 pe-0"
						th:id="|skr-ingame-ship-stats-details-${ship.id}|"
						th:insert="~{ingame/ship/ship::stats-details}"
						th:with="ship=${ship},forSelection=true"
					></div>
					<div class="col-12 pe-0">
						<hr />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
