<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="row g-0">
				<div class="col-12">
					<i class="fa-fw fa fa-space-shuttle"></i>
					[
					<span th:text="${ship.name}">Schiffname</span>
					]
					<label th:text="${@masterDataService.getShipTemplateName(ship.shipTemplate)}">Schiffklasse</label>
				</div>
			</div>
			<div class="row g-0" th:if="${@configProperties.isDisablePermissionChecks() || (ship.player.id != null && ship.player.id == playerId)}">
				<div class="col-12 skr-game-details-mouseover-content">
					<div class="row g-0">
						<div class="col-12 fw-bold" th:text="|#{task}: ${@shipTaskString.retrieveTaskString(ship)}|"></div>
					</div>
					<div class="row g-0">
						<div class="col-6">
							<i class="fa-fw fa fa-male"></i>
							<span th:text="${ship.colonists}">50000</span>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-6">
							<i class="fa-fw fa fa-coins"></i>
							<span th:text="${ship.money}">50000</span>
						</div>
						<div class="col-6">
							<i class="fa-fw fa fa-cube"></i>
							<span th:text="${ship.supplies}">50000</span>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-6">
							<i class="fa-fw fas fa-circle"></i>
							<span th:text="${ship.fuel}">50000</span>
						</div>
						<div class="col-6">
							<i class="fa-fw fas fa-certificate"></i>
							<span th:text="${ship.mineral1}">50000</span>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-6">
							<i class="fa-fw fas fa-square-full"></i>
							<span th:text="${ship.mineral2}">50000</span>
						</div>
						<div class="col-6">
							<i class="fa-fw fas fa-play fa-rotate-90"></i>
							<span th:text="${ship.mineral3}">50000</span>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-6">
							<i class="fa-fw fas fa-book-open"></i>
							<span th:text="${ship.log != null && ship.log.length() > 0} ? ${ship.log} : #{no_log_entry}">50000</span>
						</div>
						<div class="col-6" th:if="${ship.fleet != null}">
							<i class="fa-fw fas fa-grip-vertical"></i>
							<span th:text="${ship.fleet.name}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
