<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
	<div class="row">
		<div class="col-12">
			<i class="fa-fw fa fa-globe"></i>
			<span th:if="${starbaseType == null}" th:text="${starbaseName}">Starbase Name</span>
			<span th:if="${starbaseType != null}" th:text="|${starbaseName} (#{${starbaseType}})|">Starbase Name (Starbase Type)</span>
		</div>
	</div>
	<div class="row g-0">
		<div class="col-12 skr-game-details-mouseover-content">
			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fas fa-space-shuttle"></i>
					<span th:text="${starbaseHullLevel}"></span>
				</div>
				<div class="col-6">
					<i class="fa-fw fas fa-angle-double-right"></i>
					<span th:text="${starbasePropulsionLevel}"></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-6">
					<i class="fa-fw fas fa-bolt"></i>
					<span th:text="${starbaseEnergyLevel}"></span>
				</div>
				<div class="col-6">
					<i class="fa-fw fas fa-rocket"></i>
					<span th:text="${starbaseProjectileLevel}"></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-12">
					<i class="fa-fw fas fa-tools"></i>
					<span
						th:text="${starbaseShipConstructionName != null} ? |#{constructs_ship(${starbaseShipConstructionName})}| : #{no_ship_is_being_constructed}"
					></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-12">
					<i class="fa-fw fas fa-book-open"></i>
					<span th:text="${starbaseLog != null && starbaseLog.length() > 0} ? ${starbaseLog} : #{no_log_entry}">
						50000
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:fragment="scanned">
	<div class="row">
		<div class="col-12">
			<i class="fa-fw fa fa-globe"></i>
			<span th:text="|${starbaseName} (#{${starbaseType}})|">Starbase Name (Starbase Type)</span>
		</div>
	</div>
</div>
</body>
</html>
