<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div th:fragment="navigation" id="skr-ingame-navigation-content">
				<div class="row">
					<input type="hidden" th:value="#{not_enough_fuel}" id="skr-ship-courseselect-notenoughfuel-text" />
					<input type="hidden" th:value="#{ship_destination_cycle_detected}" id="skr-ship-courseselect-cycle-detected-text" />

					<input type="hidden" th:value="${ship.id}" id="skr-ship-id" />
					<input type="hidden" th:value="${ship.shipTemplate.mass}" id="skr-ship-courseselect-mass" />
					<input type="hidden" th:value="${ship.name}" id="skr-ship-courseselect-shipname" />
					<input type="hidden" th:value="${ship.fuel}" id="skr-ship-courseselect-fuel" />
					<input type="hidden" th:value="${ship.x}" id="skr-ship-courseselect-shipx" />
					<input type="hidden" th:value="${ship.y}" id="skr-ship-courseselect-shipy" />
					<input type="hidden" th:value="${ship.destinationX}" id="skr-ship-courseselect-destinationx" />
					<input type="hidden" th:value="${ship.destinationY}" id="skr-ship-courseselect-destinationy" />
					<input type="hidden" th:value="${destinationName}" id="skr-ship-courseselect-destination-name" />
					<input type="hidden" th:value="${destinationShipId}" id="skr-ship-courseselect-destination-ship-id" />

					<input type="hidden" th:value="#{turns}" id="skr-ship-turns-text" />
					<input type="hidden" th:value="#{turn}" id="skr-ship-turn-text" />
					<input type="hidden" th:value="#{light_years}" id="skr-ship-light-years-text" />

					<input type="hidden" th:value="${ship.mineral2}" id="skr-ship-courseselect-mineral2" />
					<input type="hidden" th:value="${ship.propulsionSystemTemplate.techLevel}" id="skr-ship-courseselect-propulsion-techlevel" />

					<input type="hidden" th:value="${fuelConsumptionData}" id="skr-ship-courseselect-fuelconsumptiondata" />

					<input type="hidden" th:value="#{course_mode_active}" id="skr-ship-navigation-course-mode-active-text" />
					<input type="hidden" th:value="#{course_mode_inactive}" id="skr-ship-navigation-course-mode-inactive-text" />

					<div class="col-12">
						<div class="d-inline-flex align-items-center justify-content-between w-100 mb-2">
							<h5>
								<span class="normal" th:text="#{navigation}">Navigation</span>
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-navigation',title=#{help_ship_navigation_title},fragment='simple',content=#{help_ship_navigation_intro},toolTipFlow='down'"
								></span>
							</h5>

							<skr-button
								id="skr-ingame-navigation-set-course-button"
								class="btn btn-primary"
								style="display: none"
								th:text="#{course_mode_inactive}"
								onclick="window.shipNavigation.toggleSelectionMode()"
							>
								Course mode inactive
							</skr-button>

							<div class="d-inline-flex align-items-center">
								<skr-button
									type="button"
									th:style="|display: ${showFollowLeaderButton ? 'block' : 'none'}|"
									class="btn btn-secondary"
									id="skr-ship-courseselect-follow-leader"
									onclick="shipNavigation.followLeader()"
									flow="left"
									th:tooltip="#{follow_leader}"
								>
									<i class="fa-fw fas fa-grip-vertical"></i>
								</skr-button>
								<skr-button
									type="button"
									th:style="|display: ${showResumeRouteButton ? 'block' : 'none'}|"
									class="btn btn-secondary ms-2"
									id="skr-ship-courseselect-resume-route"
									onclick="shipNavigation.resumeRoute()"
									flow="left"
									th:tooltip="#{resume_route}"
								>
									<i class="fa-fw fas fa-retweet"></i>
								</skr-button>
								<skr-button
									type="button"
									class="btn btn-danger ms-2"
									disabled
									id="skr-ship-courseselect-delete-course"
									onclick="shipNavigation.deleteCourse()"
									flow="left"
									th:tooltip="#{delete_course}"
								>
									<i class="fa-fw fas fa-minus-circle"></i>
								</skr-button>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="row mb-2">
							<div class="col-6">
								<div class="fw-bold" th:text="#{destination_coordinates}">Destination coordinates</div>
								<div id="skr-ship-courseselect-coordinates">- / -</div>
							</div>
							<div class="col-6">
								<div class="fw-bold" th:text="#{distance}">Distance</div>
								<div id="skr-ship-courseselect-distance">-</div>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-6">
								<div class="fw-bold" th:text="#{destination_name}">Destination name</div>
								<div id="skr-ship-courseselect-name"></div>
							</div>
							<div class="col-6">
								<div class="fw-bold" th:text="#{speed}">Speed</div>
								<div th:fragment="warp-speed-select">
									<select
										class="form-select form-select-sm"
										th:id="|skr-ship-courseselect-speed-select${elemIdPostfix == null ? '' : elemIdPostfix}|"
										th:onchange="${escort} ? 'window.shipTask.changeTask()' : 'window.contextMenuHandler.onChangeSpeedSelect(event)'"
									>
										<option
											th:each="speed : ${#numbers.sequence(1, ship.propulsionSystemTemplate.warpSpeed)}"
											th:selected="${ship.travelSpeed == speed}"
											th:value="${speed}"
											th:text="#{warp} + ' ' + ${speed}"
										>
											Warp 1
										</option>
										<option
											th:if="${ship.propulsionSystemTemplate.warpSpeed < 9 && ship.propulsionSystemTemplate.warpSpeed > 1}"
											th:each="speed : ${#numbers.sequence(ship.propulsionSystemTemplate.warpSpeed + 1, 9)}"
											th:selected="${ship.travelSpeed == speed}"
											class="skr-ingame-navigation-over-speed-warp-entry"
											th:value="${speed}"
											th:text="#{warp} + ' ' + ${speed}"
										>
											Warp 2
										</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="row mb-2">
							<div class="col-9">
								<div class="fw-bold" th:text="#{duration}">Duration</div>
								<div id="skr-ship-courseselect-duration">-</div>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-12">
								<div class="fw-bold" th:text="#{fuel_consumption}">Lemin consumption</div>
								<div id="skr-ship-courseselect-fuelconsumption">0</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" th:if="${fleetView != null && fleetView && hasShipsWitLowerMaxWarpSpeedThanLeader != null && hasShipsWitLowerMaxWarpSpeedThanLeader}">
					<div class="col-12">
						<div style="margin-left: 152px">
							<input
								type="checkbox"
								th:checked="${fleetSpeedWasForced != null && fleetSpeedWasForced}"
								id="skr-ingame-force-fleet-travel-speed"
								class="form-check-input"
								th:onchange="|shipNavigation.toggleForceFleetTravelSpeed(${ship.fleet.id}, event)|"
							/>
							<label class="form-check-label" for="skr-ingame-force-fleet-travel-speed" th:text="#{force_fleet_travel_speed}">
								Set all ships in fleet to this travel speed
							</label>
						</div>
					</div>
				</div>
			</div>

			<hr />

			<input type="hidden" id="skr-ingame-task" th:value="${ship.taskType}" />
			<input type="hidden" id="skr-ingame-active-ability" th:value="${ship.activeAbility != null} ? ${ship.activeAbility.type} : null" />
			<input
				type="hidden"
				id="skr-ingame-escort-target-id"
				th:value="${ship.destinationShip != null && allShips.contains(ship.destinationShip)} ? ${ship.destinationShip.id} : null"
			/>
			<input type="hidden" id="skr-ingame-escort-speed" th:value="${ship.travelSpeed}" />

			<h5>
				<span class="normal" th:text="#{task}">Task</span>
				<span th:insert="~{ingame/help::content}" th:with="id='ship-tasks',title=#{help_ship_tasks_title},fragment='simple',content=#{help_ship_tasks}"></span>
			</h5>

			<form id="skr-ingame-ship-task-form">
				<div class="row g-0">
					<div class="col-sm-5">
						<div class="row g-0">
							<div class="col-12 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="NONE"
									th:attr="tasktype='NONE'"
									name="task"
									th:checked="${ship.taskType.name() == 'NONE'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="NONE" th:text="#{task_none}">None</label>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-12 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="AUTOREFUEL"
									th:attr="tasktype='AUTOREFUEL'"
									name="task"
									th:checked="${ship.taskType.name() == 'AUTOREFUEL'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="AUTOREFUEL" th:text="#{task_autorefuel}">Autorefuel</label>
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-tasks-autorefuel',title=#{task_autorefuel},fragment='simple',content=#{help_ship_tasks_autorefuel}"
								></span>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-12 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="SHIP_RECYCLE"
									th:attr="tasktype='SHIP_RECYCLE'"
									name="task"
									th:checked="${ship.taskType.name() == 'SHIP_RECYCLE'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="SHIP_RECYCLE" th:text="#{task_ship_recycle}">Ship recycle</label>
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-tasks-recycle',title=#{task_ship_recycle},fragment='simple',content=#{help_ship_tasks_recycling}"
								></span>
							</div>
						</div>
						<div class="row g-0" th:if="${ship.damage > 0}">
							<div class="col-12 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="REPAIR"
									th:attr="tasktype='REPAIR'"
									name="task"
									th:checked="${ship.taskType.name() == 'REPAIR'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="REPAIR" th:text="#{task_repair}">Repair</label>
								<span th:insert="~{ingame/help::content}" th:with="id='ship-tasks-repair',title=#{task_repair},fragment='simple',content=#{help_ship_tasks_repair}"></span>
							</div>
						</div>
						<div class="row g-0" th:if="${ship.crew < ship.shipTemplate.crew}">
							<div class="col-7 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="HIRE_CREW"
									th:attr="tasktype='HIRE_CREW'"
									name="task"
									th:checked="${ship.taskType.name() == 'HIRE_CREW'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="HIRE_CREW" th:text="#{task_hire_crew}">Hire crew</label>
							</div>
							<div class="col-4">
								<input
									type="number"
									class="form-control form-control-sm"
									id="HIRE_CREW_value"
									min="1"
									th:max="${ship.shipTemplate.crew - ship.crew}"
									th:value="${ship.taskValue != null && ship.taskType.name() == 'HIRE_CREW'} ? ${ship.taskValue} : ${ship.shipTemplate.crew - ship.crew}"
									onchange="window.shipTask.changeTask()"
								/>
							</div>
							<div class="col-1">
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-tasks-hire-crew',title=#{task_hire_crew},fragment='simple',content=#{help_ship_tasks_hire_crew}"
								></span>
							</div>
						</div>
						<div class="row g-0" th:if="${ship.hasWeapons()}">
							<div class="col-12 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="CAPTURE_SHIP"
									th:attr="tasktype='CAPTURE_SHIP'"
									name="task"
									th:checked="${ship.taskType.name() == 'CAPTURE_SHIP'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="CAPTURE_SHIP" th:text="#{task_capture_ship}">Capture ship</label>
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-tasks-capture-ship',title=#{task_capture_ship},fragment='simple',content=#{help_ship_tasks_capture_ship}"
								></span>
							</div>
						</div>
						<div class="row g-0" th:if="${ship.hasWeapons()}">
							<div class="col-12 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="PLANET_BOMBARDMENT"
									th:attr="tasktype='PLANET_BOMBARDMENT'"
									name="task"
									th:checked="${ship.taskType.name() == 'PLANET_BOMBARDMENT'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="PLANET_BOMBARDMENT" th:text="#{task_planet_bombardment}">Planet bombardment</label>
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-tasks-planet-bombardment',title=#{task_planet_bombardment},fragment='simple',content=#{help_ship_tasks_planet_bombardment}"
								></span>
							</div>
						</div>
						<div class="row g-0" th:if="${mineFieldsEnabled && ship.projectiles > 0}">
							<div class="col-7 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="CREATE_MINE_FIELD"
									th:attr="tasktype='CREATE_MINE_FIELD'"
									name="task"
									th:checked="${ship.taskType.name() == 'CREATE_MINE_FIELD'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="CREATE_MINE_FIELD" th:text="#{task_create_mine_field}"> Create mine field </label>
							</div>
							<div class="col-3">
								<input
									type="number"
									class="form-control form-control-sm"
									id="CREATE_MINE_FIELD_value"
									min="1"
									th:max="${ship.projectiles}"
									th:value="${ship.taskValue != null && ship.taskType.name() == 'CREATE_MINE_FIELD'} ? ${ship.taskValue} : ${ship.projectiles}"
									onchange="window.shipTask.changeTask()"
								/>
							</div>
							<div class="col-2">
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-tasks-create-minefield',title=#{task_create_mine_field},fragment='simple',content=#{help_ship_tasks_create_minefield}"
								></span>
							</div>
						</div>
						<div class="row g-0" th:if="${mineFieldsEnabled && ship.shipTemplate.hangarCapacity > 0}">
							<div class="col-12 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="CLEAR_MINE_FIELD"
									th:attr="tasktype='CLEAR_MINE_FIELD'"
									name="task"
									th:checked="${ship.taskType.name() == 'CLEAR_MINE_FIELD'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="CLEAR_MINE_FIELD" th:text="#{task_clear_mine_field}">Clear mine field</label>
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-tasks-clear-minefield',title=#{task_clear_mine_field},fragment='simple',content=#{help_ship_tasks_clear_minefield}"
								></span>
							</div>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="row g-0" th:each="ability : ${ship.shipTemplate.shipAbilities}" th:if="${!ability.type.passive}">
							<div class="form-check" th:classappend="${ability.type.hasValueType()} ? 'col-6' : 'col-12'">
								<input
									type="radio"
									class="form-check-input skr-ingame-ship-ability-input"
									th:id="${ability.type.name()}"
									th:attr="tasktype='ACTIVE_ABILITY'"
									name="task"
									th:checked="${activeAbility != null && activeAbility == ability.type}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" th:for="${ability.type.name()}" th:text="#{'ship_ability_' + ${ability.type.name()}}">Ability name</label>
								<span
									th:insert="~{ingame/help::content}"
									th:if="${!ability.type.hasValueType()}"
									th:with="id=${'ship-ability-' + ability.type.name()},title=#{'ship_ability_' + ${ability.type.name()}},fragment='simple',content=${abilityDescriptions.get(ability.id).description}"
								></span>
							</div>
							<div class="col-5 form-check" th:if="${ability.type.hasValueType()}">
								<input
									th:if="${ability.type.hasBooleanValueType()}"
									type="checkbox"
									th:checked="${ship.activeAbility == ability && ship.taskValue != null && ship.taskValue.equals('true')}"
									class="form-check-input"
									th:id="|${ability.type.name()}_value|"
									onclick="window.shipTask.changeTask()"
								/>
								<label
									class="form-check-label"
									th:if="${ability.type.getValueLabel() != null}"
									th:for="|${ability.type.name()}_value|"
									th:text="#{${ability.type.getValueLabel()}}"
								>
									Value
								</label>
								<select
									class="form-select form-select-sm"
									th:if="${ability.type.name().equals('SIGNATURE_MASK')}"
									th:id="|${ability.type.name()}_value|"
									onchange="window.shipTask.changeTask()"
								>
									<option
										th:each="player : ${players}"
										th:value="${player.color}"
										th:selected="${player.color.equals(ship.taskValue)}"
										th:style="|color: #${player.color};|"
										th:text="${player.aiLevel != null} ? #{${player.aiLevel}} : ${player.login.username}"
									>
										Player name
									</option>
								</select>
								<select
									class="form-select form-select-sm"
									th:if="${ability.type.name().equals('VIRAL_INVASION')}"
									th:id="|${ability.type.name()}_value|"
									onchange="window.shipTask.changeTask()"
								>
									<option value="VIRAL_INVASION_COLONISTS" th:selected="${'VIRAL_INVASION_COLONISTS'.equals(ship.taskValue)}" th:text="#{colonists}">Colonists</option>
									<option value="VIRAL_INVASION_NATIVES" th:selected="${'VIRAL_INVASION_NATIVES'.equals(ship.taskValue)}" th:text="#{dominant_species}">
										Dominant faction
									</option>
								</select>
								<select
									class="form-select form-select-sm"
									style="width: 50px"
									th:if="${ability.type.name().equals('OVERDRIVE')}"
									th:id="|${ability.type.name()}_value|"
									onchange="window.shipTask.changeTask()"
								>
									<option th:each="step : ${overDriveSteps}" th:selected="${step.toString().equals(ship.taskValue)}" th:value="${step}" th:text="|${step}%|">10%</option>
								</select>
							</div>
							<div class="col-1" th:if="${ability.type.hasValueType()}">
								<span
									th:insert="~{ingame/help::content}"
									th:with="id=${'ship-ability-' + ability.type.name()},title=#{'ship_ability_' + ${ability.type.name()}},fragment='simple',content=${abilityDescriptions.get(ability.id).description}"
								></span>
							</div>
						</div>
						<div class="row g-0" th:if="${hasAutoDestruction}">
							<div class="col-12 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="AUTO_DESTRUCTION"
									th:attr="tasktype='AUTO_DESTRUCTION'"
									name="task"
									th:checked="${ship.taskType.name() == 'AUTO_DESTRUCTION'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="AUTO_DESTRUCTION" th:text="#{task_auto_destruction}"> Auto destruction level 2 </label>
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-task-auto-destruction',title=#{task_auto_destruction},fragment='simple',content=#{help_ship_tasks_auto_destruction}"
								></span>
							</div>
						</div>
						<div class="row g-0" th:if="${canTrain}">
							<div class="col-4 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="HUNTER_TRAINING"
									th:attr="tasktype='HUNTER_TRAINING'"
									name="task"
									th:checked="${ship.taskType.name() == 'HUNTER_TRAINING'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="HUNTER_TRAINING" th:text="#{task_hunter_training}">Hunter training</label>
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-task-hunter-training',title=#{task_hunter_training},fragment='simple',content=#{help_ship_tasks_hunter_training}"
								></span>
							</div>
						</div>
						<div class="row g-0" th:if="${showTractorBeam}">
							<div class="col-4 form-check">
								<input
									type="radio"
									class="form-check-input"
									id="TRACTOR_BEAM"
									th:attr="tasktype='TRACTOR_BEAM'"
									name="task"
									th:checked="${ship.taskType.name() == 'TRACTOR_BEAM'}"
									onclick="window.shipTask.changeTask()"
								/>
								<label class="form-check-label" for="TRACTOR_BEAM" th:text="#{task_tractor_beam}">Tractor beam</label>
							</div>
							<div class="col-7">
								<select class="form-select form-select-sm" id="TRACTOR_BEAM_value" onchange="window.shipTask.changeTask()">
									<option
										th:each="s : ${towableShips}"
										th:value="${s.id}"
										th:text="${s.name}"
										th:selected="${ship.taskType.name() == 'TRACTOR_BEAM' && ship.taskValue.equals(s.id + '')}"
									>
										Ship name
									</option>
								</select>
							</div>
							<div class="col-1">
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='ship-task-tractor-beam',title=#{task_tractor_beam},fragment='simple',content=#{help_ship_tasks_tractor_beam}"
								></span>
							</div>
						</div>
						<div class="row g-0" th:if="${!allShips.isEmpty()}">
							<div class="col-4 form-check">
								<input type="checkbox" class="form-check-input" id="escort" th:checked="${escortTarget != null}" onclick="window.shipTask.changeTask()" />
								<label class="form-check-label" for="escort" th:text="#{escort}">Escort</label>
							</div>
							<div class="col-4 pe-1">
								<select class="form-select form-select-sm" id="skr-ingame-escort-target-select" onchange="window.shipTask.changeTask()">
									<option th:each="s : ${allShips}" th:selected="${escortTarget == s}" th:value="${s.id}" th:text="${s.name}">Ship name</option>
								</select>
							</div>
							<div class="col-3">
								<div th:insert="~{ingame/ship/orders::warp-speed-select}" th:with="ship=${ship},escort=true,elemIdPostfix='-escort'"></div>
							</div>
							<div class="col-1">
								<span th:insert="~{ingame/help::content}" th:with="id='ship-task-escort',title=#{escort},fragment='simple',content=#{help_ship_tasks_escort}"></span>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
