<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-ship-propulsion-system-content">
			<div class="row">
				<div class="col-12">
					<h6 class="text-center">
						<span class="normal" th:text="#{propulsion_system}">Propulsion system</span>
						<span
							th:insert="~{ingame/help::content}"
							th:with="id='ship-tasks',title=#{propulsion_system},fragment='simple',content=#{help_starbase_propulsion_production},toolTipFlow='down'"
						></span>
					</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-6 text-end" th:text="#{propulsion_type}">Propulsion type</div>
				<div class="col-6 fw-bold" th:text="#{${ship.propulsionSystemTemplate.name}}">Sun sail</div>
			</div>
			<div class="row">
				<div class="col-6 text-end" th:text="#{engine_count}">Engine count</div>
				<div class="col-6 fw-bold" th:text="${ship.shipTemplate.propulsionSystemsCount}">2</div>
			</div>
			<div class="row">
				<div class="col-6 text-end" th:text="#{max_secure_warp_speed}">Max. secure Warp speed</div>
				<div class="col-6 fw-bold" th:text="${ship.propulsionSystemTemplate.warpSpeed}">1</div>
			</div>
		</div>
	</body>
</html>
