<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="action">
			<select
				class="form-select form-select-sm skr-ingame-route-action-select"
				th:id="|skr-ingame-route-action-select-${type}-${id}|"
				th:entryId="${id}"
				th:type="${type}"
				onchange="window.route.onChangeRouteAction(event, this.getAttribute('entryId'),this.getAttribute('type'))"
			>
				<option th:each="action : ${actions}" th:selected="${action} == ${entryAction}" th:value="${action.name()}" th:text="${action.getDisplayText()}"></option>
			</select>
		</div>

		<div th:fragment="content" id="skr-ingame-route-content">
			<h5>
				<span class="normal" th:text="#{routing}">Routing</span>
				<span
					th:insert="~{ingame/help::content}"
					th:with="id='ship-tasks',title=#{routing},fragment='simple',content=#{help_ship_routing},toolTipFlow='down'"
				></span>
			</h5>

			<input type="hidden" id="skr-ingame-route-select-planet-message" th:value="#{select_route_planet_message}" />

			<input type="hidden" th:value="#{colony_selection_active}" id="skr-ship-route-selection-mode-active-text" />
			<input type="hidden" th:value="#{colony_selection_inactive}" id="skr-ship-route-selection-mode-inactive-text" />

			<div class="row">
				<div class="col-2 fw-bold">
					<span th:text="|#{add}:|">Add:</span>
				</div>
				<div class="col-4">
					<select class="form-select form-select-sm" id="route-entry-planet-select-0">
						<option th:text="#{selection_prompt}">Select...</option>
						<option th:each="planet : ${planets}" th:value="${planet.id}" th:text="${planet.name}">Name of colony</option>
					</select>
				</div>
				<div class="col-6 skr-ingame-route-action-buttons">
					<skr-button
						type="button"
						class="btn btn-secondary"
						id="skr-ingame-route-add-take"
						onclick="route.add('TAKE')"
						flow="down"
						th:tooltip="#{add_route_entry_take}"
					>
						<i class="fas fa-plus"></i>
					</skr-button>
					<skr-button
						type="button"
						class="btn btn-secondary"
						id="skr-ingame-route-add-ignore"
						onclick="route.add('IGNORE')"
						flow="down"
						th:tooltip="#{add_route_entry_ignore}"
					>
						0
					</skr-button>
					<skr-button
						type="button"
						class="btn btn-secondary"
						id="skr-ingame-route-add-leave"
						onclick="route.add('LEAVE')"
						flow="down"
						th:tooltip="#{add_route_entry_leave}"
					>
						<i class="fas fa-minus"></i>
					</skr-button>

					<br />

					<skr-button
						type="button"
						class="btn btn-primary mt-2"
						id="skr-ingame-route-toggle-selection-mode"
						onclick="route.toggleSelectionMode()"
						flow="down"
						th:text="#{colony_selection_inactive}"
						style="display: none"
					>
						Colony selection inactive
					</skr-button>
				</div>
			</div>
			<div class="row mt-2 mb-2" th:if="${entries.isEmpty()}">
				<div class="col-12">
					<span id="skr-ingame-route-empty-message" th:text="#{route_empty_message}"></span>
				</div>
			</div>
			<div class="row mt-2 mb-2" th:if="${entries.size() == 1}">
				<div class="col-12">
					<span id="skr-ingame-route-requires-two-message" th:text="#{route_two_needed_message}"></span>
				</div>
			</div>
			<div class="row mt-2" th:if="${entries.size() > 1}">
				<div class="col-3">
					<span th:text="|#{speed}:|">Speed:</span>
				</div>
				<div class="col-3">
					<span th:text="|#{primary_resource}:|">Primary resource:</span>
				</div>
				<div class="col-3">
					<span th:text="|#{min_fuel}:|">Min. fuel:</span>
				</div>
				<div class="col-3">
					<span th:text="|#{deactivated}:|">Deactivated:</span>
				</div>
			</div>
			<div class="row mb-2" th:if="${entries.size() > 1}">
				<div class="col-3">
					<div th:insert="~{ingame/ship/orders::warp-speed-select}" th:with="ship=${ship}"></div>
				</div>
				<div class="col-3">
					<select class="form-select form-select-sm" id="skr-ingame-route-primary-resource-select" onchange="window.route.onChangePrimaryResource(event)">
						<option
							th:each="resource : ${resources}"
							th:selected="${resource.equals(ship.routePrimaryResource)}"
							th:if="${!resource.name().equals('MONEY') && !resource.name().equals('FUEL')}"
							th:value="${resource.name()}"
							th:text="#{${resource.name().toLowerCase()}}"
						>
							Supplies
						</option>
					</select>
				</div>
				<div class="col-3">
					<input
						type="number"
						class="form-control form-control-sm"
						id="skr-ingame-route-min-fuel-input"
						min="0"
						th:max="${ship.shipTemplate.fuelCapacity}"
						th:value="${ship.routeMinFuel}"
						onchange="window.route.onChangeMinFuel(event)"
					/>
					<span th:class="text-danger" id="skr-ingame-route-min-value-error-text" style="display: none" th:text="#{invalid_value}"> Invalid value </span>
				</div>
				<div class="col-3">
					<select class="form-select form-select-sm" id="skr-ingame-route-disabled-select" onchange="window.route.onChangeRouteDisabled(event)">
						<option th:text="#{yes}" th:selected="${ship.routeDisabled}" value="true">Yes</option>
						<option th:text="#{no}" th:selected="${!ship.routeDisabled}" value="false">No</option>
					</select>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-12">
					<table class="table">
						<thead>
							<tr>
								<th class="align-middle" scope="col" th:text="#{planet}">Planet</th>
								<th scope="col"></th>
								<th scope="col" class="text-center">
									<div th:tooltip="#{money}">
										<i class="fa-fw fa fa-coins"></i>
									</div>
								</th>
								<th scope="col" class="text-center">
									<div th:tooltip="#{supplies}">
										<i class="fa-fw fa fa-cube"></i>
									</div>
								</th>
								<th scope="col" class="text-center">
									<div th:tooltip="#{fuel}">
										<i class="fa-fw fas fa-circle"></i>
									</div>
								</th>
								<th scope="col" class="text-center">
									<div th:tooltip="#{mineral1}">
										<i class="fa-fw fas fa-certificate"></i>
									</div>
								</th>
								<th scope="col" class="text-center">
									<div th:tooltip="#{mineral2}">
										<i class="fa-fw fas fa-square-full"></i>
									</div>
								</th>
								<th scope="col" class="text-center">
									<div th:tooltip="#{mineral3}">
										<i class="fa-fw fas fa-play fa-rotate-90"></i>
									</div>
								</th>
								<th scope="col" class="text-center">
									<div th:tooltip="#{wait_for_full_storage}">
										<i class="fa-fw fas fa-battery-full"></i>
									</div>
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entry : ${entries}" class="skr-ingame-route-entry" th:fragment="entry">
								<td colspan="2">
									<select
										class="form-select form-select-sm route-entry-planet-select"
										th:id="|route-entry-planet-select-${entry.id}|"
										th:entryId="${entry.id}"
										th:x="${entry.planet.x}"
										th:y="${entry.planet.y}"
										onchange="window.route.onChangeSelectedRoutePlanet(event, this.getAttribute('entryId'))"
										onmouseenter="window.route.onMouseEnterRoutePlanetSelect(this.getAttribute('x'), this.getAttribute('y'))"
										onmouseleave="window.route.onMouseLeaveRoutePlanetSelect()"
									>
										<option th:text="#{selection_prompt}" value="blank">Select...</option>
										<option
											th:each="planet : ${planets}"
											th:selected="${entry.planet != null && entry.planet.id == planet.id}"
											th:value="${planet.id}"
											th:text="${planet.name}"
										>
											Planet name
										</option>
									</select>
								</td>
								<td th:insert="~{::action}" th:with="id=${entry.id},entryAction=${entry.moneyAction},type='MONEY'"></td>
								<td th:insert="~{::action}" th:with="id=${entry.id},entryAction=${entry.supplyAction},type='SUPPLIES'"></td>
								<td th:insert="~{::action}" th:with="id=${entry.id},entryAction=${entry.fuelAction},type='FUEL'"></td>
								<td th:insert="~{::action}" th:with="id=${entry.id},entryAction=${entry.mineral1Action},type='MINERAL1'"></td>
								<td th:insert="~{::action}" th:with="id=${entry.id},entryAction=${entry.mineral2Action},type='MINERAL2'"></td>
								<td th:insert="~{::action}" th:with="id=${entry.id},entryAction=${entry.mineral3Action},type='MINERAL3'"></td>
								<td class="text-center align-middle">
									<input
										type="checkbox"
										class="skr-ingame-route-wait-for-full-storage-checkbox"
										th:id="|skr-ingame-route-wait-for-full-storage-checkbox-${entry.id}|"
										th:entryId="${entry.id}"
										th:checked="${entry.waitForFullStorage}"
										onclick="window.route.onClickWaitForFullStorage(this.getAttribute('entryId'))"
									/>
								</td>
								<td class="skr-ingame-route-button-column">
									<div class="d-inline-flex">
										<skr-button type="button" th:tooltip="#{move_up}" class="btn btn-secondary" th:id="|skr-route-move-entry-up-${entry.id}|" th:onclick="|route.up(${entry.id})|">
											<i class="fas fa-angle-up"></i>
										</skr-button>
										<skr-button type="button" th:tooltip="#{move_down}" class="btn btn-secondary" th:id="|skr-route-move-entry-down-${entry.id}|" th:onclick="|route.down(${entry.id})|">
											<i class="fas fa-angle-down"></i>
										</skr-button>
										<skr-button type="button" th:tooltip="#{delete}" flow="left" class="btn btn-danger skr-route-delete-entry-button" th:id="|skr-route-remove-entry-${entry.id}|" th:onclick="|route.deleteEntry(${entry.id})|">
											<i class="fas fa-trash-alt"></i>
										</skr-button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
