<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-game-ship-scanner-wrapper">
			<div id="skr-game-ship-scanner">
				<input type="hidden" th:value="#{ship_selection_active}" id="skr-ship-scanner-selection-mode-active-text" />
				<input type="hidden" th:value="#{ship_selection_inactive}" id="skr-ship-scanner-selection-mode-inactive-text" />

				<div class="d-inline-flex align-items-center justify-content-between w-100 mb-2">
					<h5>
						<span class="normal" th:text="#{scanner}">Scanner</span>
						<span th:insert="~{ingame/help::content}" th:with="id='ship-tasks',title=#{scanner},fragment='simple',content=#{help_ship_scanner},toolTipFlow='down'"></span>
					</h5>

					<skr-button
						type="button"
						class="btn btn-primary mt-0"
						style="display: none"
						id="skr-ingame-scanner-toggle-selection-mode"
						onclick="window.shipScanner.toggleSelectionMode()"
						flow="down"
						th:text="#{ship_selection_inactive}"
					>
						Ship selection inactive
					</skr-button>
				</div>

				<div class="skr-game-selection-message" th:text="#{no_ships_in_scanner_range}" th:if="${ships.isEmpty()}">No ships in scanner range</div>

				<div th:fragment="ships">
					<div
						class="skr-ship-scanner-ship-details d-inline-flex align-items-center w-100"
						th:each="ship : ${ships}"
						th:x="${ship.x}"
						th:y="${ship.y}"
						onmouseenter="window.shipScanner.onMouseEnterShipDetails(this.getAttribute('x'), this.getAttribute('y'))"
						onmouseleave="window.shipScanner.onMouseLeaveShipDetails()"
					>
						<img
							class="me-3"
							th:src="${ship.createFullImagePath()}"
							th:style="|border-color: #${ship.player.color};${scanner == false && own == true ? 'cursor: pointer;' : ''}|"
							th:onclick="${scanner == false && own == true} ? |ingame.select('ship', ${ship.id})| : ''"
						/>
						<div class="row">
							<div class="col-12 col-sm-6" th:insert="~{ingame/icon-label::content}" th:with="label=|#{class}:|,value=${@masterDataService.getShipTemplateName(ship.shipTemplate)}"></div>
							<div class="col-12 col-sm-6" th:insert="~{ingame/icon-label::content}" th:with="label=|#{name}:|,value=${ship.name}"></div>
							<div class="col-12 col-sm-6" th:insert="~{ingame/icon-label::content}" th:with="label=|#{coordinates}:|,value=|${ship.x} / ${ship.y}|"></div>
							<div class="col-12 col-sm-6" th:insert="~{ingame/icon-label::content}" th:with="label=|#{max_warp}:|,value=${ship.propulsionSystemTemplate.warpSpeed}"></div>
						</div>
						<skr-button
							th:if="${orbitalSystemId == null && scanner}"
							type="button"
							class="btn btn-primary ms-3"
							th:onclick="|shipScanner.showShipDetails(${ship.id})|"
							th:text="#{details}"
						>
							Details
						</skr-button>
						<skr-button
							th:if="${orbitalSystemId != null}"
							type="button"
							class="btn btn-primary ms-3"
							th:onclick="|shipScanner.showShipDetailsByOrbitalSystem(${ship.id}, ${orbitalSystemId})|"
							th:text="#{details}"
						>
							Details
						</skr-button>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="ship">
			<div class="row">
				<div class="col-12">
					<div class="d-inline-flex align-items-center">
						<h6 class="mb-2">
							<span th:text="${ship.name}">Ship name</span>
							(
							<a
								class="skr-ingame-starbase-production-item-name skr-ingame-clickable-anchor skr-ingame-ship-template-details-button"
								th:text="${@masterDataService.getShipTemplateName(ship.shipTemplate)}"
								th:shipTemplateId="${ship.shipTemplate.id}"
								onclick="window.ingame.openShipTemplateDetailsModal(this.getAttribute('shipTemplateId'))"
							>
								Class name
							</a>
							)
						</h6>
						<div class="font-italic mb-2 ms-1" th:text="|X: ${ship.x}, Y: ${ship.y}|">X: 100, Y: 200</div>
					</div>
				</div>
			</div>

			<div class="modal skr-ingame-ship-template-details-modal" tabindex="-1" role="dialog" th:id="|skr-ingame-ship-template-details-${ship.shipTemplate.id}|">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="skr-ingame-ship-template-details-content"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-4">
					<img th:src="${ship.createFullImagePath()}" style="height: 100px" />
				</div>
				<div class="col-4">
					<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{hull_state},value=|${100 - ship.damage}%|"></div>
					<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{crew},value=${ship.crew},icon='fa fa-male'"></div>
					<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{mass},value=${ship.shipTemplate.mass},icon='fas fa-weight-hanging'"></div>
				</div>
				<div class="col-4">
					<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{fuel},value=${ship.fuel},icon='fas fa-circle'"></div>
					<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{goods},value=|${ship.retrieveTotalGoods()} KT|,icon='fa fa-cube'"></div>
					<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{projectiles},value=${ship.projectiles},icon='fas fa-rocket'"></div>
				</div>
			</div>

			<hr />

			<div class="row">
				<div class="col-6">
					<div class="row">
						<div
							class="col-12"
							th:insert="~{ingame/icon-label::content}"
							th:with="label=#{propulsion_system},value=|#{${ship.propulsionSystemTemplate.name}} (${ship.propulsionSystemTemplate.warpSpeed})|,icon='fas fa-angle-double-right',labelTitle=|#{max_warp}: ${ship.propulsionSystemTemplate.warpSpeed}|"
						></div>
						<div
							class="col-12"
							th:insert="~{ingame/icon-label::content}"
							th:with="label=#{energy_weapons},value=${ship.energyWeaponTemplate != null} ? |#{${ship.energyWeaponTemplate.name}} (${ship.energyWeaponTemplate.techLevel})| : '-',icon='fas fa-bolt',labelTitle=${ship.energyWeaponTemplate != null} ? |#{tech_level}: ${ship.energyWeaponTemplate.techLevel}| : ''"
						></div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div
							class="col-12"
							th:insert="~{ingame/icon-label::content}"
							th:with="label=#{projectile_weapons},value=${ship.projectileWeaponTemplate != null} ? |#{${ship.projectileWeaponTemplate.name}} (${ship.projectileWeaponTemplate.techLevel})| : '-',icon='fas fa-rocket',labelTitle=${ship.projectileWeaponTemplate != null} ? |#{tech_level}: ${ship.projectileWeaponTemplate.techLevel}| : ''"
						></div>
						<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{hangar},value=${ship.shipTemplate.hangarCapacity},icon='fab fa-gitter'"></div>
					</div>
				</div>
			</div>

			<hr />

			<div class="row" th:if="${combatSimulationResult != null}">
				<div class="col-12">
					<div class="skr-expected-combat-outcome-title" th:text="#{expected_combat_outcome}">Expected combat outcome</div>
				</div>

				<div class="col-6">
					<div class="row">
						<div
							class="col-12 skr-performance-icon"
							th:insert="~{ingame/icon-label::content}"
							th:with="label=#{our_survival_rate},value=${combatSimulationResult.survivalPercentage},icon=${combatSimulationResult.survivalIcon}"
						></div>
						<div
							class="col-12 skr-performance-icon"
							th:insert="~{ingame/icon-label::content}"
							th:with="label=#{their_survival_rate},value=${combatSimulationResult.enemySurvivalPercentage},icon=${combatSimulationResult.enemySurvivalIcon}"
						></div>
					</div>
				</div>

				<div class="col-6">
					<div class="row">
						<div
							class="col-12 skr-performance-icon"
							th:insert="~{ingame/icon-label::content}"
							th:with="label=#{enemy_captures_us},value=${combatSimulationResult.capturePercentage},icon=${combatSimulationResult.captureIcon}"
						></div>
						<div
							class="col-12 skr-performance-icon"
							th:insert="~{ingame/icon-label::content}"
							th:with="label=#{we_capture_enemy},value=${combatSimulationResult.enemyCapturePercentage},icon=${combatSimulationResult.enemyCaptureIcon}"
						></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
