<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="container-fluid">
			<input type="hidden" id="skr-ingame-current-x" th:value="${ship.x}" />
			<input type="hidden" id="skr-ingame-current-y" th:value="${ship.y}" />
			<input type="hidden" id="skr-ingame-current-subpage" th:value="${subPage}" />
			<input type="hidden" id="skr-ingame-ship-template-id" th:value="${ship.shipTemplate.id}" />

			<div id="skr-ingame-selection-panel-top">
				<div id="skr-ship-stats-details-wrapper">
					<div class="row" th:id="|skr-ingame-ship-stats-details-${ship.id}|">
						<th:block th:fragment="stats-details">
							<div class="skr-ship-details-headline">
								<div class="d-inline-flex align-items-center">
									<h6 class="mb-2 skr-ship-headline-title">
										<span th:text="${ship.name}">Ship name</span>
										(
										<a
											class="skr-ingame-starbase-production-item-name skr-ingame-clickable-anchor skr-ingame-ship-template-details-button"
											th:text="${@masterDataService.getShipTemplateName(ship.shipTemplate)}"
											th:shipTemplateId="${ship.shipTemplate.id}"
											onclick="window.ingame.openShipTemplateDetailsModal(this.getAttribute('shipTemplateId'))"
										>
											Class name
										</a>
										)
									</h6>
									<div class="font-italic mb-2 ms-1 skr-ship-headline-coordinates" th:text="|X: ${ship.x}, Y: ${ship.y}|">X: 100, Y: 200</div>
								</div>

								<div class="mb-2 d-inline-flex align-items-center">
									<skr-button
										class="btn btn-secondary small me-2"
										th:if="${ship.planetOwnedByPlayer()}"
										th:onclick="|ingame.select('planet', ${ship.planet.id})|"
										th:tooltip="#{open_colony}"
										flow="down"
									>
										<i class="fa-fw fas fa-globe"></i>
									</skr-button>

									<div class="btn-group skr-ship-headline-fleet-button-group">
										<skr-button
											th:if="${ship.fleet != null}"
											type="button"
											class="btn btn-success small skr-ship-open-fleet-button"
											th:onclick="|ingame.select('fleet', ${ship.fleet.id})|"
										>
											<i class="fas fa-grip-vertical text-light me-1"></i>
											<input type="hidden" id="skr-ship-details-fleet-id" th:value="${ship.fleet.id}" />
											<span th:text="|#{fleet}: ${ship.fleet.name}|">Fleet name</span>
										</skr-button>
										<skr-button th:if="${ship.fleet == null}" type="button" class="btn btn-success small">
											<i class="fas fa-grip-vertical text-light me-1"></i>
											<span th:text="#{no_fleet}">Fleet name</span>
										</skr-button>
										<skr-button
											type="button"
											class="btn btn-success dropdown-toggle dropdown-toggle-split"
											data-bs-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false"
											th:if="${!turnDone}"
										></skr-button>
										<div class="dropdown-menu dropdown-menu-lg-end ship-stats-fleet-selection-menu" th:if="${!turnDone}">
											<a class="dropdown-item" href="javascript:;" th:onclick="|fleetDetails.openCreateFleetModal(${ship.id})|">
												<span class="small">
													<i class="fa-fw fas fa-plus"></i>
												</span>
												<span th:text="#{create_new_fleet}">Create new fleet</span>
											</a>

											<hr />

											<th:block th:if="${ship.fleet != null}">
												<th:block th:if="${ship.fleet.leader == null || ship.fleet.leader.id != ship.id}">
													<a
														class="dropdown-item assign-as-fleet-leader-button"
														href="javascript:;"
														th:onclick="|fleetDetails.assignNewFleetLeader(${ship.fleet.id}, ${ship.id})|"
														th:text="#{assign_as_fleet_leader}"
													>
														Assign as fleet leader
													</a>
													<hr />
												</th:block>

												<a
													class="dropdown-item"
													href="javascript:;"
													th:onclick="|fleetDetails.removeShipFromFleet(${ship.id})|"
													th:text="#{remove_from_fleet}"
												>
													Remove from fleet
												</a>
												<hr />
											</th:block>

											<div class="skr-ship-fleet-dropdown-list-wrapper" th:shipId="${ship.id}">
												<th:block th:fragment="fleet-dropdown-list">
													<a
														class="dropdown-item"
														th:id="|skr-ship-fleet-selection-item-${fleet.id}|"
														href="javascript:;"
														th:each="fleet : ${fleets}"
														th:text="${fleet.name}"
														th:onclick="|fleetDetails.addShipToFleet(${fleet.id}, ${ship.id})|"
													>
														Fleet name
													</a>
												</th:block>
											</div>
										</div>
									</div>
								</div>
								<div class="modal skr-ingame-ship-template-details-modal" tabindex="-1" role="dialog" th:id="|skr-ingame-ship-template-details-${ship.shipTemplate.id}|">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-body">
												<div class="skr-ingame-ship-template-details-content"></div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div th:insert="~{dashboard/infos/ship-image-modal::modal}" th:with="template=${ship.shipTemplate}"></div>

							<div class="d-inline-flex w-100 flex-wrap">
								<div class="skr-ship-details-image-wrapper">
									<img
										th:src="${ship.createFullImagePath()}"
										style="cursor: pointer"
										th:templateId="${ship.shipTemplate.id}"
										th:onclick="${forSelection != null && forSelection} ? |ingame.select('ship', ${ship.id})| : |ingame.openBigShipImageModal(event)|"
									/>
								</div>

								<div class="skr-ship-stats-details-table-wrapper">
									<div class="d-inline-flex w-100 justify-content-between mt-2">
										<div>
											<span th:text="|#{task}:|"></span>
											<span id="skr-ship-task-string-label" th:text="${@shipTaskString.retrieveTaskString(ship)}"></span>
										</div>
										<div>
											<span th:if="${ship.experience > 0}" th:tooltip="|#{experience_level}: ${ship.experience}|" flow="left">
												<i class="fa-fw" th:classappend="${ship.retrieveExperienceIconClass()}"></i>
											</span>

											<span th:if="${ship.cloaked}">
												<div data-bs-toggle="dropdown" class="cursor-pointer">
													<i class="fa-fw fas" th:classappend="${ship.cloakingSummary.visibleToPlayers.isEmpty()} ? 'fa-eye-slash' : 'fa-low-vision'"></i>
												</div>

												<div
													class="dropdown-menu dropdown-menu-lg-end ship-cloaked-summary-menu p-3"
													th:classappend="${!ship.cloakingSummary.visibleToPlayers.isEmpty()} ? 'ship-cloaked-summary-menu-wide' : ''"
												>
													<div th:if="${!ship.cloakingSummary.visibleToPlayers.isEmpty()}" th:text="#{ship_is_cloaked_visible_to_players}">
														This ship is cloaked but visible to the following players:
													</div>
													<div th:if="${ship.cloakingSummary.visibleToPlayers.isEmpty()}" th:text="#{ship_is_cloaked}">This ship is cloaked</div>

													<div th:each="playerName : ${ship.cloakingSummary.visibleToPlayers}" th:utext="${playerName}"></div>
												</div>
											</span>
										</div>
									</div>
									<table class="w-100">
										<tr>
											<td>
												<div th:text="|#{hull_state}:|"></div>
											</td>
											<td>
												<div class="fw-bold text-end me-3" th:text="|${100 - ship.damage} %|"></div>
											</td>
											<td class="ship-bar-details">
												<div class="damage" th:style="|width: ${(100 - ship.damage)}%;|"></div>
											</td>
										</tr>
										<tr>
											<td>
												<div th:text="|#{crew}:|"></div>
											</td>
											<td>
												<div class="fw-bold text-end me-3" th:text="|${ship.crew} / ${ship.shipTemplate.crew}|"></div>
											</td>
											<td class="ship-bar-details">
												<div class="crew" th:style="|width: ${(1.0 * ship.crew) / ship.shipTemplate.crew * 100}%;|"></div>
											</td>
										</tr>
										<tr>
											<td>
												<div th:text="|#{fuel}:|"></div>
											</td>
											<td>
												<div class="fw-bold text-end me-3" th:text="|${ship.fuel} / ${ship.shipTemplate.fuelCapacity}|"></div>
											</td>
											<td class="ship-bar-details">
												<div class="fuel" th:style="|width: ${(1.0 * ship.fuel) / ship.shipTemplate.fuelCapacity * 100}%;|"></div>
											</td>
										</tr>
										<tr>
											<td>
												<div th:text="|#{storage}:|"></div>
											</td>
											<td>
												<div class="fw-bold text-end me-3" th:text="|${ship.retrieveTotalGoods()} / ${ship.retrieveStorageSpace()}|"></div>
											</td>
											<td class="ship-bar-details">
												<div class="cargo" th:style="|width: ${(1.0 * ship.retrieveTotalGoods()) / ship.retrieveStorageSpace() * 100}%;|"></div>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</th:block>
					</div>
				</div>

				<hr />

				<div class="row pt-2" th:if="${!turnDone}">
					<div class="col-12">
						<ul class="nav nav-tabs">
							<li class="nav-item" th:if="${ship.showNavigationTab()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'orders'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-orders"
									onclick="ship.show('orders')"
									flow="upright"
									th:tooltip="#{orders}"
								>
									<i class="fa-fw fas fa-arrows-alt"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${ship.showScannerTab()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'scanner'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-scanner"
									onclick="ship.show('scanner')"
									th:tooltip="#{scanner}"
								>
									<i class="fa-fw fab fa-searchengin"></i>
								</a>
							</li>
							<li class="nav-item">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'transporter'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-transporter"
									onclick="ship.show('transporter')"
									th:tooltip="#{transporter}"
								>
									<i class="fa-fw fas fa-exchange-alt"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${ship.showRouteTab()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'route'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-route"
									onclick="ship.show('route')"
									th:tooltip="#{routing}"
								>
									<i class="fa-fw fas fa-retweet"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${ship.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'tactics'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-tactics"
									onclick="ship.show('tactics')"
									th:tooltip="#{tactics}"
								>
									<i class="fa-fw fas fa-signal"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${ship.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'weapon-systems'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-weapon-systems"
									onclick="ship.show('weapon-systems')"
									th:tooltip="#{weapon_systems}"
								>
									<i class="fa-fw fas fa-rocket"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${ship.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'storage'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-storage"
									onclick="ship.show('storage')"
									th:tooltip="#{storage}"
								>
									<i class="fa-fw fas fa-box"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${ship.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'propulsion-system'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-propulsion-system"
									onclick="ship.show('propulsion-system')"
									th:tooltip="#{propulsion_system}"
								>
									<i class="fa-fw fas fa-angle-double-right"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${ship.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'options'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-options"
									onclick="ship.show('options')"
									th:tooltip="#{options}"
								>
									<i class="fa-fw fas fa-cog"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div th:if="${turnDone}" th:insert="~{ingame/turn-finished::content}"></div>
			</div>

			<div class="skr-ingame-selection-panel" id="skr-ship-selection">
				<div th:if="${subPageFragment != null}">
					<th:block th:replace="~{__${subPageFragment}__}"></th:block>
				</div>
			</div>
		</div>
	</body>
</html>
