<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-ingame-ship-tactics-success" th:text="#{tactics_changed}">Tactics changed!</div>
		</div>
		<div th:fragment="content" id="skr-game-tactics-content">
			<h5>
				<span class="normal" th:text="#{tactics}">Tactics</span>
				<span th:insert="~{ingame/help::content}" th:with="id='ship-tasks',title=#{tactics},fragment='simple',content=${helpText},toolTipFlow='down'"></span>
			</h5>

			<div class="row mb-3">
				<div class="col-3">
					<b th:text="|#{aggressiveness}:|">Aggressiveness:</b>
				</div>
				<div class="col-9">
					<div class="w-100 d-inline-flex align-items-center">
						<span th:text="|#{current_aggressiveness}:|">Current:</span>
						<span class="ms-1 me-2" id="skr-ingame-ship-tactics-aggressiveness-label" th:text="|${ship.aggressiveness}%|">20%</span>
						<input
							type="range"
							class="form-range"
							id="skr-ingame-aggressiveness-slider"
							min="0"
							max="100"
							th:value="${ship.aggressiveness}"
							oninput="window.tactics.onSliderInput(event)"
						/>
						<span class="ms-2" th:text="|#{max_aggressiveness}:|">Max:%</span>
						<span class="ms-1">100%</span>
					</div>
				</div>
			</div>
			<div class="row mb-2" th:if="${enableTactialCombat}">
				<div class="col-3">
					<b th:text="|#{tactics}:|">Tactics:</b>
				</div>
				<div class="col-9">
					<select class="form-select form-select-sm" id="skr-ingame-tactics-select">
						<option
							th:each="tactics : ${tacticsList}"
							th:selected="${ship.tactics.name().equals(tactics.name())}"
							th:value="${tactics.name()}"
							th:text="#{'ship_tactics_' + ${tactics.name()}}"
						>
							Standard
						</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<skr-button type="button" onclick="tactics.save()" class="btn btn-primary" th:text="#{save}">Save</skr-button>
				</div>
			</div>
		</div>
	</body>
</html>
