<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="col-12">
			<input type="hidden" id="skr-ingame-factories-max-buildable" th:value="${maxFactories - planet.factories}" />
			<input type="hidden" id="skr-ingame-supplies" th:value="${planet.supplies}" />

			<th:block th:if="${planet.showMinesContent()}">
				<div class="row">
					<div class="col-sm-6">
						<h5>
							<span class="normal" th:text="#{mines}">Mines</span>
							<span
								th:if="${!@configProperties.isDisablePermissionChecks()}"
								th:insert="~{ingame/help::content}"
								th:with="id='planet-mines',title=#{help_planet_mines_title},fragment='planet-mines',faction=${planet.player.faction},toolTipFlow='down'"
							></span>
						</h5>
						<div class="row">
							<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{running},value=${planet.mines},icon='fa fa-monument'"></div>
							<div
								class="col-6 border-start"
								th:insert="~{ingame/icon-label::content}"
								th:with="label=#{maximum},value=${planet.retrieveMaxMines()},icon='fa fa-monument'"
							></div>
						</div>
						<div class="row mt-2" th:if="${maxMines > planet.mines}">
							<div class="col-4">
								<select id="skr-planet-mines-quantity-select" class="form-select form-select-sm">
									<option
										th:each="quantity : ${#numbers.sequence(1, maxMines - planet.mines)}"
										th:selected="${quantity == maxMines - planet.mines}"
										th:value="${quantity}"
										th:text="${quantity}"
									>
										1
									</option>
								</select>
							</div>
							<div class="col-8">
								<skr-button
									type="button"
									class="btn btn-primary"
									id="skr-planet-mines-build-mines"
									th:text="#{construct_mines}"
									onclick="window.planetMines.buildMines()"
									th:tooltip="#{construct_mines}"
								>
									Build mines
								</skr-button>
							</div>
						</div>
						<div class="row" th:if="${maxMines <= planet.mines && planet.retrieveMaxMines() > maxMines}">
							<div class="col-12 mb-1" th:text="#{currently_no_mines_buildable}"></div>
						</div>
						<div class="row mt-2">
							<div class="col-12">
								<div class="form-check" id="skr-planet-mines-automated-form" th:tooltip="#{automated_construction}">
									<input
										type="checkbox"
										class="form-check-input"
										id="skr-planet-mines-automated-checkbox"
										onclick="window.planetMines.toggleAutoBuildMines()"
										th:checked="${planet.autoBuildMines}"
									/>
									<label class="form-check-label" id="skr-planet-mines-automated-label" for="skr-planet-mines-automated-checkbox" th:text="#{automated_construction}">
										Automated construction
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<h6 th:text="#{untapped_resources}" class="mb-0">Untapped resources</h6>
						<div class="row">
							<div class="col-12 col-sm-10 col-md-10 col-lg-12 col-xl-12 skr-performance-icon">
								<div class="d-inline-flex justify-content-between w-100 align-items-center">
									<div
										class="skr-mines-untapped-icon-label"
										th:insert="~{ingame/icon-label::content}"
										th:with="label=#{fuel},value=|${planet.untappedFuel} KT|,icon='fas fa-circle'"
									></div>
									<span th:tooltip="#{'help_planet_mines_' + ${planet.retrieveFuelDensityTitle()}}" flow="left">
										<i th:class="${planet.retrieveFuelDensityIcon()}"></i>
									</span>
									<span th:text="|+${fuelForNextRound} KT|" flow="left" th:tooltip="#{next_round_mined(${fuelForNextRound}, #{fuel})}"> +5 KT </span>
								</div>
								<div class="d-inline-flex justify-content-between w-100 align-items-center">
									<div
										class="skr-mines-untapped-icon-label"
										th:insert="~{ingame/icon-label::content}"
										th:with="label=#{mineral1},value=|${planet.untappedMineral1} KT|,icon='fas fa-certificate'"
									></div>
									<span th:tooltip="#{'help_planet_mines_' + ${planet.retrieveMineral1DensityTitle()}}" flow="left">
										<i th:class="${planet.retrieveMineral1DensityIcon()}" flow="left"></i>
									</span>
									<span th:text="|+${mineral1ForNextRound} KT|" flow="left" th:tooltip="#{next_round_mined(${mineral1ForNextRound}, #{mineral1})}"> +5 KT </span>
								</div>
								<div class="d-inline-flex justify-content-between w-100 align-items-center">
									<div
										class="skr-mines-untapped-icon-label"
										th:insert="~{ingame/icon-label::content}"
										th:with="label=#{mineral2},value=|${planet.untappedMineral2} KT|,icon='fas fa-square-full'"
									></div>
									<span th:tooltip="#{'help_planet_mines_' + ${planet.retrieveMineral2DensityTitle()}}" flow="left">
										<i th:class="${planet.retrieveMineral2DensityIcon()}"></i>
									</span>
									<span th:text="|+${mineral2ForNextRound} KT|" flow="left" th:tooltip="#{next_round_mined(${mineral2ForNextRound}, #{mineral2})}"> +5 KT </span>
								</div>
								<div class="d-inline-flex justify-content-between w-100 align-items-center">
									<div
										class="skr-mines-untapped-icon-label"
										th:insert="~{ingame/icon-label::content}"
										th:with="label=#{mineral3},value=|${planet.untappedMineral3} KT|,icon='fas fa-play fa-rotate-90'"
									></div>
									<span th:tooltip="#{'help_planet_mines_' + ${planet.retrieveMineral3DensityTitle()}}" flow="left">
										<i th:class="${planet.retrieveMineral3DensityIcon()}"></i>
									</span>
									<span th:text="|+${mineral3ForNextRound} KT|" flow="left" th:tooltip="#{next_round_mined(${mineral3ForNextRound}, #{mineral3})}">+5 KT</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr />
			</th:block>

			<div class="row">
				<div class="col-12">
					<h5>
						<span class="normal" th:text="#{factories}">Factories</span>
						<span
							th:if="${!@configProperties.isDisablePermissionChecks()}"
							th:insert="~{ingame/help::content}"
							th:with="id='planet-factories',title=#{help_planet_factories_title},fragment='planet-factories',faction=${planet.player.faction},toolTipFlow='down'"
						></span>
					</h5>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{running},value=${planet.factories},icon='fa fa-industry'"></div>
						<div
							class="col-6 border-start"
							th:insert="~{ingame/icon-label::content}"
							th:with="label=#{maximum},value=${planet.retrieveMaxFactories()},icon='fa fa-industry'"
						></div>
					</div>
					<div class="row mt-2" th:if="${maxFactories > planet.factories}">
						<div class="col-4">
							<select id="skr-planet-factories-quantity-select" class="form-select form-select-sm">
								<option
									th:each="quantity : ${#numbers.sequence(1, maxFactories - planet.factories)}"
									th:selected="${quantity == maxFactories - planet.factories}"
									th:value="${quantity}"
									th:text="${quantity}"
								>
									1
								</option>
							</select>
						</div>
						<div class="col-8">
							<skr-button
								type="button"
								class="btn btn-primary"
								id="skr-planet-factories-build-factories"
								th:text="#{construct_factories}"
								th:tooltip="#{construct_factories}"
								onclick="window.factories.buildFactories()"
							>
								Build factories
							</skr-button>
						</div>
					</div>
					<div class="row" th:if="${maxFactories <= planet.factories && planet.retrieveMaxFactories() > maxFactories}">
						<div class="col-12 mb-1" th:text="#{currently_no_factories_buildable}"></div>
					</div>
					<div class="row mt-2">
						<div class="col-12">
							<div class="form-check" id="skr-planet-factories-automated-form" th:tooltip="#{automated_construction}">
								<input
									type="checkbox"
									class="form-check-input"
									id="skr-planet-factories-automated-checkbox"
									onclick="window.factories.toggleAutoBuildFactories()"
									th:checked="${planet.autoBuildFactories}"
								/>
								<label
									class="form-check-label"
									for="skr-planet-factories-automated-checkbox"
									id="skr-planet-factories-automated-label"
									th:text="#{automated_construction}"
								>
									Automated construction
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-8" th:insert="~{ingame/icon-label::content}" th:with="label=#{supplies},value=|${planet.supplies} KT|,icon='fa fa-cube'"></div>
						<div
							class="col-4 g-0"
							th:insert="~{ingame/help::content}"
							th:with="id='planet-supplies',title=#{help_planet_supplies_title},fragment='simple',content=#{help_planet_supplies_content}"
						></div>
					</div>
					<div class="row mt-2" th:if="${planet.supplies > 0 && planet.showMinesContent()}">
						<div class="col-4">
							<input
								type="number"
								class="form-control form-control-sm"
								min="0"
								id="skr-planet-supplies-quantity-input"
								th:max="${planet.supplies}"
								th:value="${planet.supplies}"
								onkeyup="window.factories.onSellSuppliesKeyUp(event)"
							/>
							<div id="skr-ingame-sell-supplies-error" class="text-danger" style="display: none" th:text="#{invalid_value}"></div>
						</div>
						<div class="col-8">
							<skr-button
								type="button"
								class="btn btn-primary"
								id="skr-planet-factories-sell-supplies"
								th:text="#{sell_supplies}"
								onclick="window.factories.sellSupplies()"
								th:tooltip="#{sell_supplies}"
							>
								Sell supplies
							</skr-button>
						</div>
					</div>
					<div class="row mt-2" th:if="${planet.showMinesContent()}">
						<div class="col-12">
							<div class="form-check" id="skr-planet-sell-supplies-automated-form" th:tooltip="#{automated_selling}">
								<input
									type="checkbox"
									class="form-check-input"
									id="skr-planet-sell-supplies-automated-checkbox"
									onclick="window.factories.toggleAutoSellSupplies()"
									th:checked="${planet.autoSellSupplies}"
								/>
								<label
									class="form-check-label"
									for="skr-planet-sell-supplies-automated-checkbox"
									id="skr-planet-sell-supplies-automated-label"
									th:text="#{automated_selling}"
								>
									Automated selling
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<th:block th:if="${planet.showDefenseContent()}">
				<hr />

				<div class="row mb-3">
					<div class="col-sm-6">
						<h5>
							<span class="normal" th:text="#{planetary_defense}">Planetary defense</span>
							<span th:insert="~{ingame/help::content}" th:with="id='planet-defense',title=#{help_planet_defense_title},fragment='planet-defense'"></span>
						</h5>
						<div class="row">
							<div class="col-6" th:insert="~{ingame/icon-label::content}" th:with="label=#{running},value=${planet.planetaryDefense},icon='fab fa-fort-awesome'"></div>
							<div
								class="col-6 border-start"
								th:insert="~{ingame/icon-label::content}"
								th:with="label=#{maximum},value=${planet.retrieveMaxPlanetaryDefense()},icon='fab fa-fort-awesome'"
							></div>
						</div>
						<div class="row mt-2" th:if="${maxPlanetaryDefense > planet.planetaryDefense}">
							<div class="col-4">
								<select id="skr-planet-planetarydefense-quantity-select" class="form-select form-select-sm">
									<option
										th:each="quantity : ${#numbers.sequence(1, maxPlanetaryDefense - planet.planetaryDefense)}"
										th:selected="${quantity == maxPlanetaryDefense - planet.planetaryDefense}"
										th:value="${quantity}"
										th:text="${quantity}"
									>
										1
									</option>
								</select>
							</div>
							<div class="col-8">
								<skr-button
									type="button"
									class="btn btn-primary"
									id="skr-planet-planetarydefense-build-planetarydefense"
									th:tooltip="#{construct_planetary_defense}"
									onclick="window.planetaryDefense.buildPlanetaryDefense()"
								>
									Build planetary defense
								</skr-button>
							</div>
						</div>
						<div class="row" th:if="${maxPlanetaryDefense <= planet.planetaryDefense && planet.retrieveMaxPlanetaryDefense() > maxPlanetaryDefense}">
							<div class="col-12 mb-1" th:text="#{currently_no_defense_buildable}"></div>
						</div>
						<div class="row mt-2">
							<div class="col-12">
								<div class="form-check" id="skr-planet-planetarydefense-automated-form" th:tooltip="#{automated_construction}">
									<input
										type="checkbox"
										class="form-check-input"
										id="skr-planet-planetarydefense-automated-checkbox"
										onclick="window.planetaryDefense.toggleAutoBuildPlanetaryDefense()"
										th:checked="${planet.autoBuildPlanetaryDefense}"
									/>
									<label
										class="form-check-label"
										for="skr-planet-planetarydefense-automated-checkbox"
										id="skr-planet-planetarydefense-automated-label"
										th:text="#{automated_construction}"
									>
										Automatisierter Bau
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</body>
</html>
