<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="row" th:if="${planet.nativeSpecies == null}">
				<div class="col-12 skr-game-selection-message" id="skr-planet-only-native-species-message" th:text="#{only_native_species_on_this_planet}"></div>
			</div>
			<div class="row" th:if="${planet.nativeSpecies != null}">
				<div class="col-12">
					<div class="row" th:if="${!hideName}">
						<div class="col-12">
							<h5>
								<span class="normal" th:text="#{dominant_species}">Dominant species</span>
								<span
									th:insert="~{ingame/help::content}"
									th:with="id='native-species',title=#{help_native_species_title},fragment='simple',content=#{help_native_species_content},toolTipFlow='down'"
								></span>
							</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="row" th:if="${!hideName}">
								<div class="col-3" th:text="#{type}">Type</div>
								<div class="col-9 text-end">
									<div th:fragment="name">
										<span th:text="${planet.retrieveNativeSpeciesName()}">Humans</span>
										<span class="font-italic" th:text="|(#{'native_species_type_' + ${planet.retrieveNativeSpeciesType()}})|">(humanoid)</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div
									class="col-12"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{population},value=${planet.nativeSpeciesCount},icon='fa fa-male'"
								></div>
							</div>
							<div class="row">
								<div
									class="col-12"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{taxes},value=|${planet.nativeSpecies.tax * 100}%|,icon='fa fa-coins'"
								></div>
							</div>
						</div>
						<div class="col-md-6">
							<h5 class="text-center" th:text="${description.createNativeSpeciesDescription(planet)}">Description</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
