<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="container-fluid">
			<input type="hidden" id="skr-ingame-current-x" th:value="${planet.x}" />
			<input type="hidden" id="skr-ingame-current-y" th:value="${planet.y}" />
			<input type="hidden" id="skr-ingame-current-subpage" th:value="${subPage}" />

			<div id="skr-ingame-selection-panel-top">
				<div id="skr-planet-stats-details-wrapper">
					<div class="row">
						<div class="col-md-12">
							<div class="d-inline-flex align-items-center w-100 justify-content-between flex-wrap">
								<div class="d-inline-flex align-items-center">
									<h4 th:text="|${planet.name} (#{class} ${planet.type})|">Planetname (Class M)</h4>
									<i class="mb-1 ms-2 fas fa-thermometer-half"></i>
									<label class="mb-1 ms-2" th:text="|${planet.temperature} °C|">25°C</label>
									<span
										class="mb-1 ms-2"
										th:insert="~{ingame/help::content}"
										th:with="id='planet-temperature',title=#{help_planet_population_title},fragment='simple',content=#{help_planet_population_content}"
									></span>
								</div>
								<skr-button
									type="button"
									class="btn btn-secondary skr-planet-open-starbase-button"
									th:if="${planet.starbase != null && planet.showStarbaseButton()}"
									th:onclick="|ingame.select('starbase', ${planet.starbase.id})|"
								>
									<i class="fa-fw fas fa-project-diagram"></i>
									<span th:text="#{${planet.starbase.type.name()}}">Starbase</span>
								</skr-button>
							</div>
							<div class="row">
								<div class="col-sm-3 d-inline-flex align-items-center">
									<img th:src="${planet.createFullImagePath()}" />
								</div>
								<div class="col-sm-9 p-0" id="skr-planet-stats-details-lists">
									<div class="row">
										<div class="col-sm-6 mt-2">
											<div class="row">
												<div class="col-12">
													<div
														th:if="${!@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{colonists},value=|${planet.colonists} (+${#numbers.formatDecimal(planet.retrievePopulationGrowthRate() * 100, 1, 'POINT', 1, 'COMMA')}%)|,icon='fa fa-male'"
													></div>
													<div
														th:if="${@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{colonists},value=${planet.colonists},icon='fa fa-male'"
													></div>
												</div>

												<div class="col-12">
													<div
														th:if="${!@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{money},value=|${planet.money} (+${planet.retrieveAdditionalMoney(tradeBonusData) + (planet.autoSellSupplies ? planet.supplies + planet.retrieveAdditionalSupplies() : 0)})|,icon='fa fa-coins'"
													></div>
													<div
														th:if="${@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{money},value=${planet.money},icon='fa fa-coins'"
													></div>
												</div>
												<div class="col-12">
													<div
														th:if="${!@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{supplies},value=|${planet.supplies} KT (+${planet.autoSellSupplies ? 0 : planet.retrieveAdditionalSupplies()})|,icon='fa fa-cube'"
													></div>
													<div
														th:if="${@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{supplies},value=|${planet.supplies} KT|,icon='fa fa-cube'"
													></div>
												</div>
												<div class="col-12">
													<div
														th:if="${!@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{fuel},value=|${planet.fuel} KT (+${planet.retrieveFuelToBeMined()})|,icon='fas fa-circle'"
													></div>
													<div
														th:if="${@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{fuel},value=|${planet.fuel} KT|,icon='fas fa-circle'"
													></div>
												</div>
												<div class="col-12">
													<div
														th:if="${!@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{mineral1},value=|${planet.mineral1} KT (+${planet.retrieveMineral1ToBeMined()})|,icon='fas fa-certificate'"
													></div>
													<div
														th:if="${@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{mineral1},value=|${planet.mineral1} KT|,icon='fas fa-certificate'"
													></div>
												</div>
											</div>
										</div>
										<div class="col-sm-6 border-start mt-2">
											<div class="row">
												<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{mines},value=${planet.mines},icon='fas fa-monument'"></div>
												<div class="col-12" th:insert="~{ingame/icon-label::content}" th:with="label=#{factories},value=${planet.factories},icon='fa fa-industry'"></div>
												<div
													class="col-12"
													th:insert="~{ingame/icon-label::content}"
													th:with="label=#{planetary_defense},value=${planet.planetaryDefense},icon='fab fa-fort-awesome'"
												></div>
												<div class="col-12">
													<div
														th:if="${!@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{mineral2},value=|${planet.mineral2} KT (+${planet.retrieveMineral2ToBeMined()})|,icon='fas fa-square-full'"
													></div>
													<div
														th:if="${@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{mineral2},value=|${planet.mineral2} KT|,icon='fas fa-square-full'"
													></div>
												</div>
												<div class="col-12">
													<div
														th:if="${!@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{mineral3},value=|${planet.mineral3} KT (+${planet.retrieveMineral3ToBeMined()})|,icon='fas fa-play fa-rotate-90'"
													></div>
													<div
														th:if="${@configProperties.isDisablePermissionChecks()}"
														th:insert="~{ingame/icon-label::content}"
														th:with="label=#{mineral3},value=|${planet.mineral3} KT|,icon='fas fa-play fa-rotate-90'"
													></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="row pt-2" th:if="${!turnDone}">
					<div class="col-12">
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'buildings'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-buildings"
									onclick="planet.show('buildings')"
									flow="upright"
									th:tooltip="#{help_infos_planets_buildings}"
								>
									<i class="fa-fw fas fa-warehouse"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${planet.showOrbitalSystemsTab()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'orbital-systems'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-orbital-systems"
									onclick="planet.show('orbital-systems')"
									th:tooltip="#{orbital_systems}"
								>
									<span th:if="${planet.highlightOrbitalSystemsTab()}" id="skr-ingame-orbital-systems-tab-highlight" class="tutorial-tab-highlight"></span>
									<i class="fa-fw fas fa-building"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${planet.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'ships-in-orbit'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-ships-in-orbit"
									onclick="planet.show('ships-in-orbit')"
									th:tooltip="#{ships_in_orbit}"
								>
									<i class="fa-fw fas fa-space-shuttle"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${planet.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'native-species'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-native-species"
									onclick="planet.show('native-species')"
									th:tooltip="#{dominant_species}"
								>
									<i class="fa-fw fab fa-mandalorian"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${planet.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'logbook'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-logbook"
									onclick="planet.show('logbook')"
									th:tooltip="#{log_book}"
								>
									<i class="fa-fw fas fa-book-open"></i>
								</a>
							</li>
							<li class="nav-item" th:if="${planet.starbase == null && planet.showRemainingTabs()}">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'starbase-construction'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-starbase-construction"
									onclick="planet.show('starbase-construction')"
									th:tooltip="#{starbase}"
								>
									<i class="fa-fw fas fa-project-diagram"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div th:if="${turnDone}" th:insert="~{ingame/turn-finished::content}"></div>
			</div>

			<div class="row skr-ingame-selection-panel" id="skr-planet-selection">
				<div th:if="${subPageFragment != null}">
					<th:block th:replace="~{__${subPageFragment}__}"></th:block>
				</div>
			</div>
		</div>
	</body>
</html>
