<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<p th:text="#{email_round_notification_salutation(${login.username})}">Greetings Username!</p>

	<p>
		<span th:text="#{email_game_full_notification_one}">Your game</span>
		<a th:href="${link}" th:text="${game.name}"></a>
		<span th:text="#{email_game_full_notification_two}">is full and can now be started!</span>
	</p>

	<p th:text="#{email_default_farewell}">Cheers,</p>

	<p>Skrupel TNG</p>
</body>
</html>