<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<p th:text="#{email_round_notification_salutation(${login.username})}">Greetings Username!</p>

		<p>
			<span th:text="#{email_last_to_finish_turn_notification_one}">You are the last player who hasn't finish the turn in the current round of game</span>
			<a th:href="${link}" th:text="${game.name}"></a>
			<span th:text="#{email_last_to_finish_turn_notification_two}">yet.</span>

		<p th:text="#{email_default_farewell}">Cheers,</p>

		<p>Skrupel TNG</p>
	</body>
</html>
