<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<p th:text="#{email_round_notification_salutation(${login.username})}">Greetings Username!</p>

	<p>
		<span th:text="#{email_match_making_game_created_notification}">
			A new game was created for you via match making.
		</span>
	</p>

	<p>
		<b th:text="#{match_making_game_created_disable_hint_start}">Important:</b>
		<span th:text="#{match_making_game_created_disable_hint_end}">
			Match making has now been disabled for all participants. You can manually reactivate it again.
		</span>
	</p>

	<p>
		<span th:text="#{email_game_started_notification_three}">Click </span>
		<a th:href="|${baseUrl}/ingame/game?id=${game.id}|" th:text="| #{email_game_started_notification_four} |">here</a>
		<span th:text="#{email_game_started_notification_five}"> to make your first turn!</span>
	</p>

	<p th:text="#{email_default_farewell}">Cheers,</p>

	<p>Skrupel TNG</p>
</body>
</html>
