<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<p th:text="#{email_password_recovery_fail_salutation}">Hello!</p>

	<p th:text="#{email_password_recovery_fail_one}">Skrupel TNG received a request to reset the password for this E-mail address, but no user with
		this address was found.</p>

	<p>
		<span th:text="#{email_password_recovery_fail_two}">Maybe you entered a different address while registering at</span>
		<a th:href="${baseUrl}" th:text="${baseUrl}">SiteAddress</a>
		<span>?</span>
	</p>

	<p th:text="#{email_default_farewell}">Cheers,</p>

	<p>Skrupel TNG</p>
</body>
</html>