<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<p th:text="#{email_round_notification_salutation(${login.username})}">Greetings Username!</p>

	<p>
		<span th:text="#{email_player_joined_notification_one}">Player</span>
		<b th:text="| ${newPlayer.username} |"></b>
		<span th:text="#{email_player_joined_notification_two}">has joined your game</span>
		<a th:href="${link}" th:text="${game.name}"></a>
		<span th:text="#{email_player_joined_notification_three}">!</span>
	</p>

	<p th:text="#{email_default_farewell}">Cheers,</p>

	<p>Skrupel TNG</p>
</body>
</html>