<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="fleet-empty">
			<div class="skr-game-selection-message" id="skr-ingame-fleet-empty" th:text="#{fleet_empty}">This fleet has no ships!</div>
		</div>

		<div th:fragment="content" class="container-fluid" id="skr-ingame-fleet-details">
			<input type="hidden" th:value="${fleet.id}" id="skr-ingame-fleet-id" />
			<input type="hidden" id="skr-ingame-current-x" th:value="${fleet.leader.x}" th:if="${fleet.leader != null}" />
			<input type="hidden" id="skr-ingame-current-y" th:value="${fleet.leader.y}" th:if="${fleet.leader != null}" />
			<input type="hidden" id="skr-ingame-current-subpage" th:value="${subPage}" />

			<div id="skr-ingame-selection-panel-top">
				<div id="skr-ingame-fleet-stats-details">
					<th:block th:fragment="stats-details">
						<input type="hidden" id="skr-ingame-fleet-ship-ids" th:value="${shipIds}" />

						<h4>
							<span th:text="|#{fleet} ${fleet.name}|">Fleet fleetname</span>
							<span th:insert="~{ingame/help::content}" th:with="id='fleet-help',title=#{fleets},fragment='simple',content=#{help_fleet_overview}"></span>
						</h4>
						<div class="row">
							<div class="col-sm-4">
								<a th:if="${fleet.leader != null}" th:onclick="|ingame.select('ship', ${fleet.leader.id});|" class="cursor-pointer" th:tooltip="#{fleet_leader}">
									<img id="skr-fleet-leader-image" th:src="${fleet.leader.createFullImagePath()}" />
								</a>
							</div>
							<div class="col-sm-8">
								<div class="row">
									<div class="col-6 border-end">
										<div
											id="skr-fleet-fuel-label"
											th:insert="~{ingame/icon-label::content}"
											th:with="label=#{fuel},value=|${#numbers.formatDecimal(resourceData.currentTankPercentage, 1, 'POINT', 0, 'COMMA')}%|,icon='fas fa-circle'"
										></div>
										<div
											th:insert="~{ingame/icon-label::content}"
											th:with="label=#{projectiles},value=|${#numbers.formatDecimal(resourceData.currentProjectilePercentage, 1, 'POINT', 0, 'COMMA')}%|,icon='fas fa-rocket'"
										></div>
										<div th:insert="~{ingame/icon-label::content}" th:with="label=#{weapons},value=${resourceData.weaponCount},icon='fas fa-bolt'"></div>
									</div>
									<div class="col-6">
										<div th:insert="~{ingame/icon-label::content}" th:with="label=#{ships_in_fleet},value=${resourceData.shipCount},icon='fas fa-space-shuttle'"></div>
										<div
											th:if="${taskItem != null}"
											th:insert="~{ingame/icon-label::content}"
											th:with="label=#{task},value=${taskItem.activeAbilityType != null} ? #{'ship_ability_' + ${taskItem.activeAbilityType}} : #{'task_' + ${taskItem.taskType.toLowerCase()}},icon='fas fa-tasks'"
										></div>
										<div th:if="${taskItem == null}" th:insert="~{ingame/icon-label::content}" th:with="label=#{task},value=#{no_common_task},icon='fas fa-tasks'"></div>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>

				<hr />

				<div class="row pt-2" th:if="${!turnDone}">
					<div class="col-12">
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'orders'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-orders"
									onclick="fleet.show('orders')"
									flow="upright"
									th:tooltip="#{orders}"
								>
									<i class="fa-fw fas fa-arrows-alt"></i>
								</a>
							</li>
							<li class="nav-item">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'ships'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-ships"
									onclick="fleet.show('ships')"
									th:tooltip="#{ships_in_fleet}"
								>
									<i class="fa-fw fas fa-space-shuttle"></i>
								</a>
							</li>
							<li class="nav-item">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'fuel'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-fuel"
									onclick="fleet.show('fuel')"
									th:tooltip="#{fill_tanks}"
								>
									<i class="fa-fw fas fa-circle"></i>
								</a>
							</li>
							<li class="nav-item">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'projectiles'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-projectiles"
									onclick="fleet.show('projectiles')"
									th:tooltip="#{projectiles}"
								>
									<i class="fa-fw fas fa-rocket"></i>
								</a>
							</li>
							<li class="nav-item">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'tactics'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-tactics"
									onclick="fleet.show('tactics')"
									th:tooltip="#{tactics}"
								>
									<i class="fa-fw fas fa-signal"></i>
								</a>
							</li>
							<li class="nav-item">
								<a
									href="javascript:;"
									class="nav-link"
									th:classappend="${'options'.equals(subPage)} ? 'active' : ''"
									id="skr-ingame-selection-panel-tab-options"
									onclick="fleet.show('options')"
									th:tooltip="#{options}"
								>
									<i class="fa-fw fas fa-cog"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div th:if="${turnDone}" th:insert="~{ingame/turn-finished::content}"></div>
			</div>

			<div class="row skr-ingame-selection-panel" id="skr-fleet-selection">
				<div th:if="${subPageFragment != null}">
					<th:block th:replace="~{__${subPageFragment}__}"></th:block>
				</div>
			</div>
		</div>
	</body>
</html>
