<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-ingame-fleet-merged" th:text="#{fleets_merged}">Fleets merged!</div>
		</div>
	</body>
</html>
