<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="name-changed">
			<div class="skr-game-selection-message" id="skr-ingame-fleet-name-changed" th:text="#{name_changed}">Name changed!</div>
		</div>
		<div th:fragment="content" id="skr-game-options-content">
			<h5>
				<span class="normal" th:text="#{options}">Options</span>
			</h5>

			<div class="row mb-3">
				<div class="col-3">
					<b th:text="|#{name}:|">Name:</b>
				</div>
				<div class="col-6">
					<input
						type="text"
						class="form-control form-control-sm"
						th:value="${fleet.name}"
						onkeyup="window.fleetOptions.onNameChange(event)"
						id="skr-ingame-fleet-change-name-input"
						maxlength="64"
					/>
					<div class="text-danger" id="skr-ingame-fleet-name-blank" style="display: none" th:text="#{fleet_name_cannot_empty}">Fleet name cannot be empty!</div>
				</div>
				<div class="col-3">
					<skr-button type="button" onclick="fleetOptions.changeName()" class="btn btn-primary" th:text="#{change_name}"> Change name </skr-button>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<skr-button type="button" onclick="fleetOptions.showDeleteFleetModal()" class="btn btn-danger" th:text="#{delete_fleet}"> Delete fleet </skr-button>
				</div>
			</div>

			<th:block th:if="${!fleets.isEmpty()}">
				<hr />

				<div>
					<h5>
						<span class="normal" th:text="#{merge_fleets}">Merge fleets</span>
						<span
							th:insert="~{ingame/help::content}"
							th:with="id='fleet-merge',title=#{help_fleet_merge_title},fragment='simple',content=#{help_fleet_merge_content}"
						></span>
					</h5>

					<div class="row mb-3">
						<div class="col-6">
							<b th:text="|#{fleet_to_be_merged}:|">Fleet to be merge into this fleet:</b>
						</div>
						<div class="col-6">
							<select class="form-select" id="skr-ingame-fleet-merge-select">
								<option th:each="otherFleet : ${fleets}" th:value="${otherFleet.id}" th:text="${otherFleet.name}">Fleet name</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<skr-button type="button" onclick="fleetMerge.mergeFleets()" class="btn btn-primary" th:text="#{merge_fleets}"> Merge fleets </skr-button>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</body>
</html>
