<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-ingame-fleet-task-success" th:text="#{task_changed}">Task changed</div>
		</div>
		<div th:fragment="content" id="skr-ingame-fleet-task">
			<div class="row" id="skr-ingame-navigation-content" th:insert="~{ingame/ship/orders::navigation}" th:with="fleetView=true"></div>

			<h5>
				<span class="normal" th:text="#{task}">Task</span>
				<span th:insert="~{ingame/help::content}" th:with="id='fleet-task',title=#{help_fleet_task_title},fragment='simple',content=#{help_fleet_task_content}"></span>
			</h5>

			<div class="row">
				<div class="col-6">
					<select class="form-select form-select-sm" id="skr-ingame-fleet-task-select" onchange="window.fleetTask.onTaskSelectionChanged(event)">
						<option value="-" th:selected="${taskItem == null}" th:text="#{no_common_task}">No common task</option>
						<option
							th:each="item : ${taskItems}"
							th:selected="${item.equals(taskItem)}"
							th:value="${item.taskType + '@' + item.activeAbilityType}"
							th:text="${item.activeAbilityType != null} ? #{'ship_ability_' + ${item.activeAbilityType}} : #{'task_' + ${item.taskType.toLowerCase()}}"
						>
							Autorefuel
						</option>
					</select>
				</div>
				<div class="col-6">
					<select
						class="form-select form-select-sm"
						id="skr-ingame-fleet-task-viral-invasion-target-select"
						th:styleAppend="${taskItem == null || taskItem.activeAbilityType == null ||!taskItem.activeAbilityType.equals('VIRAL_INVASION')} ? 'display: none;' : ''"
						onchange="window.fleetTask.changeTask()"
					>
						<option
							value="VIRAL_INVASION_COLONISTS"
							th:selected="${taskItem != null && taskItem.taskValue != null && taskItem.taskValue.equals('VIRAL_INVASION_COLONISTS')}"
							th:text="#{colonists}"
						>
							Colonists
						</option>
						<option
							value="VIRAL_INVASION_NATIVES"
							th:selected="${taskItem != null && taskItem.taskValue != null && taskItem.taskValue.equals('VIRAL_INVASION_NATIVES')}"
							th:text="#{dominant_species}"
						>
							Dominant faction
						</option>
					</select>

					<select
						class="form-select form-select-sm"
						id="skr-ingame-fleet-task-signature-mask-select"
						th:styleAppend="${taskItem == null || taskItem.activeAbilityType == null ||!taskItem.activeAbilityType.equals('SIGNATURE_MASK')} ? 'display: none;' : ''"
						onchange="window.fleetTask.changeTask()"
					>
						<option
							th:each="player : ${players}"
							th:value="${player.color}"
							th:selected="${taskItem != null && taskItem.taskValue != null && taskItem.taskValue.equals(player.color)}"
							th:style="|color: #${player.color};|"
							th:text="${player.aiLevel != null} ? #{${player.aiLevel}} : ${player.login.username}"
						>
							Player name
						</option>
					</select>
				</div>
			</div>
		</div>
	</body>
</html>
