<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-ingame-fleet-projectiles">
			<h5>
				<span class="normal" th:text="#{projectiles}">Projectiles</span>
				<span
					th:insert="~{ingame/help::content}"
					th:with="id='fleet-projectiles',title=#{help_fleet_projectiles_title},fragment='simple',content=#{help_fleet_projectiles_content},toolTipFlow='down'"
				></span>
			</h5>

			<div class="text-center">
				<h5
					th:if="${resourceData.possibleProjectilePercentage - resourceData.currentProjectilePercentage == 0.0}"
					class="w-100"
					th:text="#{fleet_no_more_projectiles_can_be_build}"
				>
					No more projectiles can be build for this fleet.
				</h5>

				<th:block th:if="${resourceData.possibleProjectilePercentage - resourceData.currentProjectilePercentage > 0.0}">
					<div class="d-inline-flex align-items-center w-100">
						<span th:text="|#{current_projectile_percentage}:|">Current:</span>
						<span class="ms-1 me-2" th:text="|${resourceData.currentProjectilePercentage}%|">20%</span>

						<span class="ms-2 me-1" th:text="|#{max_projectile_percentage}:|">Max:</span>
						<span th:text="|${resourceData.possibleProjectilePercentage}%|">100%</span>
					</div>

					<skr-button type="button" class="btn btn-primary" onclick="fleetProjectiles.buildProjectiles()" th:text="#{construct_all_projectiles_auto}">
						Construct all possible projectiles automatically
					</skr-button>
				</th:block>
			</div>
		</div>
	</body>
</html>
