<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-ingame-fleet-ships" class="mb-3">
			<h5 class="mb-0">
				<span class="normal" th:text="#{ships_in_fleet}">Ships in fleet</span>
			</h5>

			<div
				class="row skr-fleet-ship-list-item"
				th:id="|skr-fleet-ship-list-item-${ship.id}|" th:each="ship : ${ships}"
				th:onmouseenter="|window.fleetShips.onMouseEnterShip(${ship.x}, ${ship.y})|"
				onmouseleave="window.fleetShips.onMouseLeaveShip()"
			>
				<div class="col-12">
					<hr />
				</div>
				<div class="col-sm-3 col-md-5 col-lg-4 col-xl-3">
					<a th:onclick="|ingame.select('ship', ${ship.id});|" class="cursor-pointer">
						<img th:src="${ship.createFullImagePath()}" style="height: 75px" />
					</a>
				</div>
				<div class="col-sm-9 col-md-7 col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-4">
							<a th:onclick="|ingame.select('ship', ${ship.id});|" class="cursor-pointer">
								<b th:text="${ship.name}">Ship name</b>
							</a>
						</div>
						<div class="col-4 form-check">
							<input
								type="radio"
								name="leader"
								th:shipId="${ship.id}"
								onclick="window.fleetShips.onSelect(this.getAttribute('shipId'))"
								class="fleet-leader-radio form-check-input"
								th:id="|leader-radio-${ship.id}|"
								th:checked="${fleet.leader == ship}"
							/>
							<label class="form-check-label" th:for="|leader-radio-${ship.id}|" th:text="#{fleet_leader}"> Leader </label>
						</div>
						<div class="col-4">
							<skr-button type="button" class="btn btn-danger" th:onclick="|fleetDetails.removeShipFromFleet(${ship.id})|">
								<span th:text="#{remove}">Remove</span>
							</skr-button>
						</div>

						<div class="col-6">
							<div
								th:insert="~{ingame/icon-label::content}"
								th:with="label=#{fuel},value=|${#numbers.formatDecimal((1.0 * ship.fuel) / ship.shipTemplate.fuelCapacity * 100, 1, 'POINT', 0, 'COMMA')}%|,icon='fas fa-circle'"
							></div>
						</div>
						<div class="col-6">
							<div
								th:insert="~{ingame/icon-label::content}"
								th:with="label=#{projectiles},value=${ship.shipTemplate.projectileWeaponsCount > 0} ? |${#numbers.formatDecimal((1.0 * ship.projectiles) / (ship.shipTemplate.projectileWeaponsCount * 5) * 100, 1, 'POINT', 0, 'COMMA')}%| : '-',icon='fas fa-rocket'"
							></div>
						</div>
						<div class="col-6">
							<span th:text="|#{task}:|">Task:</span>
							<span th:text="${@shipTaskString.retrieveTaskString(ship)}">Task</span>
						</div>
						<div class="col-6">
							<span th:text="|#{aggressiveness}:|">Aggressiveness:</span>
							<span th:text="|${ship.getAggressiveness()}%|">100%</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
