<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{factions} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{factions}">Factions</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 text-center mt-2 mb-3 faction-button" th:each="faction : ${faction}">
					<a th:href="|factions/${faction.id}|" th:id="|skr-infos-faction-button-${faction.id}|">
						<span th:text="${@masterDataService.getI18NValue(faction.id)}">Faction name</span>
						<br />
						<img th:src="|/factions/${faction.id}/logo.png|" />
					</a>
				</div>
			</div>
		</section>
	</body>
</html>
