<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<head>
		<title th:text="|${@masterDataService.getI18NValue(faction.id)} - #{application_name}|"></title>
	</head>
	<body>
		<th:block th:fragment="orbital-system-item">
			<a
				href="javascript:;"
				th:text="#{'orbital_system_type_' + ${type.name()}}"
				data-bs-toggle="modal"
				th:data-bs-target="|#skr-ingame-orbital-system-typs-modal-${type.name()}|"
			></a>

			<div class="modal" tabindex="-1" role="dialog" th:id="|skr-ingame-orbital-system-typs-modal-${type.name()}|">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header text-center">
							<h4 class="text-center" th:text="#{'orbital_system_type_' + ${type.name()}}">Orbital system name</h4>
							<skr-button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></skr-button>
						</div>
						<div class="modal-body">
							<h5 class="text-center" th:text="#{'orbital_system_short_description_' + ${type.name()}}">Description</h5>
						</div>
					</div>
				</div>
			</div>
		</th:block>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item">
						<a href="/infos/factions" th:text="#{factions}" id="skr-infos-breadcrumb-factions">Factions</a>
					</li>
					<li class="breadcrumb-item active" th:text="${@masterDataService.getI18NValue(faction.id)}">Faction name</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12 col-lg-11 col-xl-9">
					<div class="card">
						<div class="card-header">
							<h1 class="card-title" th:text="${@masterDataService.getI18NValue(faction.id)}">Faction name</h1>
						</div>
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-12" th:utext="${@masterDataService.getFactionDescription(faction.id)}">
									Faction description
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<h4>
										<span class="normal" th:text="#{properties}">Properties</span>
										<span
											th:insert="~{ingame/help::content}"
											th:with="id='faction-properties',title=#{faction_properties},fragment='simple',content=#{help_infos_faction_content}"
										></span>
									</h4>
								</div>
							</div>
							<div class="row mb-3" th:if="${additionalOrbitalSystems != null || unavailableOrbitalSystems != null}">
								<div class="col-12" th:if="${additionalOrbitalSystems != null}">
									<span th:text="|#{additional_orbital_systems}:|">Additional orbital systems:</span>
									<th:block
										th:each="orbitalSystem : ${additionalOrbitalSystems}"
										th:insert="~{::orbital-system-item}"
										th:with="type=${orbitalSystem}"
									></th:block>
								</div>
								<div class="col-12" th:if="${unavailableOrbitalSystems != null}">
									<span th:text="|#{unavailable_orbital_systems}:|">Unavailable orbital systems:</span>
									<th:block
										th:each="orbitalSystem : ${unavailableOrbitalSystems}"
										th:insert="~{::orbital-system-item}"
										th:with="type=${orbitalSystem}"
									></th:block>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="row g-0">
										<div class="col-7" th:text="|#{home_planet}:|">Home planet:</div>
										<div class="col-5 fw-bold text-end" th:text="${faction.homePlanetName}">Home planet name</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="row g-0">
										<div class="col-9" th:text="|#{preferred_planet_type}:|">Preferred planet type:</div>
										<div class="col-3 fw-bold text-end" th:if="${faction.preferredPlanetType != ''}" th:text="${faction.preferredPlanetType}">M</div>
										<div class="col-3 fw-bold text-end" th:if="${faction.preferredPlanetType == ''}" th:text="#{none}">None</div>
										<div class="col-9" th:text="|#{preferred_temperature}:|">Preferred temperature:</div>
										<div
											class="col-3 fw-bold text-end"
											th:if="${faction.preferredTemperature != 0}"
											th:text="|${faction.preferredTemperature} C°|"
										>
											18 C°
										</div>
										<div class="col-3 fw-bold text-end" th:if="${faction.preferredTemperature == 0}" th:text="#{none}">
											None
										</div>
										<div class="col-9" th:text="|#{tax_rate}:|">Tax rate:</div>
										<div
											class="col-3 fw-bold text-end"
											th:text="|${#numbers.formatDecimal(faction.taxRate * 100, 1, 'POINT', 0, 'COMMA')} %|"
										>
											110 %
										</div>
									</div>
								</div>
								<div class="col-md-4 border-start border-end">
									<div class="row g-0">
										<div class="col-9" th:text="|#{mine_production}:|">Mine production:</div>
										<div
											class="col-3 fw-bold text-end"
											th:text="|${#numbers.formatDecimal(faction.mineProductionRate * 100, 1, 'POINT', 0, 'COMMA')} %|"
										>
											110 %
										</div>
										<div class="col-9" th:text="|#{factory_production}:|">Factory production:</div>
										<div
											class="col-3 fw-bold text-end"
											th:text="|${#numbers.formatDecimal(faction.factoryProductionRate * 100, 1, 'POINT', 0, 'COMMA')} %|"
										>
											110 %
										</div>
										<div class="col-9" th:text="|#{ground_combat_offense}:|">Ground combat offense:</div>
										<div
											class="col-3 fw-bold text-end"
											th:text="|${#numbers.formatDecimal(faction.groundCombatAttackRate * 100, 1, 'POINT', 0, 'COMMA')} %|"
										>
											110 %
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row g-0">
										<div class="col-9" th:text="|#{ground_combat_defense}:|">Ground combat defense:</div>
										<div
											class="col-3 fw-bold text-end"
											th:text="|${#numbers.formatDecimal(faction.groundCombatDefenseRate * 100, 1, 'POINT', 0, 'COMMA')} %|"
										>
											110 %
										</div>
										<div class="col-7" th:text="|#{assimilation}:|">Assimilation:</div>
										<div
											class="col-5 fw-bold text-end"
											th:text="${faction.assimilationType != null} ? #{'native_species_type_' + ${faction.assimilationType.name()}} : #{none}"
										>
											None
										</div>
										<div class="col-9" th:text="|#{assimilation_efficiency}:|">Assimilation efficiency:</div>
										<div
											class="col-3 fw-bold text-end"
											th:text="|${#numbers.formatDecimal(faction.assimilationRate, 1, 'POINT', 0, 'COMMA')} %|"
										>
											110 %
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-11 col-xl-9 mt-2 faction-button" th:each="entry : ${templateDetails}">
					<div class="card">
						<div class="card-body">
							<div
								th:insert="~{ship-template-details::content}"
								th:with="template=${entry.template},abilityDescriptions=${entry.descriptions},modal=false"
							></div>
							<div th:insert="~{dashboard/infos/ship-image-modal::modal}" th:with="template=${entry.template}"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
