<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{dominant_species} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{dominant_species}">Native species</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-lg-6" th:each="species : ${nativeSpecies}">
					<div class="card">
						<div class="card-body">
							<div class="card-title">
								<h4 th:text="${species.name}">Native species name</h4>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-6">
											<label th:text="#{type}">Type</label>
										</div>
										<div class="col-6 text-end">
											<span th:text="#{'native_species_type_' + ${species.type.name()}}">Humanoid</span>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<label th:text="#{taxes}">Taxes</label>
										</div>
										<div class="col-6 text-end">
											<span th:text="|${#numbers.formatDecimal(species.tax * 100.0, 1, 'POINT', 0, 'COMMA')} %|">20 %</span>
											<i class="fa-fw fa fa-coins"></i>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<label class="text-center fw-bold" th:text="${description.createNativeSpeciesDescriptionByNativeSpecies(species)}">Description</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
