<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<head>
		<title th:text="|#{orbital_systems} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{orbital_systems}">Orbital systems</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{orbital_systems}">Orbital systems</h4>
					<p th:utext="#{help_infos_orbital_systems_intro_text}">
						Orbital systems are buildings or institutions that can be build on a planet. Every planet has 1 to 6 slots
						available for them. Once built an orbital system cannot be removed anymore, so think careful before
						building!
					</p>

					<h5 th:text="#{help_infos_orbital_systems_cost_overview}">Cost overview</h5>
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{name}">Name</th>
								<th>
									<span th:tooltip="#{money}">
										<i class="fa-fw fa fa-coins"></i>
									</span>
								</th>
								<th>
									<span th:tooltip="#{supplies}">
										<i class="fa-fw fa fa-cube"></i>
									</span>
								</th>
								<th>
									<span th:tooltip="#{fuel}">
										<i class="fa-fw fa fa-circle"></i>
									</span>
								</th>
								<th>
									<span th:tooltip="#{mineral1}">
										<i class="fa-fw fas fa-certificate"></i>
									</span>
								</th>
								<th>
									<span th:tooltip="#{mineral2}">
										<i class="fa-fw fas fa-square-full"></i>
									</span>
								</th>
								<th>
									<span th:tooltip="#{mineral3}">
										<i class="fa-fw fas fa-play fa-rotate-90"></i>
									</span>
								</th>
								<th th:text="#{effect}">Effect</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="type : ${types}" th:if="!${'SPY_CENTER'.equals(type.name())}">
								<td th:text="#{'orbital_system_type_' + ${type.name()}}">Name</td>
								<td th:text="${type.money}">120</td>
								<td th:text="${type.supplies}">17</td>
								<td th:text="${type.fuel}">0</td>
								<td th:text="${type.mineral1}">20</td>
								<td th:text="${type.mineral2}">17</td>
								<td th:text="${type.mineral3}">13</td>
								<td th:text="#{'orbital_system_short_description_' + ${type.name()}}">Description</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</body>
</html>
