<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<head>
		<title th:text="|#{combat_calculator_orbit} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{combat_calculator_orbit}"></li>
				</ol>
			</nav>

			<form
				action="#"
				th:action="@{/infos/combat-calculator/orbit}"
				method="get"
				id="skr-infos-orbital-combat-calculator"
			>
				<div class="row">
					<div th:replace="~{dashboard/infos/space-combat-calculator::half('', 'our_ship')}"></div>

					<div class="col-6">
						<div class="row">
							<div class="col-12 fw-bold mb-3" th:text="#{enemy_planet}"></div>
							<div class="col-6">
								<input
									type="radio"
									id="planetary"
									name="defenseInputType"
									value="planetary"
									th:checked="${param.get('defenseInputType') == null || 'planetary'.equals(param.get('defenseInputType').toString())}"
								/>
								<label for="planetary" th:text="#{planetary_defense}"></label>
							</div>
							<div class="col-6">
								<input
									class="form-control"
									type="number"
									id="planetaryDefenseCount"
									name="planetaryDefenseCount"
									th:value="${param.get('planetaryDefenseCount') != null} ? ${param.get('planetaryDefenseCount')} : '0'"
								/>
							</div>

							<div class="col-6"></div>
							<div class="col-6 text-center">+</div>

							<div class="col-6">
								<label for="starbaseType" th:text="#{starbase}"></label>
							</div>
							<div class="col-6">
								<select class="form-select" id="starbaseType" name="starbaseType">
									<option value="" th:text="#{none}"></option>
									<option
										th:each="starbaseType : ${starbaseTypes}"
										th:value="${starbaseType.name()}"
										th:text="#{${starbaseType.name()}}"
										th:selected="${param.get('starbaseType') != null && starbaseType.name().equals(param.get('starbaseType').toString())}"
									></option>
								</select>
							</div>

							<div class="col-6"></div>
							<div class="col-6 text-center">=</div>

							<div class="col-6">
								<input
									type="radio"
									id="total"
									name="defenseInputType"
									value="total"
									th:checked="${param.get('defenseInputType') != null && 'total'.equals(param.get('defenseInputType').toString())}"
								/>
								<label for="total" th:text="#{total_planetary_defense}"></label>
							</div>
							<div class="col-6">
								<input
									class="form-control"
									type="number"
									id="totalPlanetaryDefense"
									name="totalPlanetaryDefense"
									th:value="${totalPlanetaryDefense != null}
												? ${totalPlanetaryDefense}
												: (${param.get('totalPlanetaryDefense') != null} ? ${param.get('totalPlanetaryDefense')} : '0')"
								/>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-6">
						<span th:text="#{combat_orbital_result}"> </span>
						<span
							class="fw-bold"
							id="survival-rate"
							th:text="|${#numbers.formatDecimal(survivalRate, 1, 'POINT', 1, 'COMMA')} %|"
						>
							0 %
						</span>
					</div>
					<div class="col-6">
						<span th:text="#{combat_orbital_remaining_planetary_defense}"> </span>
						<span class="fw-bold" id="remaining-planetary-defense" th:text="${avgRemainingPlanetaryDefense}">0</span>
					</div>
				</div>

				<script type="text/javascript">
					document.addEventListener('DOMContentLoaded', () => {
						const form = document.getElementById('skr-infos-orbital-combat-calculator');

						document
							.querySelectorAll(
								'#skr-infos-orbital-combat-calculator input, #skr-infos-orbital-combat-calculator select'
							)
							.forEach((elem) => {
								elem.addEventListener('change', () => {
									form.submit();
								});
							});
					});
				</script>
			</form>
		</section>
	</body>
</html>
