<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{space_combat} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}" id="skr-infos-breadcrumb-infos">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{space_combat}">Space combat</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{help_infos_space_combat_order}">Combat order</h4>
					<p th:text="#{help_infos_space_combat_order_text}">
						Combat only happens when there are at least 2 combatants on the same coordinates or the same planet. Space combat is always broken down to fights between 2 ships, even if there are multiple ships on both sides on the same coordinates. The
						order is determined by the aggressiveness of the ships. First the most aggressive ship is determined on both sides (at random when aggressivenesses are equal); these two ships fight against each other until one of them is destroyed. If
						there are more enemy ships the winning ship is used against the next enemy ship and so on. This process is repeated until only one player has remaining ships at the current coordinates.
					</p>

					<h4 th:text="#{help_infos_space_combat_support}">Support</h4>
					<p th:text="#{help_infos_space_combat_support_one}">
						Even when fleets meet in combat only duells between 2 ships occur, but ships can get support from their fleets. The number of supporting ships is determined by the highest number of the current ships weapons. For example: a ship with 1
						energy weapon, 0 projectile weapons and 3 hangars can get support from up to 3 ships. These support points can additionally be raised by experience points.
					</p>
					<p th:utext="#{help_infos_space_combat_support_two}">
						Supporting ships must meet 2 criteria: <br />
						1. The highest weapon count of the supporting ship must be at least half of the highest weapon count of the ship to be supported.<br />
						2. The techlevel of the supporting ship must be at most 2 techlevels below the techlevel of the ship to be supported.
					</p>
					<p th:text="#{help_infos_space_combat_support_three}">
						For each ship on the same coordinates that meet these criteria on support point is added. For each point the number of energy weapons increase for the supported ship (maximum: 10). If points remain the hangar count is increased (maxium:
						10). If some points still remain they are used to increase the mass of the ship by 100 per point (maxium: 1000).
					</p>

					<h4 th:text="#{help_infos_space_combat_1on1}">1 on 1 battle</h4>
					<p th:text="#{help_infos_space_combat_1on1_one}">
						Each weapon system (energy, projectile, hangar) fires their weapons in battle phases that consist of 10 battle rounds. In each battle round the ship can only fire one energy and one projectile weapon and launch one intercepter out of a
						hangar. The weapon/hangar counts for each weapon system determine how many rounds of a battle phase the weapon system fires. A ship with 7 energy weapons, 4 projectile weapons and 2 hangars fires its energy weapons in the first 7 its
						projectile weapons in the first 4 launches intercepters in the first 2 battle rounds of any given battle phase.
					</p>
					<p th:text="#{help_infos_space_combat_1on1_two}">
						Both ships fire their weapons simultaneously in a battle phase so it can happen that both ships mutually destroy themselves. The battle ends when one of the ships is destroyed after a battle phase. If both ships are still present a new
						battle phase is started.
					</p>
					<p th:text="#{help_infos_space_combat_1on1_three}">
						First weapons damage the shields of a ship that regenerates to 100% when the game round calculation is complete (i.e. in the next round). After the shield is gone the attacks directly hit the hull of the ship (that does not regenerate on
						its own). The more mass a ship has the more damage it can take on its shield and its hull.
					</p>
					<p th:text="#{help_infos_space_combat_1on1_four}">
						All combat in a galaxy are finished when no ships of enemy factions are on the same coordinates.
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
