<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<input type="hidden" id="skr-ingame-orbitalsystem-id" th:value="${orbitalSystem.id}" />

			<div class="row g-0 mb-3" id="skr-ingame-orbital-system-construction-table">
				<div class="col-12">
					<table class="table fw-bold">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">
									<span th:tooltip="#{money}" flow="down">
										<i class="fa-fw fa fa-coins"></i>
									</span>
								</th>
								<th scope="col">
									<span th:tooltip="#{supplies}" flow="down">
										<i class="fa-fw fa fa-cube"></i>
									</span>
								</th>
								<th scope="col">
									<span th:tooltip="#{fuel}" flow="down">
										<i class="fa-fw fas fa-circle"></i>
									</span>
								</th>
								<th scope="col">
									<span th:tooltip="#{mineral1}" flow="down">
										<i class="fa-fw fas fa-certificate"></i>
									</span>
								</th>
								<th scope="col">
									<span th:tooltip="#{mineral2}" flow="down">
										<i class="fa-fw fas fa-square-full"></i>
									</span>
								</th>
								<th scope="col">
									<span th:tooltip="#{mineral3}" flow="down">
										<i class="fa-fw fas fa-play fa-rotate-90"></i>
									</span>
								</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="type : ${types}">
								<td>
									<skr-button
										type="button"
										class="btn btn-link"
										th:classappend="${type.canBeBuild(orbitalSystem.planet)} ? 'fw-bold' : ''"
										th:data1="${type.name()}"
										th:onclick="|window.orbitalSystemConstruction.showModal(this.getAttribute('data1'))|"
										th:text="#{'orbital_system_type_' + ${type.name()}}"
									>
										Orbital system type name
									</skr-button>

									<div
										class="modal"
										tabindex="-1"
										role="dialog"
										th:id="|skr-ingame-orbital-system-type-modal-${type.name()}|"
									>
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header text-center">
													<h4 class="text-center" th:text="#{'orbital_system_type_' + ${type.name()}}">
														Orbital system name
													</h4>
													<skr-button
														type="button"
														class="btn-close"
														data-bs-dismiss="modal"
														aria-label="Close"
													></skr-button>
												</div>
												<div class="modal-body">
													<h5 class="text-center" th:text="#{'orbital_system_short_description_' + ${type.name()}}">
														Description
													</h5>
												</div>
											</div>
										</div>
									</div>
								</td>
								<td th:text="${type.money}" th:class="${type.money > orbitalSystem.planet.money} ? 'text-danger' : ''">
									120
								</td>
								<td
									th:text="${type.supplies}"
									th:class="${type.supplies > orbitalSystem.planet.supplies} ? 'text-danger' : ''"
								>
									120
								</td>
								<td th:text="${type.fuel}" th:class="${type.fuel > orbitalSystem.planet.fuel} ? 'text-danger' : ''">
									120
								</td>
								<td
									th:text="${type.mineral1}"
									th:class="${type.mineral1 > orbitalSystem.planet.mineral1} ? 'text-danger' : ''"
								>
									120
								</td>
								<td
									th:text="${type.mineral2}"
									th:class="${type.mineral2 > orbitalSystem.planet.mineral2} ? 'text-danger' : ''"
								>
									120
								</td>
								<td
									th:text="${type.mineral3}"
									th:class="${type.mineral3 > orbitalSystem.planet.mineral3} ? 'text-danger' : ''"
								>
									120
								</td>
								<td>
									<skr-button
										type="button"
										class="btn btn-primary orbital-system-build-button"
										th:data1="${type.name()}"
										th:onclick="|window.orbitalSystemConstruction.construct(this.getAttribute('data1'))|"
										th:if="${type.canBeBuild(orbitalSystem.planet)}"
										th:text="#{build}"
									>
										Build
									</skr-button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
