<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="tear-down-panel">
	<h6 th:text="|#{tear_down_costs}:|" class="mb-0 mt-5 text-center">Tear down costs:</h6>

	<div class="d-inline-flex align-items-center justify-content-between mt-1 w-100">
		<div class="d-inline-flex align-items-center justify-content-between w-75">
			<div
				th:insert="~{ingame/icon-label::content}"
				th:classappend="${orbitalSystem.getTearDownMoneyCosts() > orbitalSystem.planet.money} ? 'text-danger' : ''"
				th:with="value=${orbitalSystem.getTearDownMoneyCosts()},icon='fa fa-coins'"
			></div>
			<div
				th:insert="~{ingame/icon-label::content}"
				th:classappend="${orbitalSystem.getTearDownSupplyCosts() > orbitalSystem.planet.supplies} ? 'text-danger' : ''"
				th:with="value=${orbitalSystem.getTearDownSupplyCosts()},icon='fa fa-cube'"
			></div>
			<div
				th:insert="~{ingame/icon-label::content}"
				th:classappend="${orbitalSystem.getTearDownFuelCosts() > orbitalSystem.planet.fuel} ? 'text-danger' : ''"
				th:with="value=${orbitalSystem.getTearDownFuelCosts()},icon='fas fa-circle'"
			></div>
			<div
				th:insert="~{ingame/icon-label::content}"
				th:classappend="${orbitalSystem.getTearDownMineral1Costs() > orbitalSystem.planet.mineral1} ? 'text-danger' : ''"
				th:with="value=${orbitalSystem.getTearDownMineral1Costs()},icon='fas fa-certificate'"
			></div>
			<div
				th:insert="~{ingame/icon-label::content}"
				th:classappend="${orbitalSystem.getTearDownMineral2Costs() > orbitalSystem.planet.mineral2} ? 'text-danger' : ''"
				th:with="value=${orbitalSystem.getTearDownMineral2Costs()},icon='fas fa-square-full'"
			></div>
			<div
				th:insert="~{ingame/icon-label::content}"
				th:classappend="${orbitalSystem.getTearDownMineral3Costs() > orbitalSystem.planet.mineral3} ? 'text-danger' : ''"
				th:with="value=${orbitalSystem.getTearDownMineral3Costs()},icon='fas fa-play fa-rotate-90'"
			></div>
		</div>

		<skr-button type="button"
					class="btn btn-danger"
					th:classappend="${orbitalSystem.canBeTornDown() ? '' : 'disabled'}"
					th:disabled="${!orbitalSystem.canBeTornDown()}"
					id="skr-orbital-system-tear-down-button"
					th:orbitalSystemId="${orbitalSystem.id}"
					onclick="window.orbitalSystems.tearDown(this.getAttribute('orbitalSystemId'))"
					th:text="#{tear_down_orbital_system}"
					flow="down"
		>
			Tear down
		</skr-button>
	</div>
</div>

<div th:fragment="simple">
	<div class="row" th:id="|skr-orbital-system-content-${orbitalSystem.id}|">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h3 class="text-center" th:text="#{'orbital_system_type_' + ${orbitalSystem.type.name()}}">
							Orbital system name
						</h3>
					</div>
					<h6 class="text-center" th:text="#{'orbital_system_short_description_' + ${orbitalSystem.type.name()}}">
						Description
					</h6>

					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-10">
							<div th:if="${!orbitalSystem.type.name().equals('ORBITAL_EXTENSION')}" th:insert="~{::tear-down-panel}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="groundunits">
	<input type="hidden" id="skr-ingame-orbitalsystem-id" th:value="${orbitalSystem.id}"/>

	<h5 class="text-center" th:text="#{'orbital_system_type_' + ${orbitalSystem.type.name()}}">Military base</h5>
	<div class="row">
		<div class="col-5 text-end" style="line-height: 24px" th:text="#{production_costs_per_unit}">
			Production costs per unit
		</div>
		<div class="col-7">
			<div class="d-inline-flex align-items-center justify-content-between w-75">
				<div
					th:insert="~{ingame/icon-label::content}"
					th:with="label='',value=${data.colonistCosts},icon='fa fa-male'"
				>
					1
				</div>
				<div th:insert="~{ingame/icon-label::content}" th:with="label='',value=${data.moneyCosts},icon='fa fa-coins'">
					1
				</div>
				<div
					th:insert="~{ingame/icon-label::content}"
					th:with="label='',value=${data.supplyCosts},icon='fa fa-cube'"
					th:if="${light}"
				>
					1
				</div>
				<div
					th:insert="~{ingame/icon-label::content}"
					th:with="label='',value=${data.fuelCosts},icon='fas fa-circle'"
					th:if="${!light}"
				>
					1
				</div>
				<div
					th:insert="~{ingame/icon-label::content}"
					th:with="label='',value=${data.mineral1Costs},icon='fas fa-certificate'"
				>
					1
				</div>
				<div
					th:insert="~{ingame/icon-label::content}"
					th:with="label='',value=${data.mineral2Costs},icon='fas fa-square-full'"
				>
					1
				</div>
				<div
					th:insert="~{ingame/icon-label::content}"
					th:with="label='',value=${data.mineral3Costs},icon='fas fa-play fa-rotate-90'"
					th:if="${!light}"
				>
					1
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 mb-2">
		<div class="col-5 text-end" th:text="#{currently_in_production}">Currently in production</div>
		<div class="col-4 fw-bold" th:text="|${data.inProduction} / ${data.retrieveMaxInProduction()}|">10 / 100</div>
	</div>
	<div class="row">
		<div class="col-5 text-end" th:text="#{'existing_' + ${light ? 'light_units' : 'heavy_units'}}">Exiting:</div>
		<div class="col-4 fw-bold" th:text="${data.existing}">20</div>
	</div>
	<div class="row mt-2" th:if="${data.retrieveNewlyProducable() > 0}">
		<div class="col-5"></div>
		<div class="col-2">
			<select id="skr-ingame-ground-units-quantity-input" class="form-select form-select-sm">
				<option
					th:each="quantity : ${#numbers.sequence(1, data.retrieveNewlyProducable())}"
					th:selected="${quantity == data.retrieveNewlyProducable()}"
					th:value="${quantity}"
					th:text="${quantity}"
				>
					1
				</option>
			</select>
		</div>
		<div class="col-4">
			<skr-button
				type="button"
				class="btn btn-primary"
				id="skr-ingame-build-ground-units-button"
				th:onclick="|window.groundUnits.buildUnits(${light})|"
				th:text="#{produce}"
			>
				Produce
			</skr-button>
		</div>
	</div>
	<div class="row g-0" th:if="${data.retrieveNewlyProducable() <= 0}">
		<div class="col-5"></div>
		<div class="col-5 ms-3" th:text="#{no_more_ground_units_producable}"></div>
	</div>

	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div th:insert="~{::tear-down-panel}"></div>
		</div>
	</div>
</div>

<span th:fragment="mineral-icon(mineral)" th:tooltip="#{${mineral}}" flow="left">
			<i class="fa-fw fas fa-certificate" th:if="${mineral.equals('mineral1')}"></i>
			<i class="fa-fw fas fa-square-full" th:if="${mineral.equals('mineral2')}"></i>
			<i class="fa-fw fas fa-play fa-rotate-90" th:if="${mineral.equals('mineral3')}"></i>
		</span>

<div th:fragment="mineral-transformer-item(sourceMineral, targetMineral, data)">
	<div class="mineral-transformer-item" th:if="${data.get(sourceMineral + '_' + targetMineral).getMaxTarget() > 0}">
				<span>
					<input
						type="number"
						th:min="0"
						th:value="${data.get(sourceMineral + '_' + targetMineral).getMaxMoney()}"
						th:max="${data.get(sourceMineral + '_' + targetMineral).getMaxMoney()}"
						class="form-control form-control-sm small"
						th:id="|skr-mineral-transform-money-${sourceMineral}-${targetMineral}|"
						th:source="${sourceMineral}"
						th:target="${targetMineral}"
						onchange="window.mineralTransformer.onChangeMoney(this.getAttribute('source'), this.getAttribute('target'), event)"
					/>
					<span th:tooltip="#{money}" flow="right">
						<i class="fa-fw fa fa-coins"></i>
					</span>
				</span>

		<i class="fa-fw fas fa-plus"></i>

		<span>
					<input
						type="number"
						th:min="0"
						th:value="${data.get(sourceMineral + '_' + targetMineral).getMaxSource()}"
						th:max="${data.get(sourceMineral + '_' + targetMineral).getMaxSource()}"
						class="form-control form-control-sm small"
						th:id="|skr-mineral-transform-source-${sourceMineral}-${targetMineral}|"
						th:source="${sourceMineral}"
						th:target="${targetMineral}"
						onchange="window.mineralTransformer.onChangeSource(this.getAttribute('source'), this.getAttribute('target'), event)"
					/>
					<span th:replace="~{::mineral-icon(${sourceMineral})}"></span>
				</span>

		<i class="fa-fw fas fa-long-arrow-alt-right"></i>

		<span>
					<input
						type="number"
						th:min="0"
						th:value="${data.get(sourceMineral + '_' + targetMineral).getMaxTarget()}"
						th:max="${data.get(sourceMineral + '_' + targetMineral).getMaxTarget()}"
						class="form-control form-control-sm small"
						th:id="|skr-mineral-transform-target-${sourceMineral}-${targetMineral}|"
						th:source="${sourceMineral}"
						th:target="${targetMineral}"
						onchange="window.mineralTransformer.onChangeTarget(this.getAttribute('source'), this.getAttribute('target'), event)"
					/>

					<span th:replace="~{::mineral-icon(${targetMineral})}"></span>
				</span>

		<skr-button
			type="button"
			class="btn btn-success"
			th:tooltip="#{transform_minerals}"
			flow="left"
			th:source="${sourceMineral}"
			th:target="${targetMineral}"
			onclick="window.mineralTransformer.transform(this.getAttribute('source'), this.getAttribute('target'))"
		>
			<i class="fa-fw fas fa-sync-alt"></i>
		</skr-button>
	</div>
</div>

<div th:fragment="mineral-transformer">
	<input type="hidden" id="skr-ingame-orbitalsystem-id" th:value="${orbitalSystem.id}"/>
	<input type="hidden" id="skr-mineral-transformer-money-rate" th:value="${moneyRate}"/>
	<input type="hidden" id="skr-mineral-transformer-source-rate" th:value="${sourceRate}"/>

	<h5>
		<span class="normal" th:text="#{orbital_system_type_MINERAL_TRANSFORMER}">Mineral transformer</span>
		<span
			th:insert="~{ingame/help::content}"
			th:with="id='orbital-systems',title=#{orbital_system_type_MINERAL_TRANSFORMER},content=#{help_planet_orbital_systems_mineral_transformer(${@configProperties.getMineralTransformerMoneyRate()}, ${@configProperties.getMineralTransformerSourceRate()})},fragment='simple',toolTipFlow='down'"
		></span>
	</h5>

	<div class="row mb-3">
		<div class="col-12">
			<h6 th:if="${noTransformationPossible}" th:text="#{mineral_transformer_no_transformation_possible}"></h6>
			<div th:replace="~{::mineral-transformer-item('mineral2', 'mineral1', ${data})}"></div>
			<div th:replace="~{::mineral-transformer-item('mineral3', 'mineral1', ${data})}"></div>
			<div th:replace="~{::mineral-transformer-item('mineral1', 'mineral2', ${data})}"></div>
			<div th:replace="~{::mineral-transformer-item('mineral3', 'mineral2', ${data})}"></div>
			<div th:replace="~{::mineral-transformer-item('mineral1', 'mineral3', ${data})}"></div>
			<div th:replace="~{::mineral-transformer-item('mineral2', 'mineral3', ${data})}"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div th:insert="~{::tear-down-panel}"></div>
		</div>
	</div>
</div>
</body>
</html>
