<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="yes-no-select(id, name)">
			<select class="form-select" th:id="${id}" th:name="${id}">
				<option th:text="|-- ${name} --|" th:value="''"></option>
				<option th:selected="${param.get(id) != null && param.get(id).toString().equals('true')}" th:text="#{yes}" value="true">Yes</option>
				<option th:selected="${param.get(id) != null && param.get(id).toString().equals('false')}" th:text="#{no}" value="false">No</option>
			</select>
		</div>

		<div th:fragment="column-header(size, id, name, textEnd)" th:class="${size}" th:classappend="${textEnd} ? 'text-end' : ''">
			<label th:if="${id == null}" class="text-bold" th:text="${name}">Label</label>

			<span th:if="${id != null}">
				<a th:href="${sortOptionUrls.get(id)}" th:tooltip="${icon != null} ? ${name} : ''">
					<i
						th:if="${param.get('sorting') != null && param.get('sorting').toString().split('-')[0].equals(id)}"
						class="fa-fw fas"
						th:classappend="${param.get('sorting').toString().split('-')[1].equals('true')} ? 'fa-caret-up' : 'fa-caret-down'"
					></i>

					<span th:if="${icon == null}" th:text="${name}"></span>
				</a>
			</span>
		</div>

		<div th:fragment="content(formAction, searchParamsTemplate, resetUrl, results, sortItems, tableHeaderTemplate, emptyString, tableRowTemplate, completeUrl)">
			<form th:action="${formAction}" method="GET">
				<div class="row pt-2">
					<div class="col-lg-10 col-xl-8">
						<div class="row" th:insert="~{__${searchParamsTemplate}__}"></div>
					</div>
					<div class="col-sm-6 col-lg-1 col-xl-2 pb-3">
						<skr-button type="submit" class="btn btn-primary w-100" id="skr-fullpage-search-button">
							<i class="fas fa-search"></i>
							<span class="d-lg-none d-xl-inline-block" th:text="#{search}">Search</span>
						</skr-button>
					</div>
					<div class="col-sm-6 col-lg-1 col-xl-2 pb-3">
						<a th:href="${resetUrl}">
							<skr-button class="btn btn-danger w-100">
								<i class="fas fa-minus-circle"></i>
								<span class="d-lg-none d-xl-inline-block" th:text="#{reset}">Reset</span>
							</skr-button>
						</a>
					</div>
				</div>

				<div class="row d-md-none pb-3">
					<div class="col-12 text-end">
						<select class="form-select" id="sorting" name="sorting" onchange="this.form.submit()">
							<option
								th:each="sortItem : ${sortItems}"
								th:value="|${sortItem.sortField.name()}-${sortItem.ascending}|"
								th:selected="${param.sorting != null && param.sorting.toString().split('-')[0].equals(sortItem.sortField.name()) && param.sorting.toString().split('-')[1].equals(sortItem.ascending.toString())}"
								th:text="#{${sortItem.sortField.i18nKey}} + ' (' + (${sortItem.ascending} ? #{sort_ascending} : #{sort_descending}) + ')'"
							>
								Name (ascending order)
							</option>
						</select>
					</div>
				</div>

				<div class="skr-table">
					<div class="row skr-table-header d-none d-md-flex" th:insert="~{__${tableHeaderTemplate}__}"></div>
					<div class="row" th:if="${results.isEmpty()}" id="skr-fullpage-searchpage-empty-text">
						<div class="col-12 fw-bold text-center" th:text="${emptyString}"></div>
					</div>
					<div class="skr-table-body">
						<div class="row skr-table-row" th:each="result : ${results}" th:insert="~{__${tableRowTemplate}__}"></div>
					</div>

					<nav class="mt-3" th:if="${!results.isEmpty()}">
						<input type="hidden" id="pagination-max-page" th:value="${results.getTotalPages()}" />

						<div class="d-inline-flex align-items-center justify-content-between w-100">
							<div class="fw-bold w-100" th:text="|#{total_results}: ${results.getTotalElements()}|">Total results: 5</div>

							<ul class="pagination justify-content-center">
								<li class="page-item" id="pagination-prev" th:classappend="${results.getNumber() == 0} ? 'disabled' : ''">
									<a class="page-link" th:href="@{${completeUrl}(page=${results.getNumber() - 1})}">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>

								<li class="page-item" th:each="page : ${#numbers.sequence(1, results.getTotalPages())}">
									<a class="page-link pagination-number" th:href="@{${completeUrl}(page=${page - 1})}" th:text="${page}"> 1 </a>
								</li>

								<li class="page-item" id="pagination-next" th:classappend="${results.getNumber() == results.getTotalPages() - 1} ? 'disabled' : ''">
									<a class="page-link" th:href="@{${completeUrl}(page=${results.getNumber() + 1})}">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
							<div class="w-100">&nbsp;</div>
						</div>
					</nav>
				</div>
			</form>
		</div>
	</body>
</html>
