<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content(roundStatLabels, roundStatItems)">
			<div class="row" id="skr-overview-stats-content" th:if="${roundStatItems != null}">
				<div class="col-12 mt-2">
					<div class="card">
						<div class="card-header">
							<h5>
								<span class="card-title" th:text="#{statistics}">Statistics</span>
							</h5>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-md-6 col-xl-4 mb-3" th:each="items : ${roundStatItems}">
                                    <h4 class="text-center" th:text="#{${items.get(0).typeId}}"></h4>
									<canvas th:id="|skr-game-chart-${items.get(0).typeId}|"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

				<script type="text/javascript" th:inline="javascript" th:each="items : ${roundStatItems}">
					var data = {
						labels: [[${roundStatLabels}]],
						datasets: [
					        /*[# th:each="item : ${items}"]*/
							{
								label: [[${item.label}]],
								backgroundColor: [[${item.color}]],
								borderColor: [[${item.color}]],
								data: [[${item.values}]]
							},
					        /*[/]*/
						]
					};

					var config = {
						type: 'line',
						data,
						options: {
							xAxes: [{
								ticks: {
									autoskip: true
								}
							}]
						}
					};
					var chart = new Chart(document.getElementById('skr-game-chart-' + [[${items.get(0).typeId}]]), config);
				</script>
			</div>
		</div>
	</body>
</html>
