<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|${game.name} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<div id="skr-game-creation-modal-wrapper">
				<div class="modal" id="skr-game-creation-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content" id="skr-game-creation-modal-content">
							<div class="modal-header">
								<div class="text-center" style="width: 100%" th:text="#{creating_game}">Creating game...</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="skr-game-confirm-delete-modal-wrapper">
				<div class="modal" id="skr-game-confirm-delete-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content" id="skr-game-confirm-delete-modal-content">
							<div class="modal-header">
								<div class="text-center" style="width: 100%" th:text="#{really_delete_game(${game.name})}">
									Do you really want to delete game GameName? This cannot be undone!
								</div>
							</div>
							<div class="modal-footer">
								<skr-button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}"> Cancel </skr-button>
								<skr-button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="skr-game-confirm-delete-button" onclick="game.deleteGame()" th:text="#{yes}">
									Yes
								</skr-button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="skr-game-deletion-modal-wrapper">
				<div class="modal" id="skr-game-deletion-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content" id="skr-game-deletion-modal-content">
							<div class="modal-header">
								<div class="text-center" style="width: 100%" th:text="#{deleting_game(${game.name})}">Deleting game GameName...</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="skr-game">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item" th:if="${!game.finished && !playerLost}">
						<a
							href="#players"
							id="skr-game-tab-players"
							data-bs-toggle="tab"
							role="tab"
							class="nav-link active"
							th:text="#{players}"
							onclick="window.game.selectPlayersTab()"
						>
							Players
						</a>
					</li>
					<li class="nav-item" th:if="${game.finished}">
						<a
							href="#game-finished"
							id="skr-game-tab-game-finished"
							data-bs-toggle="tab"
							role="tab"
							class="nav-link active"
							th:text="#{game_finished}"
							onclick="window.game.selectGameFinishedTab()"
						>
							Game finished
						</a>
					</li>
					<li class="nav-item" th:if="${!game.finished && playerLost}">
						<a
							href="#game-lost"
							id="skr-game-tab-game-lost"
							data-bs-toggle="tab"
							role="tab"
							class="nav-link active"
							th:text="#{you_lost}"
							onclick="window.game.selectGameLostTab()"
						>
							Game lost
						</a>
					</li>
					<li class="nav-item" th:if="${game.finished && statsData != null}">
						<a
							href="#game-stats"
							id="skr-game-tab-game-stats"
							data-bs-toggle="tab"
							role="tab"
							class="nav-link"
							th:text="#{statistics}"
							onclick="window.game.selectGameStatsTab()"
						>
							Statistics
						</a>
					</li>
					<li class="nav-item">
						<a href="#options" id="skr-game-tab-options" data-bs-toggle="tab" role="tab" class="nav-link" th:text="#{options}" onclick="window.game.selectOptionsTab()">
							Options
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div th:if="${!game.finished && !playerLost}" class="tab-pane active" role="tabpanel" id="players">
						<div th:replace="~{dashboard/game-players::content}"></div>
					</div>
					<div th:if="${game.finished}" class="tab-pane active" role="tabpanel" id="game-finished">
						<div th:replace="~{dashboard/game-finished::content}"></div>
					</div>
					<div th:if="${!game.finished && playerLost}" class="tab-pane active" role="tabpanel" id="game-lost">
						<div th:replace="~{dashboard/game-lost::content}"></div>
					</div>
					<div th:if="${game.finished && statsData != null}" class="tab-pane" role="tabpanel" id="game-stats">
						<div th:replace="~{dashboard/game-stats::content(${statsData.roundLabels}, ${statsData.items})}"></div>
					</div>
					<div class="tab-pane" role="tabpanel" id="options">
						<form action="#" th:action="@{/game}" th:object="${game}" method="post">
							<input type="hidden" th:field="*{id}" />

							<div id="skr-buttons" class="d-inline-flex align-items-center justify-content-between w-100">
								<div>
									<skr-button type="submit" th:if="${canEdit}" id="skr-save-game-button" class="btn btn-primary">
										<i class="fa fa-save"></i>
										<span th:text="#{save}">Save</span>
									</skr-button>
								</div>

								<div style="display: none" id="skr-game-marked-elements-hint" th:utext="#{market_elements_were_changed_from_default_settings}"></div>

								<div class="d-inline-flex align-items-center">
									<a th:href="|/new-game?copyGameId=${game.id}|" class="btn btn-secondary">
										<i class="fas fa-clone"></i>
										<span th:text="#{copy_game_settings}">Copy game settings</span>
									</a>

									<skr-button
										type="button"
										th:if="${canBeDeleted}"
										id="skr-dashboard-show-game-delete-modal-button"
										data-bs-toggle="modal"
										data-bs-target="#skr-game-confirm-delete-modal"
										class="btn btn-danger ms-2"
									>
										<i class="fas fa-trash-alt"></i>
										<span th:text="#{delete}">Delete</span>
									</skr-button>
								</div>
							</div>

							<div th:replace="~{dashboard/game-options::content}"></div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
