<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
<head>
	<title th:text="|#{match_making} - #{application_name}|"></title>
</head>

<div th:fragment="item(type, items)" class="col-sm-12 col-md-4 col-lg-15 mb-3">
	<div class="card">
		<div class="card-header">
			<div class="card-title" th:text="#{'match_making_criteria_' + ${type.toUpperCase()}}">Criteria</div>
		</div>

		<div class="card-body">
			<span class="text-danger" th:if="${#fields.hasErrors(items)}" th:errors="*{__${items}__}"></span>

			<div class="form-check" th:each="item, itemStat : *{__${items}__}">
				<input type="hidden"
					   th:field="*{__${items}__[__${itemStat.index}__].value}"/>
				<input type="hidden"
					   th:field="*{__${items}__[__${itemStat.index}__].displayValue}"/>

				<input class="form-check-input"
					   th:id="|${type}-*{__${items}__[__${itemStat.index}__].value}|"
					   type="checkbox"
					   th:field="*{__${items}__[__${itemStat.index}__].selected}"/>
				<label class="form-check-label"
					   th:for="|${type}-*{__${items}__[__${itemStat.index}__].value}|"
					   th:text="*{__${items}__[__${itemStat.index}__].displayValue}">
					Value
				</label>
			</div>
		</div>
	</div>
</div>

<section layout:fragment="content" class="container-fluid" id="skr-match-making">
	<h1 th:text="#{match_making}">Match making</h1>

	<div
		id="skr-match-making-saved-info"
		style="display: none;"
		class="alert text-center alert-info pt-1 pb-1"
		th:text="#{match_making_saved_message}">
		Match making settings were saved successfully! No match with other players was found right now. You can try to include more settings or wait until other players setup their match making.
	</div>

	<div id="skr-game-created-modal-wrapper">
		<div class="modal" id="skr-game-created-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="skr-game-created-modal-content">
					<div class="modal-header">
						<div class="text-center w-100">
							<div th:text="#{match_making_game_created}">
								A new game was now created via matchmaking! Do you want to open it?
							</div>
							<div class="mt-4">
								<b th:text="#{match_making_game_created_disable_hint_start}">Important:</b>
								<span th:text="#{match_making_game_created_disable_hint_end}">
									Match making has now been disabled for all participants. You can manually reactivate it again.
								</span>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<skr-button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{no}">
							No
						</skr-button>
						<skr-button
							type="button"
							class="btn btn-success"
							id="skr-game-created-confirm-button"
							th:text="#{yes}">
							Yes
						</skr-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form action="#" th:action="@{/match-making/}" th:object="${request}" method="post" id="skr-match-making-form">
		<skr-button type="submit" class="btn btn-primary mb-3" id="skr-match-making-save-button" form="skr-match-making-form" th:text="#{save}">
			Save
		</skr-button>

		<div th:text="#{match_making_description}">
			When activating your settings will be compared to all other players with active match making. If a match is found when you are activating a new game will be created right away, and the
			other players will be notified. If not, you can allow more options or wait until other players with matching settings activate their match making.
		</div>

		<div class="mt-4">
			<b th:text="#{match_making_disable_hint_start}">Important:</b>
			<span th:text="#{match_making_disable_hint_end}">
				When a new game is created match making is disabled for all participants. Match making needs to be reactivated manually then.
			</span>
		</div>

		<div class="form-check mt-4 mb-4">
			<input type="checkbox" class="form-check-input" id="skr-match-making-active" th:field="*{active}"/>
			<label class="form-check-label" for="skr-match-making-active" th:text="#{activate_match_making}">
				Activate match making
			</label>
		</div>

		<div class="mb-4 d-inline-flex align-items-center">
			<label for="faction-select" class="me-4" th:text="|#{faction}:|">Faction:</label>

			<select class="form-select" id="faction-select" th:field="*{factionId}">
				<option
					th:each="faction : ${factions}"
					th:value="${faction.id}"
					th:text="${@masterDataService.getI18NValue(faction.id)}"
				>
					Orion Conglomerate
				</option>
			</select>
		</div>

		<div class="row">
			<div th:replace="~{dashboard/match-making::item('player_count', 'playerCountItems')}"></div>
			<div th:replace="~{dashboard/match-making::item('game_mode', 'gameModeItems')}"></div>
			<div th:replace="~{dashboard/match-making::item('coop', 'coopItems')}"></div>
			<div th:replace="~{dashboard/match-making::item('galaxy_size', 'galaxySizeItems')}"></div>
			<div th:replace="~{dashboard/match-making::item('bot_count', 'botCountItems')}"></div>
		</div>
	</form>

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => window.matchMaking.init());
	</script>
</section>
</body>
</html>
