<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{open_games} - #{application_name}|"></title>
	</head>
	<body>
		<th:block th:fragment="search-params">
			<div class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item">
				<input type="text" class="form-control" id="name" name="name" th:placeholder="#{name}" th:value="${param.name}" />
			</div>
			<div class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item">
				<select class="form-select" id="winCondition" name="winCondition">
					<option th:text="|-- #{win_condition} --|" th:value="''"></option>
					<option
						th:selected="${param.winCondition != null && param.winCondition.toString().equals(winCondition.name())}"
						th:each="winCondition : ${winConditions}"
						th:value="${winCondition.name()}"
						th:text="#{'win_condition_' + ${winCondition.name()}}"
					>
						Survive
					</option>
				</select>
			</div>
			<div class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item">
				<select class="form-select" id="onlyOpenGames" name="onlyOpenGames">
					<option th:selected="${param.onlyOpenGames == null || param.onlyOpenGames.toString().equals('true')}" th:text="#{only_open_games}" value="true">Only open games</option>
					<option th:selected="${param.onlyOpenGames != null && param.onlyOpenGames.toString().equals('false')}" th:text="#{all_games}" value="false">All games</option>
				</select>
			</div>
			<div
				class="col-sm-6 col-lg-3 col-xl-3 skr-fullpage-search-item"
				th:insert="~{dashboard/fullpage-search-table-fragments::yes-no-select('finished', #{finished})}"
			></div>
		</th:block>

		<th:block th:fragment="table-header">
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'EXISTING_GAMES_NAME', #{name}, false)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'EXISTING_GAMES_GAME_MODE', #{win_condition}, false)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'EXISTING_GAMES_CREATED', #{created}, true)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'EXISTING_GAMES_PLAYERCOUNT', #{players}, true)}"></div>
			<div th:replace="~{dashboard/fullpage-search-table-fragments::column-header('col-2', 'EXISTING_GAMES_STATUS', #{status}, true)}"></div>
			<div class="col-2"></div>
		</th:block>

		<th:block th:fragment="table-row(result)">
			<div class="col-6 col-sm-3 d-inline-block d-md-none fw-bold" th:text="|#{name}:|">Name:</div>
			<div class="col-6 col-sm-3 col-md-2 value" th:text="${result.name}">Duell</div>
			<div class="col-6 col-sm-3 d-inline-block d-md-none fw-bold" th:text="|#{win_condition}:|">Game mode:</div>
			<div class="col-6 col-sm-3 col-md-2 value" th:text="#{'win_condition_' + ${result.winCondition}}">Just for fun</div>
			<div class="col-6 col-sm-2 d-inline-block d-md-none fw-bold" th:text="|#{created}:|">Created:</div>
			<div class="col-6 col-sm-4 col-md-2 value text-end" th:text="${#dates.format(result.created, 'dd.MM.yyyy HH:mm')}">31.12.2018 18:45</div>
			<div class="col-6 col-sm-3 d-inline-block d-md-none fw-bold" th:text="|#{players}:|">Players:</div>
			<div class="col-6 col-sm-3 col-md-2 value text-end" th:text="|${result.currentPlayerCount} / ${result.playerCount}|">1 / 2</div>
			<div class="col-6 col-sm-3 d-inline-block d-md-none fw-bold" th:text="|#{status}:|">Status:</div>
			<div
				class="col-6 col-sm-3 col-md-2 value text-end"
				th:text="${result.finished} ? #{finished} : (${result.started} ? |#{started} (#{round} ${result.round})| : #{open})"
			>
				Started
			</div>
			<div class="col-12 col-md-2 text-end">
				<skr-button
					th:if="${!guest && !result.started && !result.finished && !result.playerOfGame && result.currentPlayerCount < result.playerCount}"
					type="button"
					th:id="|skr-dashboard-play-game-button-${result.id}|"
					class="w-100 mb-2 btn skr-join-game-button btn-success fw-bold"
					th:onclick="|joinGame(${result.id})|"
				>
					<i class="text-white fa-fw fas fa-plus"></i>
					<span th:text="#{join_game}">Join game</span>
				</skr-button>
				<a th:href="|game?id=${result.id}|">
					<skr-button class="w-100 btn btn-primary skr-game-details-button">
						<i class="fa-fw fas fa-info"></i>
						<span th:text="#{details}">Details</span>
					</skr-button>
				</a>
			</div>
		</th:block>

		<section layout:fragment="content">
			<div class="alert text-center alert-info" th:if="${guest}" id="skr-game-guest-join-info-text">
				<span th:text="#{guest_ai_join_text}"> Guest accounts are automatically deleted after 48 hours, so you cannot join games of other players! </span>
			</div>

			<div
				th:replace="~{dashboard/fullpage-search-table-fragments::content(${@dashboardUrlConstants.OPEN_GAMES}, 'dashboard/open-games::search-params', ${@dashboardUrlConstants.OPEN_GAMES_DEFAULT_SEARCH}, ${results}, ${sortItems}, 'dashboard/open-games::table-header', #{no_games_found}, 'dashboard/open-games::table-row(${result})', ${completeUrl})}"
			></div>
		</section>
	</body>
</html>
