<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<body>
		<section layout:fragment="content" class="container text-center">
			<div class="alert alert-success" id="skr-registration-finished-heading">
				<h3 class="mb-0" th:text="#{${headline}}">Your account has been created!</h3>
			</div>
			<h4>
				<span th:text="#{guest_account_finished_three}">For new players it is recommended to start with the</span>
				<a href="/story-mode" th:text="#{story_mode}">Story mode</a>
				<span th:text="#{guest_account_finished_four}">.</span>
			</h4>
		</section>
	</body>
</html>
