<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content" class="container">
		<form action="#" th:action="@{/reset-password}" th:object="${request}" method="post">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
					<div class="card">
						<div class="card-header">
							<h1 class="card-title mb-0" th:text="#{password_recovery}">Password recovery</h1>
						</div>
						<div class="card-body">
							<div></div>
							<div>
								<label th:text="|#{email}:|">E-mail:</label>
								<input type="text" class="form-control" th:field="*{email}" th:placeholder="#{email}">
								<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								<skr-button type="submit" class="mt-2 btn btn-primary w-100" th:text="#{send_password_recovery_email}">Send password recovery E-mail</skr-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>