<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<head>
	<title th:text="|#{story_mode} - #{application_name}|"></title>
</head>
<body>
<section layout:fragment="content" id="skr-story-mode-page">
	<div class="d-inline-flex align-items-center mb-4">
		<h2 th:text="#{story_mode}">Story mode</h2>
		<skr-button class="btn btn-primary ms-3" type="button" th:if="${showContinueButton}" th:text="#{continue}"> Continue</skr-button>
	</div>

	<div id="skr-ingame-starting-mission-modal-wrapper">
		<div class="modal" id="skr-ingame-starting-mission-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="skr-ingame-starting-mission-modal-content">
					<div class="modal-header">
						<div class="text-center w-100" th:text="#{starting_mission}">Starting mission...</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-3">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title text-center mb-0" th:text="#{unlocked_campaigns}">Unlocked campaigns</h5>
				</div>
				<div class="card-body">
					<nav class="nav nav-tabs flex-column">
						<a
							th:each="campaign : ${campaigns}"
							class="nav-link text-center"
							th:classappend="${campaign.hasHighestUnlockedMission} ? 'active' : ''"
							data-bs-toggle="tab"
							th:href="|#${campaign.faction.id}|"
							th:text="|${@masterDataService.getI18NValue(campaign.faction.id)}|"
						>
							Faction name
						</a>
					</nav>
				</div>
			</div>
		</div>
		<div class="col-9">
			<div class="tab-content">
				<div
					class="tab-pane"
					th:classappend="${campaign.hasHighestUnlockedMission} ? 'active' : ''"
					th:each="campaign : ${campaigns}"
					th:id="|${campaign.faction.id}|"
					role="tabpanel"
					aria-labelledby="summary-tab"
				>
					<div class="d-inline-flex align-items-center">
						<img th:src="|/factions/${campaign.faction.id}/logo.png|"/>
						<h3 class="ms-3" th:text="${@masterDataService.getI18NValue(campaign.faction.id)}">Faction name</h3>
					</div>

					<div class="mt-2" th:text="${@masterDataService.getFactionDescription(campaign.faction.id)}">Faction description text</div>

					<ul class="nav nav-tabs mt-4 skr-mission-selection-tabs" role="tablist">
						<li class="nav-item" th:each="mission,iter : ${campaign.missions}">
							<a
								th:href="|#${campaign.faction.id}_${mission.missionNumber}|"
								data-bs-toggle="tab"
								class="nav-link"
								th:disabled="${!mission.unlocked}"
								th:classappend="${mission.highestUnlockedMission} ? 'active' : (${!mission.unlocked} ? 'disabled': '')"
							>
								<i class="fa-fw fas" th:classappend="${mission.completed} ? 'fa-check' : (${mission.unlocked} ? 'fa-play' : 'fa-lock')"></i>
								<span th:text="|#{mission} ${mission.missionNumber}: #{${campaign.faction.id} + '_' + ${mission.missionNumber} + '_mission_title'}|">
									Mission 1: Title
								</span>
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div
							class="tab-pane"
							th:each="mission : ${campaign.missions}"
							th:id="|${campaign.faction.id}_${mission.missionNumber}|"
							role="tabpanel"
							th:classappend="${mission.highestUnlockedMission} ? 'active' : ''"
						>
							<skr-button
								type="button"
								th:if="${mission.gameId == 0}"
								class="btn btn-success mb-3 skr-start-mission-button"
								th:id="|skr-start-mission-button-${campaign.faction.id}-${mission.missionNumber}|"
								th:faction="${campaign.faction.id}"
								th:mission="${mission.missionNumber}"
								onclick="window.storyModeOverview.startMission(this.getAttribute('faction'), this.getAttribute('mission'))"
								data-bs-toggle="modal"
								data-bs-target="#skr-ingame-starting-mission-modal"
							>
								<i class="fa-fw fas fa-play"> </i>
								<span th:text="${mission.completed} ? #{play_mission_again} : #{start_mission}">Start mission</span>
							</skr-button>

							<a type="button" th:if="${mission.gameId > 0}" th:href="|/ingame/game?id=${mission.gameId}|">
								<skr-button
									class="btn btn-primary mb-3 skr-continue-mission-button"
									th:id="|skr-start-mission-button-${campaign.faction.id}-${mission.missionNumber}|"
								>
									<i class="fa-fw fas fa-play"> </i>
									<span th:text="#{continue}">Continue</span>
								</skr-button>
							</a>

							<div th:text="#{${campaign.faction.id} + '_' + ${mission.missionNumber} + '_mission_description'}">Mission description</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
