<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}"
>
	<head>
		<title th:text="|#{account} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<div class="row">
				<div class="col-xl-6">
					<div class="card">
						<h2 class="card-header" th:text="#{settings}">Settings</h2>
						<div class="card-body">
							<div class="row">
								<label class="col-form-label col-sm-6" th:text="|#{username}:|">Username:</label>
								<div class="col-sm-6">
									<input
										type="text"
										class="form-control"
										readonly="readonly"
										name="username"
										th:field="${request.username}"
									/>
								</div>
							</div>

							<div class="row">
								<label class="col-form-label col-sm-6" th:text="|#{language}:|">Language:</label>
								<div class="col-sm-6">
									<div class="btn-group w-100">
										<skr-button
											type="button"
											class="btn btn-primary w-100"
											th:text="${#locale.getDisplayLanguage(#locale)}"
											data-bs-toggle="dropdown"
										>
											English
										</skr-button>
										<skr-button
											type="button"
											class="btn btn-primary dropdown-toggle dropdown-toggle-split"
											data-bs-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false"
										></skr-button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="?lang=en" onclick="userDetails.changeLanguage('en')">English</a>
											<a class="dropdown-item" href="?lang=de" onclick="userDetails.changeLanguage('de')">Deutsch</a>
										</div>
									</div>
								</div>
							</div>

							<hr />

							<form action="#" th:action="@{/user-settings}" th:object="${request}" method="post">
								<div class="row">
									<label class="col-form-label col-sm-6" th:text="|#{old_password}:|">old password:</label>
									<div class="col-sm-6">
										<input
											type="password"
											autocomplete="off"
											class="form-control"
											th:field="*{oldPassword}"
											name="oldPassword"
										/>
										<span
											class="text-danger"
											th:if="${#fields.hasErrors('oldPassword')}"
											th:errors="*{oldPassword}"
										></span>
									</div>
								</div>
								<div class="row">
									<label class="col-form-label col-sm-6" th:text="|#{new_password}:|">New password:</label>
									<div class="col-sm-6">
										<input
											type="password"
											autocomplete="off"
											class="form-control"
											th:field="*{newPassword}"
											name="password"
										/>
										<span
											class="text-danger"
											th:if="${#fields.hasErrors('newPassword')}"
											th:errors="*{newPassword}"
										></span>
									</div>
								</div>
								<div class="row">
									<label class="col-form-label col-sm-6" th:text="|#{new_password_repeated}:|">
										Repeat new password:
									</label>
									<div class="col-sm-6">
										<input type="password" autocomplete="off" class="form-control" th:field="*{newPasswordRepeated}" />
										<span
											class="text-danger"
											th:if="${#fields.hasErrors('newPasswordRepeated')}"
											th:errors="*{newPasswordRepeated}"
										></span>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-sm-6"></div>
									<div class="col-sm-6">
										<skr-button type="submit" class="btn btn-primary w-100" th:text="#{set_new_password}">
											Set new password
										</skr-button>
									</div>
								</div>
							</form>

							<hr th:if="!${isAdmin}" />

							<skr-button
								type="button"
								class="btn btn-danger"
								id="skr-dashboard-delete-user-button"
								th:if="!${isAdmin}"
								data-bs-toggle="modal"
								data-bs-target="#skr-delete-user-modal"
							>
								<i class="fas fa-trash-alt"></i>
								<span th:text="#{delete_account}">Delete account</span>
							</skr-button>

							<div id="skr-delete-user-modal-wrapper">
								<div class="modal" id="skr-delete-user-modal" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content" id="skr-delete-user-modal-content">
											<div class="modal-header">
												<div class="text-center" style="width: 100%" th:text="#{really_delete_account}">
													Really delete account?
												</div>
											</div>
											<div class="modal-footer">
												<skr-button
													type="button"
													class="btn btn-primary"
													data-bs-dismiss="modal"
													aria-label="Cancel"
													th:text="#{cancel}"
												>
													Cancel
												</skr-button>
												<skr-button
													type="button"
													class="btn btn-danger"
													id="delete-user-button"
													th:text="#{delete}"
													onclick="window.userDetails.deleteUser()"
												>
													Delete
												</skr-button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6" th:if="${@mailService.mailsEnabled()}">
					<div class="card">
						<h2 class="card-header" th:text="#{email_settings}">E-mail settings</h2>
						<div class="card-body">
							<form
								action="#"
								id="skr-mail-form"
								th:action="@{/user/email}"
								th:object="${emailSettingsRequest}"
								method="post"
							>
								<div class="row">
									<label class="col-form-label col-sm-6" th:text="|#{email}:|">E-mail:</label>
									<div class="col-sm-6">
										<input type="email" class="form-control" th:field="*{email}" />
										<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
									</div>
								</div>
								<div class="row">
									<label class="col-form-label col-10 col-sm-6" th:text="|#{send_round_email_notification}:|">
										Send E-mail notifications when new rounds start:
									</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{roundNotificationsEnabled}" />
									</div>
								</div>
								<div class="row">
									<label class="col-form-label col-10 col-sm-6" th:text="|#{send_player_joined_email_notification}:|">
										Send E-mail notifications when players join your games
									</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{joinNotificationsEnabled}" />
									</div>
								</div>
								<div class="row">
									<label
										class="col-form-label col-10 col-sm-6"
										th:text="|#{send_game_can_be_started_email_notification}:|"
									>
										Send E-mail notifications when games you created are full and can be started
									</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{gameFullNotificationsEnabled}" />
									</div>
								</div>
								<div class="row">
									<label class="col-form-label col-10 col-sm-6" th:text="|#{send_invited_to_game_email_notification}:|">
										Send E-mail notifications when someone invites you to a game
									</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{invitedToGameNotificationsEnabled}" />
									</div>
								</div>
								<div class="row">
									<label
										class="col-form-label col-10 col-sm-6"
										th:text="|#{send_turn_not_finished_email_notification}:|"
									>
										Send E-mail when you haven't finished a turn in one of your game after some time
									</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{notFinishTurnNotificationsEnabled}" />
									</div>
								</div>
								<div class="row">
									<label
										class="col-form-label col-10 col-sm-6"
										th:text="|#{send_last_to_finish_turn_email_notification}:|"
									>
										Send E-mail when you are the last player that hasn't finished the turn in a game after some time
									</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{lastToFinishTurnNotificationsEnabled}" />
									</div>
								</div>
								<div class="row">
									<label
										class="col-form-label col-10 col-sm-6"
										th:text="|#{send_match_making_game_created_notification}:|"
									>
										Send E-mail when a game was created for you via match making
									</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{matchMakingGameCreatedNotificationsEnabled}" />
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6"></div>
									<div class="col-sm-6">
										<skr-button
											type="submit"
											form="skr-mail-form"
											class="btn btn-primary w-100"
											th:text="#{save_email_settings}"
										>
											Save E-mail settings
										</skr-button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
