<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<body>
		<section layout:fragment="content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-5 mx-auto">
						<div class="alert alert-danger text-center">
							<i class="fas fa-exclamation-triangle"></i>
							<span class="ms-2" id="skr-error-page-message" th:text="#{${message}}"></span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
