<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div id="skr-game-mini-map-wrapper">
				<div id="skr-game-mini-map" th:galaxySize="${game.galaxySize}" onclick="window.ingame.moveToPositionViaMiniMap(event, this.getAttribute('galaxySize'))">
					<style th:text="${@galaxyHelper.getVisibilityCoordinatesMinimapStyle(game.galaxySize)}"></style>

					<div
						th:each="coord : ${visibilityCoordinates}"
						class="skr-ingame-visibility-background"
						th:style="${@galaxyHelper.getCoordinatesPercentageStyle(coord.x - 125, coord.y - 125, game.galaxySize)}"
					></div>

					<div th:each="ship : ${singleShips}" th:style="${@galaxyHelper.getCoordinatesPercentageStyle(ship.x, ship.y, game.galaxySize)}" class="skr-game-ship-mouse">
						<div
							th:class="'ship-in-space' + (${ship.player.id == playerId} ? ' owned-ship': '')"
							th:style="|border-color: #${ship.retrieveColor(playerId)}; background-color: #${ship.retrieveColor(playerId)};|"
						></div>
					</div>

					<div
						th:each="cluster : ${shipClusters}"
						th:style="${@galaxyHelper.getCoordinatesPercentageStyle(cluster.x, cluster.y, game.galaxySize)}"
						class="ship skr-game-ship-cluster-mouse"
					>
						<div
							th:class="'ship-in-space' + (${cluster.ships.get(0).player.id == playerId} ? ' owned-ship': '')"
							th:style="|border-color: #${cluster.ships.get(0).retrieveColor(playerId)}; background-color: #${cluster.ships.get(0).retrieveColor(playerId)};|"
						></div>
					</div>

					<div
						th:each="planet : ${planets}"
						th:style="${@galaxyHelper.getCoordinatesPercentageStyle(planet.x, planet.y, game.galaxySize)}"
						th:class="|skr-game-planet ${planet.starbaseId != null ? 'skr-game-planet-with-starbase' : ''}|"
					>
						<div th:style="${'border-color: #' + planet.playerColor + ';'}" class="colonized" th:if="${planet.playerId != null}"></div>
						<div style="border-color: grey" class="colonized" th:if="${planet.playerId == null}"></div>

						<div
							th:style="${'border-color: #' + planet.ownShips.get(0).retrieveColor(playerId) + ';'}"
							class="ship"
							th:if="${planet.ownShips != null && planet.ownShips.size() > 0}"
						></div>

						<div
							th:style="${'border-color: #' + planet.foreignShips.get(0).retrieveColor(playerId) + ';'}"
							class="ship"
							th:if="${planet.foreignShips != null && planet.foreignShips.size() > 0}"
						></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
