<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="content" class="container small">
			<a th:id="${template.id}" class="skr-anchor"></a>
			<div class="modal-header p-0 border-bottom-0">
				<h5 th:text="|${@masterDataService.getShipTemplateName(template)} (#{tech_level} ${template.techLevel})|">
					Ship template name
				</h5>
				<skr-button
					th:if="${modal == true}"
					type="button"
					class="btn-close"
					th:id="|skr-close-ship-template-modal-button-${template.id}|"
					data-bs-dismiss="modal"
					aria-label="Close"
				></skr-button>
			</div>
			<div class="row skr-ship-template-details">
				<div class="col-sm-4 col-md-3 mb-2">
					<a
						th:if="!${modal == true}"
						href="javascript:;"
						data-bs-toggle="modal"
						th:data-bs-target="|#skr-ship-image-modal-${template.id}|"
					>
						<img th:src="${template.createFullImagePath()}" />
					</a>

					<a th:if="${modal == true}" href="javascript:;" onclick="ingame.openBigShipImageModal(event)">
						<img th:src="${template.createFullImagePath()}" th:templateId="${template.id}" />
					</a>

					<div th:insert="~{dashboard/infos/ship-image-modal::modal}" th:with="template=${template}"></div>
				</div>
				<div class="col-sm-8 col-md-9">
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<div class="row">
								<div
									class="col-12 no-border-xs"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{crew},value=${template.crew},icon='fas fa-male'"
								></div>
								<div
									class="col-12 no-border-xs"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{mass},value=${template.mass},icon='fas fa-weight-hanging'"
								></div>
								<div
									class="col-12 no-border-xs"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{fuel_tank},value=${template.fuelCapacity},icon='fas fa-circle'"
								></div>
								<div
									class="col-12 no-border-xs"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{storage_space},value=${template.storageSpace},icon='fa fa-cube'"
								></div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="row">
								<div
									class="col-12 no-border-xs no-border-sm"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{propulsion_systems_short},value=${template.propulsionSystemsCount},icon='fas fa-angle-double-right'"
								></div>
								<div
									class="col-12 no-border-xs no-border-sm"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{energy_weapons},value=${template.energyWeaponsCount},icon='fas fa-bolt'"
								></div>
								<div
									class="col-12 no-border-xs no-border-sm"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{projectile_weapons},value=${template.projectileWeaponsCount},icon='fas fa-rocket'"
								></div>
								<div
									class="col-12 no-border-xs no-border-sm"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{hangar},value=${template.hangarCapacity},icon='fab fa-gitter'"
								></div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div
									class="col-sm-6 col-md-12 only-border-sm"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{money},value=${template.costMoney},icon='fa fa-coins'"
								></div>
								<div
									class="col-sm-6 col-md-12"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{mineral1},value=${template.costMineral1},icon='fas fa-certificate'"
								></div>
								<div
									class="col-sm-6 col-md-12 only-border-sm"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{mineral2},value=${template.costMineral2},icon='fas fa-square-full'"
								></div>
								<div
									class="col-sm-6 col-md-12"
									th:insert="~{ingame/icon-label::content}"
									th:with="label=#{mineral3},value=${template.costMineral3},icon='fas fa-play fa-rotate-90'"
								></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-bs-placement="top" th:each="ability : ${abilityDescriptions}">
				<div class="col-12">
					<b th:text="${ability.name}">Ability name</b>
					<div th:text="${ability.description}">Ability description</div>
				</div>
			</div>
		</th:block>
	</body>
</html>
