[tooltip] {
	position: relative;
}

[tooltip]::before,
[tooltip]::after {
	line-height: 1;
	user-select: none;
	pointer-events: none;
	position: absolute;
	display: none;
	font-size: 1rem;
}

[tooltip]::after {
	content: attr(tooltip);
	z-index: 1300;

	font-family: Helvetica, sans-serif;
	text-align: center;

	min-width: 3em;
	max-width: 70em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	padding: 1ch 1.5ch;
	border-radius: 0.3ch;
	box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
	background: rgb(20, 20, 20);
	color: #fff;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
	display: block;
}

[tooltip]::before {
	content: '';
	z-index: 1301;
	border: 5px solid transparent;
}

/* flow="up" */
[tooltip]:not([flow])::before,
[tooltip][flow^='up']::before {
	bottom: 100%;
	border-bottom-width: 0;
	border-top-color: rgb(20, 20, 20);
}

[tooltip]:not([flow])::after,
[tooltip][flow^='up']::after {
	bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^='up']::before,
[tooltip][flow^='up']::after {
	left: 50%;
	transform: translate(-50%, -0.5em);
}

/* flow="down" */
[tooltip][flow^='down']::before {
	top: 100%;
	border-top-width: 0;
	border-bottom-color: rgb(20, 20, 20);
}

[tooltip][flow^='down']::after {
	top: calc(100% + 5px);
}

[tooltip][flow^='down']::before,
[tooltip][flow^='down']::after {
	left: 50%;
	transform: translate(-50%, 0.5em);
}

/* flow="downright" */
[tooltip][flow^='downright']::before {
	top: 100%;
	border-top-width: 0;
	border-bottom-color: rgb(20, 20, 20);
}

[tooltip][flow^='downright']::after {
	top: calc(100% + 5px);
}

[tooltip][flow^='downright']::before,
[tooltip][flow^='downright']::after {
	left: 80%;
	transform: translate(-50%, 0.5em);
}

/* flow="downleft" */
[tooltip][flow^='downleft']::before {
	top: 100%;
	border-top-width: 0;
	border-bottom-color: rgb(20, 20, 20);
}

[tooltip][flow^='downleft']::after {
	top: calc(100% + 5px);
}

[tooltip][flow^='downleft']::before,
[tooltip][flow^='downleft']::after {
	left: 20%;
	transform: translate(-50%, 0.5em);
}

/* flow="upright" */
[tooltip][flow^='upright']::before {
	bottom: 100%;
	border-bottom-width: 0;
	border-top-color: rgb(20, 20, 20);
}

[tooltip][flow^='upright']::after {
	bottom: calc(100% + 5px);
}

[tooltip][flow^='upright']::before,
[tooltip][flow^='upright']::after {
	left: 80%;
	transform: translate(-50%, -0.5em);
}
[tooltip][flow^='left']::before {
	top: 50%;
	border-right-width: 0;
	border-left-color: #333;
	left: calc(0em - 5px);
	transform: translate(-0.5em, -50%);
}

/* flow="left" */
[tooltip][flow^='left']::before {
	top: 50%;
	border-right-width: 0;
	border-left-color: #333;
	left: calc(0em - 5px);
	transform: translate(-0.5em, -50%);
}

[tooltip][flow^='left']::after {
	top: 50%;
	right: calc(100% + 5px);
	transform: translate(-0.5em, -50%);
}

/* flow="right" */
[tooltip][flow^='right']::before {
	top: 50%;
	border-left-width: 0;
	border-right-color: #333;
	right: calc(0em - 5px);
	transform: translate(0.5em, -50%);
}

[tooltip][flow^='right']::after {
	top: 50%;
	left: calc(100% + 5px);
	transform: translate(0.5em, -50%);
}
