@import 'bootstrap/dist/css/bootstrap.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'skr_tooltips.scss';

body {
  position: relative;
  min-height: 100vh;
}

.navbar-nav .nav-item.active {
  font-weight: bold;
}

.navbar-item .fas {
  vertical-align: top;
}

section {
  padding-bottom: 2.5em;
}

.header {
  background: #dfdfdf;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
}

#skr-dashboard-header .dropdown-menu {
  right: 0;
  left: auto;
}

#skr-landingpage-content .jumbotron {
  background: url('/images/landingpage/screenshot.jpg') no-repeat center;
  height: 500px;
}

#skr-landingpage-content .jumbotron h1 {
  color: white;
  padding: 4em 0;
  font-size: 3.2em;
  margin-top: 0.2em;
  background-image: radial-gradient(ellipse closest-side, #666666, rgba(255, 0, 0, 0));
}

#skr-landingpage-showcase .row {
  padding: 2em 5em 4em 5em;
}

#skr-landingpage-showcase .row .description {
  font-size: 1.3em;
}

.skr-landingpage-showcase-row-header {
  width: 100%;
  text-align: center;
}

.skr-landingpage-showcase-row-header h3 {
  margin-bottom: 1.15em;
}

.skr-landingpage-showcase-row-left {
  background-color: var(--color-landingpage-contrast-background);
  text-align: left;
}

.skr-landingpage-showcase-row-right {
  text-align: left;
}

.skr-landingpage-showcase-row-right img {
  border: 1px solid grey;
}

#skr-landingpage-factions .faction {
  padding: 2em;
}

#skr-landingpage-factions .description {
  font-size: 1.3em;
}

#factions {
  margin-top: 1rem;
}

#factions .nav-tabs {
  margin-bottom: 0;
}

#factions .tab-pane {
  height: 100%;
}

#factions .card {
  height: 100%;
  border: 0 none;
}

#factions .nav-tabs .nav-link {
  color: #495057;
  border: 0 none;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#factions .nav-tabs .nav-link img {
  margin-top: 0.5rem;
}

#factions .nav-tabs .nav-link.active {
  background-color: var(--color-landingpage-contrast-background);
}

.faction-ship {
  background-color: var(--color-landingpage-contrast-background);
  padding: 0.5em 1.5em 1em 1.5em;
  margin: 0.8em;
}

#skr-landingpage-factions .card-header {
  background-color: var(--color-landingpage-contrast-background);
}

.collapse-faction-button {
  display: none;
}

#skr-landingpage-factions .faction-headline {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 1.25rem;
}

#skr-landingpage-create-account-button {
  font-size: 1.5em;
}

#skr-dashboard-main-section {
  padding-top: 4.5em;
}

#skr-dashboard-notifications-dropdown-menu .scroll-wrapper {
  overflow: auto;
  max-height: 300px;
  min-width: 670px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card {
  margin-bottom: 10px;
}

h1.card-title {
  font-size: 2em;
  margin-bottom: 0;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.custom-select,
.form-control {
  border-color: gray !important;
  border-radius: 0.25rem !important;
}

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  text-align: right;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group-text {
  border-color: gray !important;
}

.tt-hint {
  color: #999;
}

.tt-menu {
  /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.form-control:disabled {
  color: #6c757d;
}

#skr-dashboard-game-options .collapser:focus {
  box-shadow: none;
}

#skr-dashboard-game-options skr-button.skr-ingame-help-show-modal-button {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.player-name {
  font-weight: bold;
}

.player-name:hover {
  color: #555555 !important;
}

.fuel {
  background-color: var(--color-fuel);
}

.mineral1 {
  background-color: var(--color-mineral1);
}

.mineral2 {
  background-color: var(--color-mineral2);
}

.mineral3 {
  background-color: var(--color-mineral3);
}

.fa,
.fas,
.far,
.fab {
  font-size: 1.5em;
}

.fa-male {
  color: var(--color-colonists);
}

.fa-monument {
  color: var(--color-mines);
}

.fa-cube {
  color: var(--color-supplies);
}

.fa-coins, .fa-box {
  color: var(--color-money);
}

.fa-industry {
  color: var(--color-factories);
}

.fa-fort-awesome {
  color: var(--color-defense);
}

.fa-thermometer-half {
  color: var(--color-temperature);
}

.fa-circle {
  color: var(--color-fuel);
}

.fa-certificate {
  color: var(--color-mineral1);
}

.fa-square-full {
  color: var(--color-mineral2);
}

.fa-play {
  color: var(--color-mineral3);
}

.fa-tablet-alt {
  color: var(--color-overview);
}

.fa-globe {
  color: var(--color-colonies);
}

.fa-building {
  color: var(--color-orbitalsystems);
}

.fa-warehouse {
  color: var(--color-buildings);
}

.fa-project-diagram {
  color: var(--color-starbase);
}

.fa-mandalorian {
  color: var(--color-nativespecies);
}

.fa-book-open {
  color: var(--color-logbook);
}

.fa-space-shuttle {
  color: var(--color-ships);
}

.fa-grip-vertical {
  color: var(--color-fleets);
}

.fa-angle-double-right {
  color: var(--color-propulsionsystems);
}

.fa-bolt {
  color: var(--color-energyweapons);
}

.fa-rocket {
  color: var(--color-projectileweapons);
}

.fa-exchange-alt {
  color: var(--color-transport);
}

.fa-tasks {
  color: var(--color-tasks);
}

.fa-searchengin {
  color: var(--color-scanner);
}

.fa-arrows-alt {
  color: var(--color-navigation);
}

.fa-retweet {
  color: var(--color-routes);
}

.fa-signal {
  color: var(--color-tactics);
}

.fa-cog {
  color: var(--color-settings);
}

.fa-bomb {
  color: var(--color-war);
}

.fa-hands-helping {
  color: var(--color-tradeagreement);
}

.fa-peace {
  color: var(--color-nonaggressiontreaty);
}

.fa-galactic-republic {
  color: var(--color-alliance);
}

.fa-sort-amount-up-alt {
  color: var(--color-starbase);
}

.fa-tools {
  color: var(--color-fleets);
}

.skr-ingame-help-show-modal-button {
  padding: 0;
  border: 0 none;
  border-radius: 6px;
  display: unset;
  line-height: 1;
}

.fa-question {
  font-size: 0.8em;
  vertical-align: middle;
  height: 16px;
}

.skr-light-ground-units {
  color: var(--color-lightgroundunits);
}

.skr-heavy-ground-units {
  color: var(--color-heavygroundunits);
}

.skr-game-planet {
  position: absolute;
}

.skr-game-planet-with-starbase {
  position: absolute;
}

.skr-game-ship-mouse {
  position: absolute;
}

.skr-game-ship-cluster-mouse {
  position: absolute;
}

.skr-game-planet .colonized {
  position: absolute;
  width: 13px;
  height: 13px;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  z-index: 100;
  left: -6px;
  top: -6px;
}

.skr-game-planet .starbase {
  position: absolute;
  left: -16px;
  top: -16px;
  width: 33px;
  height: 33px;
  border: 2px solid;
  border-radius: 30px;
  cursor: pointer;
  z-index: 99;
}

.skr-game-planet .ship {
  position: absolute;
  left: -11px;
  top: -11px;
  width: 23px;
  height: 23px;
  border: 2px solid;
  border-radius: 30px;
  cursor: pointer;
  z-index: 99;
}

.ship-in-space {
  position: absolute;
  border: 1px solid;
  cursor: pointer;
  z-index: 100;
}

.skr-ingame-visibility-background {
  position: absolute;
  pointer-events: none;
}

#skr-game-mini-map-wrapper {
  background: #151515;
  position: relative;
  margin-top: 0.5rem;
}

#skr-game-mini-map {
  user-select: none;
  position: absolute;
}

#skr-game-mini-map,
#skr-game-mini-map div {
  cursor: pointer;
}

#skr-game-mini-map div {
  pointer-events: none;
}

#skr-game-mini-map .skr-ingame-visibility-background {
  background: #0a0a0a;
  border-radius: 550px;
}

#skr-game-mini-map .ship-in-space {
  width: 2px;
  height: 2px;
  border-radius: 10px;
  border-width: 1px;
}

#skr-game-mini-map .skr-game-planet .colonized {
  width: 3px;
  height: 3px;
  border-radius: 10px;
  border-width: 2px;
  left: -1px;
  top: -1px;
}

#skr-game-mini-map .skr-game-planet-with-starbase .colonized {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  border-width: 3px;
  left: -2px;
  top: -2px;
}

#skr-game-mini-map .skr-game-planet .ship {
  width: 8px;
  height: 8px;
  left: -3px;
  top: -3px;
}

#skr-game-mini-map .skr-game-planet-with-starbase .ship {
  width: 10px;
  height: 10px;
  left: -4px;
  top: -4px;
}

@media (min-width: 576px) and (max-width: 991px) {
  .modal-xl {
    max-width: 576px;
  }
}

@media (min-width: 992px) {
  .modal-xl {
    max-width: 992px;
  }
}

.skr-ship-image-modal {
  max-width: 1100px;
}

.skr-ship-image-modal-content {
  width: 1059px;
}

.skr-starbase-image-modal {
  max-width: 1100px;
}

.skr-starbase-image-modal-content {
  width: 1059px;
}

.skr-table-header {
  background: #ccc;
}

.skr-table-header {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-weight: bold;
  color: black;
  font-size: 1.1em;
}

.skr-table-row {
  padding-top: 6px;
  padding-bottom: 6px;
}

.skr-table-row:nth-child(even) {
  background: #ddd;
}

.skr-table-row:nth-child(odd) {
  background: white;
}

.skr-table-row:hover {
  background: #bbb;
}

@media (max-width: 768px) {
  .skr-table-row .value {
    text-align: right;
  }
}

.skr-table-search input,
.skr-table-search select,
.skr-table-search-buttons skr-button {
  margin-bottom: 1rem;
}

.small .fa,
.small .fas,
.small .far,
.small .fab {
  font-size: 1em;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 576px) {
  .skr-ship-template-details .no-border-xs {
    border-right: 1px solid #dee2e6 !important;
  }
}

@media (min-width: 576px) {
  .skr-ship-template-details .no-border-sm {
    border-right: 0 none !important;
  }
}

@media (min-width: 768px) {
  .skr-ship-template-details .no-border-sm {
    border-right: 1px solid #dee2e6 !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .skr-ship-template-details .only-border-sm {
    border-right: 1px solid #dee2e6 !important;
  }
}

.skr-ship-template-details label {
  margin-top: 0 !important;
  margin-bottom: 0.2em !important;
}

.faction-button .skr-ship-template-details label {
  margin-top: 0.3em !important;
  margin-bottom: 0 !important;
}

.skr-achievement-item i {
  color: blue;
}

.skr-achievement-item .card {
  min-height: 11rem;
  margin-bottom: 2rem;
  border-color: gray;
}

.skr-achievement-item .disabled {
  color: gray;
  border-color: rgba(0, 0, 0, 0.125);
}

.skr-achievement-item .disabled i {
  color: gray;
}

.skr-achievement-item.active .card {
  border-color: blue;
}

.skr-infos-link-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
}

.skr-infos-link-item:hover {
  text-decoration: none;
}

.skr-infos-anomalie-image-wrapper {
  margin-right: 1rem;
  width: 59px;
  height: 59px;
}

.skr-infos-anomalie-background {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url('/images/space/2.gif');
  background-position: center;
}

.skr-infos-anomalie-background img {
  position: absolute;
}

a.skr-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

a,
.btn-link {
  text-decoration: none;
}

.breadcrumb {
  padding-left: 5px;
}

#skr-dashboard-language-menu-button {
  padding-top: 0.45rem;
}

.navbar-brand {
  padding-left: 0.75rem;
}

.navbar-brand img {
  vertical-align: sub;
}

#skr-dashboard-admin-menu-button,
#skr-dashboard-notifications-menu-button {
  position: relative;
  top: 3px;
}

#skr-ingame-nav-bar #skr-dashboard-notifications-menu-button {
  position: relative;
  top: -8px;
}

#skr-dashboard-account-menu-button {
  position: relative;
  top: 2px;
}

#skr-dashboard-feedback-button {
  position: relative;
  top: 3px;
}

/* Chromium based scrollbar styling */
::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 5px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #bbbbbe;
  border: solid 5px transparent;
  border-radius: 14px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox scrollbar styling */
* {
  scrollbar-color: #bbbbbe transparent;
  scrollbar-width: thin;
}

.skr-performance-icon .fa-angle-double-up {
  color: var(--color-performance-icon-very-high);
}

.skr-performance-icon .fa-angle-up {
  color: var(--color-performance-icon-high);
}

.skr-performance-icon .fa-minus {
  color: var(--color-performance-icon-medium);
}

.skr-performance-icon .fa-angle-down {
  color: var(--color-performance-icon-low);
}

.skr-performance-icon .fa-angle-double-down {
  color: var(--color-performance-icon-very-low);
}

@media (max-width: 576px) {
  .skr-search-sort-select {
    margin-bottom: 1rem;
  }
}

.skr-dashboard-notification-item:focus {
  background-color: transparent;
}

.skr-dashboard-notification-item i {
  font-size: 1rem;
}

.skr-dashboard-notification-item span {
  vertical-align: text-top;
}

.nav-tabs .nav-link {
  color: unset;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
