/* titillium-web-regular - latin-ext_latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('/webfonts/titillium-web-latin-400-normal.woff2');
}

:root {
	--color-fuel: rgb(0, 248, 248);
	--color-mineral1: rgb(0, 248, 248);
	--color-mineral2: rgb(0, 248, 248);
	--color-mineral3: rgb(0, 248, 248);
	--color-colonists: rgb(0, 248, 248);
	--color-mines: rgb(0, 248, 248);
	--color-supplies: rgb(0, 248, 248);
	--color-money: rgb(0, 248, 248);
	--color-buildings: rgb(0, 248, 248);
	--color-factories: rgb(0, 248, 248);
	--color-defense: rgb(0, 248, 248);
	--color-overview: rgb(0, 248, 248);
	--color-colonies: rgb(0, 248, 248);
	--color-orbitalsystems: rgb(0, 248, 248);
	--color-starbase: rgb(0, 248, 248);
	--color-nativespecies: rgb(0, 248, 248);
	--color-logbook: rgb(0, 248, 248);
	--color-ships: rgb(0, 248, 248);
	--color-fleets: rgb(0, 248, 248);
	--color-propulsionsystems: rgb(0, 248, 248);
	--color-energyweapons: rgb(0, 248, 248);
	--color-projectileweapons: rgb(0, 248, 248);
	--color-transport: rgb(0, 248, 248);
	--color-tasks: rgb(0, 248, 248);
	--color-scanner: rgb(0, 248, 248);
	--color-navigation: rgb(0, 248, 248);
	--color-routes: rgb(0, 248, 248);
	--color-tactics: rgb(0, 248, 248);
	--color-settings: rgb(0, 248, 248);
	--color-war: red;
	--color-tradeagreement: orange;
	--color-nonaggressiontreaty: royalblue;
	--color-alliance: green;
	--color-lightgroundunits: rgb(0, 248, 248);
	--color-heavygroundunits: rgb(0, 248, 248);
	--color-landingpage-contrast-background: #2e2e2e;
	--color-landingpage-contrast-border: #bbbbbb;
	--color-theme-background: rgb(0, 26, 26);
	--color-theme-form-control-background: #004747;
	--color-theme-form-control-background-disabled: #353535;
	--color-theme-form-control-background-hover: #133535;
	--color-theme-border: rgb(0, 248, 248);
	--color-theme-link: rgb(0, 248, 248);
	--color-temperature: rgb(0, 248, 248);
	--color-performance-icon-very-high: rgb(0, 248, 248);
	--color-performance-icon-high: rgb(0, 248, 248);
	--color-performance-icon-medium: rgb(0, 248, 248);
	--color-performance-icon-low: rgb(0, 248, 248);
	--color-performance-icon-very-low: rgb(0, 248, 248);
}

body,
.card,
.table,
.table tr td,
.table thead th,
.modal-content,
.skr-game-details-mouseover-content,
#skr-game-selection-wrapper,
.navbar {
	background-color: var(--color-theme-background) !important;
	color: var(--color-theme-link);
}

section .nav-item .nav-link.active {
    background: transparent !important;
}

body {
	background-color: #222222 !important;
}

.breadcrumb {
	background-color: rgb(20, 20, 20) !important;
}

.header, .footer .bg-dark {
    background-color: var(--color-theme-background) !important;
}

a,
.text-primary,
.btn-link,
.skr-ingame-clickable-anchor {
	color: var(--color-theme-link) !important;
}

.modal-content {
	border: 1px solid var(--color-theme-border);
}

.card,
.card-header {
	border-color: var(--color-theme-border);
}

.skr-table-header {
	background-color: transparent;
	color: var(--color-theme-link);
}

.skr-table-row {
	color: var(--color-theme-link);
}

.skr-table-row:nth-child(even),
.skr-ingame-ship-mouse-over-ship-item:nth-child(even),
.user-stats-row:nth-child(even) {
	background: none !important;
}

.skr-table-row:nth-child(odd),
.skr-ingame-ship-mouse-over-ship-item:nth-child(odd),
.user-stats-row:nth-child(odd) {
	background: none !important;
}

.skr-table-row:hover,
.skr-ingame-ship-mouse-over-ship-item:hover,
.user-stats-row:hover {
	background: rgb(56, 56, 56) !important;
}

input::placeholder {
	color: rgb(197, 197, 197) !important;
}

.form-select option {
	background-color: rgb(0 71 71) !important;
}

.form-check-input, .form-check-input:checked, .form-check-input:focus {
	color: var(--color-theme-link);
    background-color: var(--color-theme-form-control-background);
    border-color: transparent !important;
	outline: 0;
    box-shadow: none;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%2300f8f8' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%2300f8f8'/%3e%3c/svg%3e");
}

.form-control:focus, .form-control {
    color: var(--color-theme-link);
    background-color: var(--color-theme-form-control-background);
	border: 1px transparent !important;
	outline: 0;
    box-shadow: none;
}

.skr-game-player-search {
	color: var(--color-theme-link);
    background-color: var(--color-theme-form-control-background) !important;
	border: 1px transparent !important;
	outline: 0;
    box-shadow: none;
}

.page-link, .page-link:focus {
	color: var(--color-theme-link);
    background-color: var(--color-theme-form-control-background);
	border: 1px solid #001a1a !important;
	outline: 0;
    box-shadow: none;
}

.page-item.active .page-link {
	background-color: var(--color-theme-form-control-background-hover);
}

.form-select, .form-select:focus {
    color: var(--color-theme-link);
    background-color: var(--color-theme-form-control-background);
    border-color: transparent !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2300f8f8' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    box-shadow: none;
	background-position: right .3rem center;
    padding-right: 1.5rem;
    text-overflow: ellipsis;
}

.typeahead__item, .typeahead__list {
	color: var(--color-theme-link);
    background-color: var(--color-theme-form-control-background) !important;
	border-color: var(--color-theme-border) !important;
	box-shadow: none;
	padding: 0 !important;
}

.typeahead__dropdown .typeahead__dropdown-item:not([disabled]).active>a, .typeahead__dropdown .typeahead__dropdown-item:not([disabled])>a:focus, .typeahead__dropdown .typeahead__dropdown-item:not([disabled])>a:hover, .typeahead__list .typeahead__item:not([disabled]).active>a, .typeahead__list .typeahead__item:not([disabled])>a:focus, .typeahead__list .typeahead__item:not([disabled])>a:hover {
    background-color: var(--color-theme-form-control-background-hover) !important;
}

.typeahead__container {
    font-family: inherit;
    line-height: 1;
}

.form-control:hover,
.form-select:hover,
.page-link:hover {
	color: var(--color-theme-link) !important;
	background-color: var(--color-theme-form-control-background-hover) !important;
}

.form-control:disabled,
.form-control[readonly],
.form-select:disabled,
.page-item.disabled .page-link,
.form-control:hover:disabled,
.form-select:hover:disabled {
	background-color: var(--color-theme-form-control-background-disabled) !important;
	color: #6c757d !important;
}

.breadcrumb-item.active {
    color: var(--color-theme-link);
    text-shadow: rgb(0 248 248) 0px 0px 5px;
}

.breadcrumb-item+.breadcrumb-item::before {
	text-shadow: none;
	color: var(--color-theme-link);
}

.nav-tabs .nav-link {
	border-color: var(--color-theme-form-control-background);
	border-bottom-width: 1px;
	border-width: 0 0 1px 0;
}

.nav-tabs .nav-link.active {
	border-width: 1px 1px 0 1px;
	border-color: var(--color-theme-form-control-background);
}

.nav-tabs, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: var(--color-theme-form-control-background);
}

.skr-game-details-mouseover {
	border-color: var(--color-theme-border);
}

.btn-secondary,
.btn-secondary:focus {
	border-color: var(--color-theme-form-control-background);
}

#factions .nav-tabs .nav-link.active {
	background-color: var(--color-landingpage-contrast-background) !important;
}

.text-danger {
	color: rgb(248, 45, 45) !important;
}

.skr-game-details-mouseover {
	background-color: var(--color-theme-form-control-background-hover) !important;
	color: var(--color-theme-link);
}

#skr-game-ship-transporter > .position-fixed,
#skr-ingame-space-folds-content > .position-fixed,
.dropdown-menu,
.dropdown-item:hover,
.dropdown-item:active {
	background-color: var(--color-theme-background);
	color: var(--color-theme-link);
}

.navbar-toggler-icon {
	color: var(--color-theme-link);
}

.table-hover tbody tr:hover, tbody tr:hover {
    background-color: #00000054 !important;
    color: var(--color-theme-link) !important;
}

.btn.active {
	background-color: var(--color-theme-form-control-background-hover) !important;
}

body, select, skr-button {
  font-family: Titillium Web;
  text-transform: uppercase;
}

skr-button.btn,
skr-button.btn:hover {
    outline: none;
    border: none;
    background-color: transparent !important;
    line-height: 1;
    text-decoration: none;
    text-shadow: rgb(0 248 248) 0px 0px 1px;
    color: var(--color-theme-link);
    cursor: pointer;
    transition: color 150ms ease 0s, text-shadow 150ms ease 0s;
    padding: 0;
	white-space: nowrap;
}

skr-button.btn:hover, skr-button.btn:focus {
    color: #b5fdf9;
    text-shadow: 0 0 7px;
}

.btn-primary {
	color: var(--color-theme-link);
	border-color: var(--color-theme-border);
	background-color: var(--color-theme-form-control-background) !important;
}

skr-button {
	position: relative;
}

#skr-dashboard-notifications-menu-button .badge, .bg-info {
	padding: 0.15em 0.45em;
	color: var(--color-theme-link);
	background-color: var(--color-theme-form-control-background) !important;
	font-weight: normal;
}

#skr-dashboard-notifications-menu-button i {
    font-size: 1.1rem;
}

.navbar-brand img {
	filter: drop-shadow(2px 4px 6px black);
}

#skr-ingame-footer-collapse-button span {
	top: -3px;
}

.fas, .fab, .fa {
	filter: opacity(0.5) !important;
	text-shadow: none;
}

#footer,
#skr-game-galaxy-wrapper {
	background-color: #222222;
}

#skr-game-selection-wrapper {
	font-size: 0.75em;
}

#skr-game-selection span {
	letter-spacing: 1px;
	text-shadow: 0px 0px 5px;
	font-weight: normal !important;
}

#skr-game-selection span.normal {
	text-shadow: none;
}

#skr-game-selection ::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 14px 14px var(--color-theme-form-control-background);
}

/* Firefox scrollbar styling */
#skr-game-selection * {
	scrollbar-color: var(--color-theme-form-control-background) transparent;
}

.border-start {
    border-left: 1px solid var(--color-theme-border) !important;
}

.border-end {
	border-right: 1px solid var(--color-theme-border) !important;
}

a:not(.nav-link) {
    text-shadow: none;
}

#skr-game-selection .skr-planet-open-starbase-button span, #skr-game-selection .skr-starbase-open-planet-button span {
	text-shadow: none;
}

.orbital-system-button {
	width: calc(100% - 0.2rem);
}

skr-button.dropdown-toggle.collapser::after {
    margin-right: 1.5rem;
    margin-top: 0.7rem;
}

#skr-ingame-starbase-upgrade-content .row {
	margin: 0.5rem 0;
}

.fw-bold, b {
    font-weight: normal !important;
    text-shadow: 0px 0px 5px;
}

tbody, td, tfoot, th, thead, tr {
    border: none;
}

td skr-button.btn.btn-link {
    min-width: 80%;
}

.ship-component-collapse-button + skr-button,
skr-button + .dropdown-toggle,
#skr-game-mode-text + skr-button {
    display: none !important;
}

#skr-game-mode-text {
    height: 2.1rem;
    line-height: 1.3rem;
}

#skr-game-selection skr-button span {
	text-shadow: none !important;
}

#skr-starbase-shipconstruction-build-button {
	width: 100%;
	margin-bottom: 1rem !important;
}

input::placeholder {
	color: var(--color-theme-link) !important;
}

.ship-component-collapse-button i {
    margin-right: 0.5rem;
	position: relative;
    top: -1px;
}

.ship-component-collapse-button i + span {
	position: relative;
	top: -2px;
}

.modal-header {
    border-bottom: 1px solid var(--color-theme-border);
}

.modal-footer {
	border-top: 1px solid var(--color-theme-border);
}

.skr-ingame-starbase-select-button, .skr-ingame-starbase-produce-button {
    width: 100%;
}

#skr-game-selection-wrapper td {
	height: 2rem;
}

#skr-ingame-turn-infos-menu-toggle {
    margin-top: 11px;
	margin-left: 0px !important;
}

#skr-ingame-story-mode-dropdown-button .dropdown-toggle-split {
    margin-left: 0 !important;
    position: relative;
    top: -3px;
    left: 5px;
}

#skr-overview-politics-content skr-button.dropdown-toggle::after {
    left: -15px;
    position: relative;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300f8f8'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.border-primary {
	border-color: var(--color-theme-border) !important;
}

#skr-infos-space-combat-calculator select,
#skr-infos-space-combat-calculator input,
#skr-infos-orbital-combat-calculator select,
#skr-infos-orbital-combat-calculator input {
    margin-bottom: 0.5rem;
}

#skr-infos-space-combat-calculator label,
#skr-infos-orbital-combat-calculator label {
    padding: 0.4rem 0;
}

#skr-dashboard-admin-menu-button,
#skr-dashboard-account-menu-button {
    position: relative;
    top: 6px;
}

#skr-dashboard-notifications-menu-button {
	position: relative;
    top: .4rem;
}

#skr-dashboard-main-section .fa-search,
#skr-dashboard-main-section .fa-minus-circle {
    padding: 0.36rem;
}

.skr-search-sort-select {
    margin-top: 0.5rem;
}

.dropdown-menu {
    border: 1px solid var(--color-theme-border);
}

#skr-ingame-colony-overview-modal #name,
#skr-ingame-ship-overview-modal #name,
#skr-ingame-ship-overview-modal #fleetName,
#skr-ingame-starbase-overview-modal #name {
    height: 2.4rem;
}

.btn-group>.btn:hover {
    z-index: auto
}

#skr-dashboard-game-options .input-group-text {
    border-left: 2px solid var(--color-theme-background) !important;
    border-radius: 0;
    margin: 0;
}

span.typeahead__cancel-button {
    font-size: 1.5rem;
    line-height: 1;
    color: var(--color-theme-link);
}

.skr-game-remove-player-button {
    height: 2.3rem;
    line-height: 1.7rem !important;
    position: relative;
    top: -2px;
}

#skr-ship-courseselect-delete-course i {
    position: relative;
    top: -2px;
}

.skr-ingame-navigation-over-speed-warp-entry {
	color: red;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 0px 0;
	width: 100%;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 7.5px;
	cursor: pointer;
	box-shadow: none;
	background-color: var(--color-theme-form-control-background);
	border-radius: 5px;
	border: none;
  }
  input[type=range]::-webkit-slider-thumb {
	box-shadow: none;
	border: none;
	height: 19px;
	width: 19px;
	border-radius: 50%;
	background: var(--color-theme-link);
	cursor: pointer;
	-webkit-appearance: none;
	opacity: 0.5;
	position: relative;
	top: -1px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background-color: var(--color-theme-form-control-background);
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 7.5px;
	cursor: pointer;
	box-shadow: none;
	background-color: var(--color-theme-form-control-background);
	border-radius: 5px;
	border: none;
  }
  input[type=range]::-moz-range-thumb {
	box-shadow: none;
	border: none;
	height: 19px;
	width: 19px;
	border-radius: 50%;
	background: var(--color-theme-link);
	cursor: pointer;
	-webkit-appearance: none;
	opacity: 0.5;
	position: relative;
	top: -1px;
  }

#skr-game-selection-wrapper #skr-ship-stats-details-wrapper td,
#skr-game-selection-wrapper .skr-ingame-selection-panel-item td {
    height: auto;
}

skr-button.dropdown-toggle-split {
    display: inline-block !important;
    position: relative;
	width: 3rem;
	z-index: 1;
	margin-left: -20px !important;
}

skr-button.dropdown-toggle-split:not(#skr-ingame-turn-infos-menu-toggle)::after {
	opacity: .99;
	position: relative;
	left: -23px;
	top: 7px;
}

skr-button.dropdown-toggle-split:not(#skr-ingame-turn-infos-menu-toggle) {
	margin-left: 0.2rem;
}

.damage, .crew, .fuel, .cargo {
    background: repeating-linear-gradient(    -45deg,    #00f8f8,    #00f8f8 5px,    #00cccc 5px,    #00cccc 10px  );
    border-radius: 10px;
}

#skr-ship-stats-details-wrapper .btn-group skr-button.btn {
	position: relative;
}

h5, h4, h3, h2, h1 {
    text-shadow: 0px 0px 5px;
}

#skr-ingame-footer-collapse-button i {
    color: var(--color-theme-link) !important;
}

th {
    text-shadow: 0px 0px 5px;
    font-weight: normal;
}

.table {
	border-radius: 10px;
}

.navbar-nav .nav-item.active {
    font-weight: normal;
    text-shadow: 0px 0px 5px !important;
}

#skr-dashboard-account-menu-button {
    margin-right: 1rem;
}

[tooltip]::after {
	color: var(--color-theme-link);
	background-color: var(--color-theme-form-control-background);
	text-shadow: none;
}

/* flow="up" */
[tooltip]:not([flow])::before,
[tooltip][flow^='up']::before {
	border-top-color: var(--color-theme-form-control-background);
}

/* flow="down" */
[tooltip][flow^='down']::before {
	border-bottom-color: var(--color-theme-form-control-background);
}

/* flow="downright" */
[tooltip][flow^='downright']::before {
	border-bottom-color: var(--color-theme-form-control-background);
}

/* flow="downleft" */
[tooltip][flow^='downleft']::before {
	border-bottom-color: var(--color-theme-form-control-background);
}

/* flow="upright" */
[tooltip][flow^='upright']::before {
	border-top-color: var(--color-theme-form-control-background);
}

/* flow="left" */
[tooltip][flow^='left']::before {
	border-left-color: var(--color-theme-form-control-background);
}

/* flow="right" */
[tooltip][flow^='right']::before {
	border-right-color: var(--color-theme-form-control-background);
}

.text-light {
    color: inherit !important;
}

#skr-ship-stats-details-wrapper > .row > div,
#skr-starbase-stats-details-wrapper > .row > div {
    margin-bottom: 0.5rem;
}

.skr-achievement-item .disabled {
    opacity: .5;
    background-color: #333333 !important;
}

.skr-achievement-item .card {
    border-color: var(--color-theme-border);
}

.skr-achievement-item i {
    color: var(--color-theme-link);
}

#skr-story-mode-page .card-body .nav-link {
	background-color: var(--color-theme-form-control-background);
}

#skr-story-mode-page .nav-tabs .nav-link.active {
    border-width: 1px 1px 1px 1px;
    border-bottom-color: #222222;
}

#skr-game-selection .card {
    border-color: var(--color-theme-border);
}

img.skr-ingame-visibility-background {
    box-shadow: rgb(0 0 0) 0 0 5px 3px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px black)
}

.dropdown-item.disabled, .dropdown-item:disabled {
    opacity: 0.3;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
	border-color: transparent;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}

.skr-play-button,
.skr-game-details-button,
.skr-select-faction-button,
.skr-join-game-button,
.skr-continue-mission-button,
.skr-start-mission-button,
#skr-game-add-player-button {
    height: 38px;
    line-height: 27px !important;
}

#skr-dashboard-game-options-additional-settings .card {
    background-color: transparent !important;
    border-color: transparent
}

#skr-dashboard-game-options-additional-settings .card-body {
	width: calc(100% - 42px);
    padding-top: 2rem;
    margin-top: -1.5rem;
    border: 1px solid;
    background-color: var(--color-theme-background);
}

.input-group-text {
    background-color: var(--color-theme-form-control-background);
    border: 0;
    color: var(--color-theme-link);
}

#skr-ingame-send-message-modal-subject-input {
    margin-bottom: .5rem;
}

#skr-landingpage-content h5,
#skr-landingpage-content h4,
#skr-landingpage-content h3,
#skr-landingpage-content h2,
#skr-landingpage-content h1 {
	text-shadow: none;
}

#factions .nav-tabs .nav-link {
    background: transparent;
}

#skr-landingpage-content .nav-tabs {
	border: none !important;
}

.faction-ship {
    border-radius: 10px;
}

#skr-sound-toggle.nav-item {
    position: relative;
    top: -11px;
    margin-right: 0;
}

#skr-dashboard-nav-bar #skr-sound-toggle.nav-item {
    position: relative;
    top: 6px;
}

.btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus, .btn-check:focus+.btn-secondary, .btn-secondary:focus {
	box-shadow: none;
}

#skr-game-galaxy.animate {
	animation-delay: 0s;
	animation-name: animateInitialize;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

#skr-game-galaxy {
	display: none;
}

#skr-game-galaxy.show {
	display: block;
}

@keyframes animateInitialize {
	0% {
		filter: blur(15px) brightness(0) opacity(0);
	}
	100% {
		filter: none;
	}
}
