<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
	<div class="modal" id="skr-ingame-overview-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content" id="skr-ingame-overview-modal-content" data-bs-container="#skr-ingame-overview-modal">
				<div class="modal-header">
					<h3 th:text="${game.name}">Game name</h3>
					<skr-button type="button" class="btn-close" id="skr-close-overview-button" data-bs-dismiss="modal" aria-label="Close"></skr-button>
				</div>
				<div class="modal-body" data-bs-placement="top">
					<div class="container-fluid">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a href="#summary" data-bs-toggle="tab" class="nav-link active" th:text="#{summary}">Summary</a>
							</li>
							<li class="nav-item" th:if="${game.storyModeCampaign == null}">
								<a href="#players" data-bs-toggle="tab" class="nav-link" th:text="#{players}">Players</a>
							</li>
							<li class="nav-item">
								<a
									href="#news"
									data-bs-toggle="tab"
									class="nav-link"
									id="skr-ingame-overview-news-tab"
									onclick="window.ingame.markNewsAsRead()"
									data-bs-placement="top"
								>
									<span th:text="#{news}">News</span>
									<span th:if="${!newsViewed && news.size() > 0}" id="skr-ingame-overview-news-tab-badge" class="badge bg-info" th:text="${news.size()}"> 4 </span>
								</a>
							</li>
							<li class="nav-item" th:if="${game.storyModeCampaign == null}">
								<a href="#messages" data-bs-toggle="tab" class="nav-link" id="skr-ingame-overview-messages-tab">
									<span th:text="#{messages}">Messages</span>
									<span
										th:if="${unreadPlayerMessageCount > 0}"
										id="skr-ingame-overview-messages-tab-badge"
										class="badge bg-info"
										th:text="${unreadPlayerMessageCount}"
									>
										4
									</span>
								</a>
							</li>
							<li class="nav-item" th:if="${roundStatItems != null}">
								<a href="#stats" data-bs-toggle="tab" class="nav-link" id="skr-ingame-overview-stats-tab">
									<span th:text="#{statistics}">Statistics</span>
								</a>
							</li>
							<li class="nav-item" th:if="${game.storyModeCampaign == null}">
								<a href="#politics" data-bs-toggle="tab" class="nav-link">
									<span th:text="#{politics}">Politics</span>
									<span th:if="${toBeAcceptedCount > 0}" class="badge bg-info" id="skr-ingame-overview-politics-tab-badge" th:text="${toBeAcceptedCount}"> 2 </span>
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="summary" role="tabpanel" aria-labelledby="summary-tab" th:insert="~{ingame/overview/summary::content}"></div>
							<div class="tab-pane" id="players" role="tabpanel" aria-labelledby="players-tab">
								<div th:insert="~{ingame/overview/game-mode-info::content(${game}, ${deathFoeNotSeenYet}, ${deathFoe}, ${deathFoesNotSeenYet}, ${deathFoes})}"></div>
								<div class="row mt-4">
									<div class="col-12">
										<div th:insert="~{players-ranking::content}" th:with="players=${players},gameFinished=false"></div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="news" role="tabpanel" aria-labelledby="news-tab" th:insert="~{ingame/overview/news::content}"></div>
							<div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab" th:insert="~{ingame/overview/messages::content}"></div>
							<div class="tab-pane" id="politics" role="tabpanel" aria-labelledby="politics-tab" th:insert="~{ingame/overview/politics::content}"></div>
							<div
								class="tab-pane"
								id="stats"
								role="tabpanel"
								aria-labelledby="stats-tab"
								th:insert="~{ingame/overview/stats::content(${roundStatLabels}, ${roundStatItems})}"
							></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
