<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content(roundStatLabels, roundStatItems)">
			<div class="row" id="skr-overview-stats-content" th:if="${roundStatItems != null && roundStatItems.size() > 1}">
				<div class="col-12 mt-2">
					<div class="card">
						<div class="card-header">
							<h5>
								<span class="card-title" th:text="#{statistics}">Statistics</span>
							</h5>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-6" th:each="item : ${roundStatItems}">
									<canvas th:id="|skr-player-chart-${item.label}|"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

				<script type="text/javascript" th:inline="javascript" th:each="item : ${roundStatItems}">
					var data = {
						labels: [[${roundStatLabels}]],
						datasets: [
							{
								label: [[#{${item.label}}]],
								backgroundColor: [[${item.color}]],
								borderColor: [[${item.color}]],
								data: [[${item.values}]]
							},
						]
					};

					var config = {
						type: 'line',
						data,
						options: {
							xAxes: [{
								ticks: {
									autoskip: true
								}
							}]
						}
					};
					var chart = new Chart(document.getElementById('skr-player-chart-' + [[${item.label}]]), config);
				</script>
			</div>
		</div>
	</body>
</html>
