<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{data_privacy_statements} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<form action="#" th:action="@{/admin/data-privacy-statements}" th:object="${request}" method="POST">
				<h2 th:text="#{data_privacy_statements}">Data privacy statements</h2>

				<div class="row mb-2">
					<div class="col-12">
						<skr-button type="submit" class="btn btn-primary" id="skr-admin-save-data-privacy">
							<i class="fa fa-save"></i>
							<span th:text="#{save}">Save</span>
						</skr-button>
					</div>
				</div>

				<div class="row" id="skr-admin-data-privacy-cards">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title mb-0" th:text="${english}">English</h3>
							</div>
							<div class="card-body">
								<textarea class="form-control" th:field="*{textEnglish}" th:placeholder="${english}"></textarea>
								<span class="text-danger" th:if="${#fields.hasErrors('textEnglish')}" th:errors="*{textEnglish}"></span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title mb-0" th:text="${german}">German</h3>
							</div>
							<div class="card-body">
								<textarea class="form-control" th:field="*{textGerman}" th:placeholder="${german}"></textarea>
								<span class="text-danger" th:if="${#fields.hasErrors('textGerman')}" th:errors="*{textGerman}"></span>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>
