<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{discord_link} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<form action="#" th:action="@{/admin/discord-link}" th:object="${request}" method="POST">
				<h2 th:text="#{discord_link}">Discord Link</h2>

				<div class="row mb-1">
					<div class="col-sm-10 col-md-6 col-lg-5 col-xl-4">
						<input type="url" class="form-control" th:field="*{discordLink}" />
					</div>
					<div class="col-12">
						<skr-button type="submit" class="btn btn-primary mt-2" id="skr-admin-save-discord-link-button">
							<i class="fa fa-save"></i>
							<span th:text="#{save}">Save</span>
						</skr-button>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>
